[2019-06-04 07:55] csviri opened #3 "Spring boot support"
Create a new module, where we implement spring boot starter for:
- autoscanning @Controller annotations and automatic registration
- allow setting up kubernetes client by properties

[2019-06-04 08:02] csviri opened #4 "Smarter Event Scheduler"
Currently events are handled in single thread. We should have support for:
- Handle events concurrently
  - including customization of executor

- In case we are processing an event and more events come in for the same resource, we basically
  - want to process events sequentially for the same resource
  - process always just the last event (the other came in during the processing, can be discarde

[2019-06-04 08:08] csviri opened #5 "Muti Cluster Support"
Supporting multiple clusters (so in more technical sense, just bore k8s clients), so we can register for events for more cluster. In this way we will support orchestration scenarios we have, for multiple clusters.
- We need basically just named k8s clients,
- and registering event handlers for clients
- Also recieve all the clients in the context of a controller method call

[2019-06-04 11:58] csviri opened #6 "Handling Errors"
Todo

[2019-06-05 14:20] csviri opened #7 "Optional updates of resource after call createOrUpdate method"

[2019-06-05 14:23] csviri commented on #7
- should be there an optional return value?
- what if there is no finalizer? => we should probably update in this case anyway

[2019-06-12 15:35] #7 closed

[2019-06-12 15:40] csviri commented on #7
Implented api change by adding Optional return value:
https://github.com/ContainerSolutions/java-operator-sdk/commit/141c916dcde5749505e025c85b5ea3681f380be6

[2019-06-12 15:42] csviri commented on #6
for now cathcing exceptions and maring error state on resource is purely responsibility for the user. Will close this issue.

[2019-06-12 15:42] #6 closed

[2019-06-12 19:14] csviri opened #8 "Github release support"
On release make a github release entry

[2019-06-14 12:13] chauffer opened #9 "ccccccjelbbbtnhfrrivtkibvueivujtjfbjdtknbhbe"

[2019-06-14 12:14] chauffer opened #10 "ccccccjelbbbbneekdlcebdfegugvienrfltgditccje"

[2019-06-14 12:14] chauffer opened #11 "ccccccjelbbbdllniebvctvijgrftlbdktnbuduhfgju"

[2019-06-14 12:14] chauffer opened #12 "ccccccjelbbbnlhjdticrjuchrtdfdnfbirknhcrdgke"

[2019-06-14 12:15] chauffer opened #13 "ccccccjelbbbkruntnrjutlnbctrebnrhrhbfldgnlbr"

[2019-06-14 12:16] chauffer opened #14 "ccccccjelbbbkhlduvegndbblbrttbtirgftehjrktrv"

[2019-06-14 12:17] chauffer opened #15 "ccccccjelbbbbhcrdiinnlghetfhgfnbrlfvvnntcntj"

[2019-06-14 12:26] chauffer opened #16 "ccccccjelbbbhibcfncktgkikrvijjjfrcbdgegiktcj"

[2019-06-14 12:27] chauffer opened #17 "ccccccjelbbbbflneujvdudtflbgnflbijkkhjrnjigl"

[2019-06-14 12:27] chauffer opened #18 "ccccccjelbbbjjlheuivtctubnjcvhejefkukngbihjt"

[2019-06-14 12:30] chauffer opened #19 "ccccccjelbbbvbflkgfnecnvbedlijgdccccccjelbbbcnrdnntfcchtgblereicuhivekkegnce"

[2019-06-14 12:30] chauffer opened #20 "ccccccjelbbbjcgugnhdedrcjhbgcgkbbktrgjnhtece"

[2019-06-14 12:31] chauffer opened #21 "ccccccjelbbbbdbjfgidklujkeciieflbjknfunurikn"

[2019-06-14 12:32] chauffer opened #22 "ccccccjelbbbffbnhcedetdvnlrjfdnevvfijbbrgehf"

[2019-06-14 12:32] chauffer opened #23 "cccccjelbbbjelivlnluhtijuvlijrtierjvfdvdgkk"

[2019-06-14 12:33] chauffer opened #24 "ccccccjelbbbrugjetnrbdllrkfulfiknhldrdeeruii"

[2019-06-14 12:34] chauffer opened #25 "ccccccjelbbbdjiktcifdkcvvuhhgflkdijjufkcgnnn"

[2019-06-14 12:47] #9 closed

[2019-06-14 12:47] #10 closed

[2019-06-14 12:47] #11 closed

[2019-06-14 12:47] #12 closed

[2019-06-14 12:47] #13 closed

[2019-06-14 12:47] #14 closed

[2019-06-14 12:47] #15 closed

[2019-06-14 12:47] #16 closed

[2019-06-14 12:47] #17 closed

[2019-06-14 12:47] #18 closed

[2019-06-14 12:47] #19 closed

[2019-06-14 12:47] #20 closed

[2019-06-14 12:47] #21 closed

[2019-06-14 12:47] #22 closed

[2019-06-14 12:47] #23 closed

[2019-06-14 12:47] #24 closed

[2019-06-14 12:47] #25 closed

[2019-06-14 12:53] chauffer opened #26 "ccccccjelbbbvibrckuelrjrtgftitdictkkgrcukjkv"

[2019-06-14 13:27] underyx commented on #26
cccccchetkpighblnppindgpbubeckcunlkdhbhgkuhe

[2019-06-16 21:10] csviri opened #27 "Fix: Doneable class needs to be always created for custom resource"
This seems to be just an issue how fabric8 is hadling reflection internally, try to patch this in fabric8 client, so no boilerplate code is needed in addition to cutom resource class.

(List is actually not needed)

[2019-06-17 12:56] csviri opened #28 "CRD to Source Code Generator"
Generate Custom Resource POJO from CRD.

[2019-06-27 07:45] csviri opened #30 "Patch When Removing/Adding Finalizer?"
Since the remove finalizer (but also add finalizer some times) is the only operation that should be done after an object marked as delete, if there are more finalizers (think for example "Orphan") this usuallly leads to some not nice optimistic locking issues (howere that is always recoverable).
Check if how it would look like to remove / add  finalizer with patch.

Since in those cases this is st

[2019-08-21 08:23] csviri opened #32 "Consolidate Examples"
- Finish nginx example.
- and simple example
- spring boot example

[2019-08-21 08:24] csviri opened #33 "Continuous Integration"
- travis build
- integration tests
- unit tests

[2019-08-21 08:27] csviri opened #34 "Reconciliation: Operator code upgrade"
If we have a new version of operator so the implementation is changed, we want to actually reprocess the resources which are with the older version - after restart.

[2019-08-21 08:27] csviri opened #35 "Reconciliation: Failed operation retry"

[2019-08-21 08:31] csviri opened #36 "Reconciliation: real world resource change"

[2019-08-21 08:32] csviri opened #37 "Using MDC (Mapped Diagnostic Context) to improve logging"
In order to make it easy to work with logs, thus correlate log messages within an operator (1 process) we could add "correlation ids" or data (note this is not the same as we add correlation IDs in distributed systems) or more like the mapped diagnostic context:
see: https://www.baeldung.com/mdc-in-log4j-2-logback
to the logs. So we can correlate logs for the custom resource, but also for a reconc

[2019-08-21 08:44] csviri opened #38 "Optimize Event Processing on Restart with resourceRersion Aware Way"
Currently on startup we process again all the custom resources we are watching. This is not very efficient in case there are huge number of custom resources.

We can have processed just the new events not all of them from a certain resource version. Question is where and when to store the state that what was the last resource version we processed.
( https://kubernetes.io/docs/reference/using-api/a

[2019-08-21 08:48] csviri opened #39 "Reconciliation: failed retry notification"

[2019-08-28 08:28] adam-sandor opened #41 "Release to maven central from travisci"

[2019-09-03 15:01] kirek007 commented on #27
Hi, I'll take care of that one :)

[2019-09-03 15:02] cs-marek-ruszczyk commented on #27
Hi, I'll take care of this one! :)

[2019-09-10 13:32] csviri opened #43 "Distinguish between created or modified"
based on generation ?

[2019-10-22 12:12] csviri opened #47 "Remove Kind and Group from the controller annotation"
We changed to load CRD by name, the kind and group was used to load the CRD too.
But from kind and group can be read from loaded crd, for registering bean serialization etc.

[2019-12-04 13:25] csviri commented on #43
https://github.com/kubernetes-sigs/controller-runtime/blob/master/FAQ.md#q-how-do-i-have-different-logic-in-my-reconciler-for-different-types-of-events-eg-create-update-delete

[2019-12-04 13:26] csviri commented on #43
https://groups.google.com/forum/#!topic/operator-framework/m5e88_maYB8

[2019-12-19 13:10] #43 closed

[2019-12-19 13:10] csviri commented on #43
agreed to saty with the current api

[2019-12-19 13:11] #35 closed

[2019-12-19 13:11] csviri commented on #35
implemented

[2019-12-19 13:13] csviri commented on #4
imeplemented

[2019-12-19 13:13] #4 closed

[2019-12-19 13:13] csviri commented on #4
imeplemented

[2019-12-19 13:14] csviri commented on #35
https://github.com/ContainerSolutions/java-operator-sdk/pull/49

[2019-12-19 13:14] csviri commented on #4
https://github.com/ContainerSolutions/java-operator-sdk/pull/49

[2019-12-19 13:21] csviri commented on #33
implemented

[2019-12-19 13:21] #33 closed

[2019-12-19 13:22] csviri commented on #32
implemented

[2019-12-19 13:22] #32 closed

[2019-12-19 13:23] csviri opened #50 "Remove context object from api"

[2020-01-08 16:30] mycrEEpy commented on #39
0.3.9 currently has this issue right? Any updates on when a new version of the merged fix will get a release?

[2020-01-09 08:47] csviri commented on #39
Hi, this is a feature, that just currently on level of discussion.
(Will make better descriptions for issues) And its just about how to better notify (other than logs), but have also in case some metrics on failed execution. The retries for fails itself are already merged.

We plan some changes in the the close future, but we hope we can release a version 1.0.0 at most in february.

[2020-01-31 12:39] csviri commented on #41
Its working, crate new issues for improvement.

[2020-01-31 12:40] #41 closed

[2020-01-31 12:42] #8 closed

[2020-01-31 13:01] csviri opened #52 "Configurable Retrys"
Allow user to pass configuration for retry

[2020-02-03 10:34] MroKnowis opened #53 "Socket closed when trying to use OpenshiftApi"
Hi,
we are currently trying to set up an operator. While using the "Webserver" example we tried creating a route as well, which is currently not working for us. Trying to create any resource using the KubernetesClient is working, but as soon as we want to create something that is using the OpenShift APi (e.g. listing/creating projects, imagestreams, routes) causes the following exception:

[code]

[2020-02-04 11:23] adam-sandor commented on #53
Thanks for submitting this report! Looks like an interesting issue, as we are running operators on Openshift without issues.
I have two questions before I'd start looking deeper:
1. Does this happen only when the operator is running as a Pod on the cluster? Or also when running it on a local machine connecting to a remote cluster?
2. Would it be possible to share the full source code so we can mor

[2020-02-04 11:26] MroKnowis commented on #53
Hi,
yes when I run the application local and have an open proxy with 'oc proxy' the issue is the same.

I will prepare a full source project for you to reproduce.

[2020-02-04 11:36] adam-sandor commented on #53
Awesome, thank you!

[2020-02-04 11:58] MroKnowis commented on #53
Just a quick question: Are you able to create a Route in the WebServerController from the example?

[2020-02-04 13:38] adam-sandor opened #57 "Use Controller name as finalizer"
Use the name of the controller as the finalizer string, but keep it customizable.

[2020-02-04 14:53] #50 closed

[2020-02-04 14:53] #47 closed

[2020-02-04 15:15] adam-sandor commented on #53
good point, I will try

[2020-02-04 15:21] MroKnowis commented on #53
I just finished the example and here it is working, even though I am unsure why. However, I now know that the error is nothing from your side and I will therefore close this issue. Thank you for the help and quick answers, keep it up! :)

[2020-02-04 15:25] adam-sandor commented on #53
I'm still happy to look into what could be wrong if you share the full source. Could be something with how you initialize the client.

[2020-02-04 15:45] adam-sandor opened #58 "🐞Operation namespace not specified"
While running the ConcurrencyIT test I get this exception. Looks like the operation on EventDispatcher.java:85 doesn't set the namespace. However it's not so easy to set it, because replacing
`resourceOperation.lockResourceVersion(resource.getMetadata().getResourceVersion()).replace(resource);`
with something like
`resourceOperation.inNamespace(reource.getMetadata().getNamespace().lockResourceVers

[2020-02-05 11:38] MroKnowis commented on #53
Hi,
I now had a look on what is causing the error, apparently it is the version that is used. We are currently using io.fabric8:openshift-client:jar:4.4.1 while it seems that you are using io.fabric8:openshift-client:jar:4.2.2. If I set the version 4.2.2 as version in our commons pom everything is working fine.

Do you have any plans for the near future to support a later version of the openshift

[2020-02-05 11:41] csviri commented on #53
@MroKnowis yes we plan, currenlty working on the release 1.0 where we will use the most recent, after that we will provide service releases with dependency updates.

[2020-02-05 11:47] MroKnowis commented on #53
Is there already a date where you aim to relase the v1.0?

[2020-02-05 11:53] csviri commented on #53
If everything goes right, this month.

[2020-02-05 11:54] #53 closed

[2020-02-10 14:58] charlottemach commented on #27
The main contributor to the fabric8 client says it's not possible to have a default for the doneable class, as it's a builder (https://groups.google.com/forum/#!topic/fabric8/Q5_aSYyaAtA), so I'm looking into just creating some on our side.

[2020-02-13 13:55] csviri opened #60 "Review watch reconnect approach"

[2020-02-13 13:56] csviri commented on #58
why are we are not getting this anyway else? How do you create the clien?

[2020-02-13 14:25] #52 closed

[2020-02-13 15:38] csviri commented on #58
fixed here: https://github.com/ContainerSolutions/java-operator-sdk/pull/62

[2020-02-13 15:56] #58 closed

[2020-03-02 22:52] csviri opened #64 "Micrometer Integration"
Integrate micrometer to generate metrics about usage / execution.

[2020-03-02 22:52] csviri commented on #64
https://micrometer.io/

[2020-03-17 11:38] adam-sandor opened #65 "Quarkus integration"
[Quarkus](quarkus.io) provides Java with go-like startup time and memory footprint. As we are targeting Kubernetes-land where people love go, and hate Java for startup time and memory footprint (even if they are irrelevant for operators) we could try how would Quarkus improve things. It's also the main "Cloud Native Java" framework right now, so we could ride that wave.

[2020-04-13 19:08] adam-sandor opened #68 "Integration tests unreliable (intermittent failures)"
The integration tests are failing when the namespace doesn't yet exist. Might not be the only case but that's when I saw it.
Tested with: Docker for Mac & GKE

[2020-04-13 19:08] adam-sandor commented on #68
[manyResourcesTest-error.txt](https://github.com/ContainerSolutions/java-operator-sdk/files/4471324/manyResourcesTest-error.txt)

[2020-04-15 12:25] JRial95 opened #69 "WARNING: An illegal reflective access operation has occurred"
The pull request #66 introduces a quite old version of Javassist (version 3.8.0.GA released in 2009). This version throws warnings on recent versions of Java (tested on Java 13):
[code]
The solution is to update this library from `jboss:javassist:3.8.0.GA` to `org.javassist:javassist:3.27.0-GA` and modify the `toClass()` call in `ControllerUtils.java`.

[2020-04-15 13:54] csviri commented on #69
cool! thx!

[2020-04-15 13:54] #69 closed

[2020-04-16 11:48] JRial95 commented on #69
It looks like my pull request doesn't pass the integration tests. After investigation, it occurs only with Java 8 because the `toClass(Class<?> neighbor)` method is available for Java 9 and newer. Fixing the problem by using the `toClass()` method (commit e6868b5) works but the warnings reappear.

In order to fix the warnings issue and keep this code running in Java 8, I propose to change the `toC

[2020-04-16 19:39] yonimoses opened #71 "Question on deploying and packagin"
Hi
First, a very cool project ;)

I'm trying to deploy the boot sample without any luck on listening for incoming resources.
I've deployed my boot (based on 0.3.10-SNAPSHOT)
log says "2020-04-15 16:52:41.402  INFO 1 --- [           main] c.g.c.operator.Operator                  : Registered Controller: 'CustomServiceController' for CRD: 'class example.smallest.CustomService' for namespaces: [all/c

[2020-04-17 07:17] JRial95 commented on #71
I had the same issue. To make this sample working for all namespaces, replace this line
https://github.com/ContainerSolutions/java-operator-sdk/blob/e6868b567442a854d89861d878488fe427535e08/samples/basic/spring-boot/src/main/java/com/github/containersolutions/operator/sample/Config.java#L29
with

```controllers.forEach(operator::registerControllerForAllNamespaces);```

[2020-04-17 07:49] csviri commented on #71
Yep, that should be the way to do it!

[2020-04-17 07:54] csviri commented on #27
@charlottemach  nice work, will close this!

[2020-04-17 07:54] #27 closed

[2020-04-17 08:06] csviri commented on #69
Yep, looks good, please create a separate PR!, thx!

[2020-04-17 12:03] yonimoses commented on #71
Working! :)
Thanks for that.

[2020-04-17 12:03] #71 closed

[2020-04-20 12:25] csviri commented on #68
@adam-sandor I run the tests against EKS, GKE, minikube. But was not able to reproduce this.
Also not clear me from logs what is the issue. Maybe we should take a look together.

[2020-04-20 12:42] csviri commented on #5
Will close it for now since it is out of current scope, also its questinable if we need such thing

[2020-04-20 12:42] #5 closed

[2020-04-20 12:43] csviri commented on #3
Added sample how to integrate with spring boot, since its very easy, we won't add explicit support

[2020-04-20 12:43] #3 closed

[2020-04-20 13:25] csviri commented on #60
Tested (starting / stopping minikube) , fabric8 nicely handles reconnect

[2020-04-20 13:25] #60 closed

[2020-04-21 08:30] csviri commented on #38
Note that here is quite hard to achieve 100% correctness, because of concurrency issues involved.
If we receive multiple events for at once, its not guaranteed anywhere that in java threading we will start processing them in order according to resource version. So it might happen that operator starts processes a custom resource with a more up to date resource version, while an other thread is bloc

[2020-04-21 19:58] csviri opened #74 "Add Integration tests for Watching Particular Namesapces and Watching Whole Clusters"

[2020-04-21 20:17] #68 closed

[2020-04-21 21:43] csviri opened #75 "Improve Scheduling Algorithm to not use resourceVersion comparison"
- resourceVersion should not be used in comparison
- we should recive custom resource events on single thread and schedule them, and consider last recieved as the most fresh one

[2020-04-22 09:03] csviri commented on #75
https://github.com/ContainerSolutions/java-operator-sdk/pull/76

[2020-04-22 09:15] #75 closed

[2020-04-22 14:01] csviri commented on #65
Hmm, mabe we should focus just directly on GraalVM, not sure.

[2020-04-26 17:07] csviri opened #78 "Add GitHub actions release workflow"
Should be triggered by release creation:
https://help.github.com/en/actions/language-and-framework-guides/publishing-java-packages-with-maven

[2020-04-26 19:49] adam-sandor commented on #78
![image](https://user-images.githubusercontent.com/10675791/80318062-cb966080-8807-11ea-8a8b-d9b682950563.png)

[2020-04-27 09:34] adam-sandor opened #80 "Run integration tests during every build"
Either using an always available cluster or spin one up for the tests.

Always on cluster (GKE):
- Constant payments for infrastructure
+ Faster tests
+ Tests upgrades
+ Tests long-running operator

Ad-hoc cluster:
+ Free
- Slow to spin up
- Only tests freshly spun up operator
- Memory leaks and other issues of long-running process don't get tested

[2020-04-27 10:37] csviri commented on #30
See:
https://github.com/fabric8io/kubernetes-client/issues/2166

[2020-04-27 10:55] csviri commented on #30
Note that arrays cannot be manipulated with merge patch.
(btw this is nice comparison: https://erosb.github.io/post/json-patch-vs-merge-patch/ )

[2020-04-27 13:34] csviri opened #81 "Generation aware scheduling"
Optionally controller might be executed only if generation changes.
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#status-subresource

Note that we should support status / other sub-resources nicely in future, to have this really useful

[2020-04-28 09:15] csviri opened #82 "Spring Boot Starter + Auto Configuration Support"

[2020-04-28 09:31] csviri commented on #82
https://github.com/ContainerSolutions/java-operator-sdk/pull/83

[2020-04-28 09:38] csviri opened #84 "Create Nicer User Guide"
- its probably enough just to add it to the Readme.md for now

[2020-04-28 13:54] csviri commented on #78
https://github.com/samuelmeuli/action-maven-publish

[2020-04-28 18:43] csviri opened #86 "Unstable unit test"
https://github.com/ContainerSolutions/java-operator-sdk/actions/runs/90431045

[2020-04-28 18:48] csviri commented on #86
This is important, will give it priority

[2020-04-28 18:48] #82 closed

[2020-04-28 19:19] csviri opened #87 "Fix warnings during the build"

[2020-04-29 09:47] csviri commented on #86
added log message for further analyses:
https://github.com/ContainerSolutions/java-operator-sdk/commit/e881991daf22f68bccdf9a2f8db1caf7dc777b76

[2020-04-29 09:47] frankkoornstra commented on #84
It'd be really nice to have a short section on how to make things work with Spring :pray:

[2020-04-29 09:50] csviri commented on #84
@frankkoornstra  Yep, will add a nice user manual soon. For you can take a look on the spring boot auto config example:
https://github.com/ContainerSolutions/java-operator-sdk/tree/master/samples/basic/spring-boot

[2020-04-29 10:10] csviri commented on #87
https://github.com/ContainerSolutions/java-operator-sdk/commit/538bbfdc7245e2bbe43ec8bffb7fec05f22a04cc

[2020-04-29 10:10] #87 closed

[2020-05-01 09:18] csviri opened #90 "Fix deprecated sample CRD formats"
- in samples the CRD api is still : apiVersion: apiextensions.k8s.io/v1beta1
  it should be apiVersion: apiextensions.k8s.io/v1
- version format also changed of CRD see:
https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#create-a-customresourcedefinition

[2020-05-01 09:22] csviri commented on #81
https://github.com/ContainerSolutions/java-operator-sdk/tree/generation-aware-scheduling

[2020-05-01 09:50] csviri commented on #81
check: https://javadoc.io/doc/io.fabric8/kubernetes-model/1.0.47/io/fabric8/kubernetes/api/model/extensions/SubresourceReference.html

[2020-05-01 11:55] csviri opened #91 "Change samples to use status sub-resource"
Currently non of our samples handles status as sub-resource, check how this is done with fabric8 client, change a sample.
Note that  in this case status  change should be done in controller implementation.

[2020-05-01 12:18] csviri commented on #91
This is updateStatus on custom resource client:
https://github.com/fabric8io/kubernetes-client/issues/1548

[2020-05-03 09:25] csviri commented on #81
https://github.com/ContainerSolutions/java-operator-sdk/pull/92

[2020-05-03 09:37] csviri commented on #86
it seems, that the end date and the start date for 2 test was same in millisecond precision, this caused the test to fail:
https://github.com/ContainerSolutions/java-operator-sdk/runs/640224875

[2020-05-03 09:37] csviri commented on #86
Improved the test.

[2020-05-03 09:37] #86 closed

[2020-05-03 09:43] csviri opened #93 "Explicit support for status sub-resource handling"
TODO refine

[2020-05-04 08:02] #81 closed

[2020-05-04 11:57] csviri opened #94 "Support multiple versions of a CRD"
Within one CRD there could be multiple versions defined, we need to explicitly support this.

[2020-05-04 12:09] csviri commented on #28
see open api generator
https://github.com/OpenAPITools/openapi-generator

[2020-05-04 13:45] adam-sandor opened #95 "MySQLSchema example should create Secret with database connection params"
The MySQLSchemaOperator doesn't provide a way for an application to connect to the database it created. The solution would be:
1. Create a user with a  random password when creating the schema
2. Put the user credentials and the URL to the database into a Secret

Not only can an application now mount the Secret to connect to the database, but also the username/password are dynamically generated fo

[2020-05-04 16:32] adam-sandor opened #96 "Support building a Docker image and create Kubernetes manifest for the operator"
We should help developers not have to worry about how to dockerize and deploy their operators. There are many ways to implement this, one of which is using Quarkus.

Currently, not even all our examples are taking care of this, and it would be much nicer to do it on the SDK level.

[2020-05-05 08:02] csviri commented on #95
@adam-sandor should not we separate this operator to a new repository?

[2020-05-05 08:25] adam-sandor commented on #95
I don't know.. how would that help?

[2020-05-05 08:52] csviri commented on #95
We already have a  the WebServer example, which is the complex one. Don't see shy should we have two. We could have this schema operator as something that is not just an example,  but could be a sample standalone "project" using the SDK.

[2020-05-05 13:48] csviri commented on #78
fixed

[2020-05-05 13:48] #78 closed

[2020-05-08 19:44] sjmittal opened #101 "How does logging work?"
Hi,
Sorry I am new to Kubernetes and the operator sdk itself.
I was trying out few samples.
Like in `webserver` sample we have a console logger configured.
However when I deploy the webserver the operator kicks in and does the job, but I don't see any console logs.
How can I view the same?
Also if I configure the logger to log to a file, where would the file be generated?

I am trying a local depl

[2020-05-08 21:15] JRial95 commented on #101
You can view the logs using :
[code]
More information about this command [here](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#logs).

If you configure the logger to log to a file, the file will be generated inside the container itself. Keep in mind that a pod is a relatively ephemeral entity and can be replaced at any time by an identical pod on another node. In this case

[2020-05-09 07:31] sjmittal commented on #101
Hi,
I was able to dump the logs and also found other commands to get cluster info, node info, pod info etc. I am able to deploy the webserver operator and niginx webserver and expose it at service. However I am not able to connect to that service. From the logs I don't see any errors, so wanted to understand how can I debug this issue better.
 Here are some relevant details of commands I executed:

[2020-05-09 11:23] sjmittal commented on #101
I think there is a fix for this issue (for windows) discussed in:
https://github.com/kubernetes/minikube/issues/7644
It would be available in minikube version `minikube v1.10.0`

I guess for now a port forward command of `kubectl` works.
`kubectl port-forward pod/<pod name> <localhost port>:<target port>`
eg:
`kubectl port-forward pod/hellows-9467f7b4f-zm4tx 30226:80`

`http://localhost:30226/` wo

[2020-05-10 10:11] erikgb opened #102 "OperatorAutoConfiguration forms a bean dependency cycle with simplest setup"
The kubernetesClient bean defined in `OperatorAutoConfiguration` is not very usable at the moment.

Most `ResourceController` beans will have a dependency to a KubernetesClient bean. This means that  to get any value from the kubernetesClient bean defined in `OperatorAutoConfiguration`, the kubernetesClient bean will have to be created **before** your controller bean. And that is not possible now,

[2020-05-10 19:48] csviri commented on #102
Hi @erikgb , thx for feedback, I created a PR that improves the auto config a bit
https://github.com/ContainerSolutions/java-operator-sdk/pull/103

although I'm not sure this fixes you issue, however in the sample usage we have exactly this case covered (if I you understand your description correctly):
https://github.com/ContainerSolutions/java-operator-sdk/tree/master/samples/spring-boot-auto-con

[2020-05-10 21:27] csviri commented on #101
@sjmittal great, we also create a service inside the controller, it's  quite easy to expose it from that point, pls see https://kubernetes.io/docs/tutorials/hello-minikube/#create-a-service

@adam-sandor we probably need to improve the docs regarding to this in the example.

[2020-05-10 23:02] erikgb commented on #102
@csviri The problem is that `SplunkIndexController` _is a_ `ResourceController` bean, that requires a `KubernetesClient` bean. This creates the following dependency cycle (because of the autowired field `OperatorAutoConfiguration#resourceControllers` ) :

`SplunkIndexController`->`OperatorAutoConfiguration`->`SplunkIndexController`

I managed to workaround this issue by creating my own `Kubernetes

[2020-05-11 07:38] #101 closed

[2020-05-11 08:18] csviri commented on #102
@erikgb I added smoke tests into the sample (pls check the PR again). Again, in the sample, we are doing the same thing, but this should not be an issue, if you define everything as a bean (as you can see in the sample).

Since there is no real cyclic dependency between the beans. Unless you do some exotic thing like really autowireing the `OperatorAutoConfiguration` or things like that.

Spring j

[2020-05-11 17:40] adam-sandor opened #104 "Operator should not have to read CustomResourceDefinitions on startup"
Currently the operator gets certain CRD values from the cluster during startup by get-ing the CRD (Operator.java:89). This means that the Operator needs access to list and get CRDs on the cluster to do this single operation.

We could store the CRD next to the source code in the jar file and read these values from there.

[2020-05-11 17:52] csviri commented on #104
It does not need to list, just read with a name.

Maybe this should be done together with the POJO generation from CRD.

It might be also interesting to think of, if we don't read from server how do we know that we handle the up to date one (like regarding versions of resources etc). So maybe we would like to check (optional feature? ) if that is on classpath is equal to the one on the serve (that

[2020-05-11 19:15] adam-sandor opened #105 "Opinionated way to build Docker image"
The SDK should help with building a Docker image. If we would use Quarkus (#65) , that would solve this problem, but would not be compatible with Spring Boot. I think we should have both a Quarkus and Spring Boot distribution of the SDK both doing Docker builds in their own "native" way.

[2020-05-12 10:30] sjmittal opened #107 "Working with go operators inside a java operator"
Hello,
I was working on an example where a custom java operator configures a CRD which in turn is used by a `go` operator.
I was going through the samples and what we essentially do is load a yaml file say:
`loadYaml(Deployment.class, "deployment.yaml")`
Now we can configure the k8s deployment CRD instance by populating the object with the specs loaded from out custom operators CRD instance.

Howe

[2020-05-12 12:37] adam-sandor commented on #107
Hi Sachin,

Let me clarify if I understand correctly what you're trying to do here:
* Is `operatorinstance.yaml` describing the CRD of the Go operator?
* Are you trying to load it into a Java object so you can write it to Kubernetes from the Java operator?

[2020-05-12 15:16] sjmittal commented on #107
Yes this is exactly what I am trying to do.
Issue I am facing is how to load the `operatorinstance.yaml` into some POJO (java object).

So I can make changes to it based on my operator's instance CRD and write it to k8s from my java operator.

[2020-05-12 17:02] #102 closed

[2020-05-15 09:34] adam-sandor commented on #107
To be able to work with a custom resource, which is not managed by the operator you will have to do it the fabric8 way. Actually there is a new API in fabric8 that allows you to do this purely with json without any need for POJOs.
Check out this blog post on how to do it: https://medium.com/@rohaan/handling-kubernetes-custom-resources-in-java-using-fabric8-kubernetes-client-249c4fe01d27

If you wo

[2020-05-15 10:57] sjmittal commented on #107
Yes I have seen the examples. Thanks.
I have created a sample which shows how we can use a custom operator in java inturn to use another custome operator say written in `go`.
Here is the PR of the same:
https://github.com/ContainerSolutions/java-operator-sdk/pull/108

So what I have done is I created custom pojo classes to map the struct types of the custom resources written in `go` by the custom

[2020-05-15 13:21] sjmittal opened #109 "How to access a given service url within operators code"
Hi,
I have a service described as:

[code]

However when I try to access is service url as per example:
https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/ServiceExample.java

using something like:
`kubernetesClient.services().inNamespace("objectstore-runtime").withName("objectstore-service").getURL("http-minio")`

I get null

[2020-05-15 20:14] aegershman commented on #28
apologies if I'm missing something, but is the reverse currently possible? e.g., is there a way to generate the corresponding crd `yml` purely from annotated source code?

What I'm thinking is something similar to using a `//+comment-marker` in golang using `controller-gen`, [as described here in the kubebuilder tooling](https://book.kubebuilder.io/reference/generating-crd.html)

my apologies if I

[2020-05-15 20:26] csviri commented on #28
Hi @aegershman , np, thx for the question, but unfortunately this is not yet possible.

We were discussing this also, but implementing other way around, so CRD to Pojo generation should be much easier to implement (thus this is how I see it now, since there are libraries which already do that).

But will create an issue, and will discuss it further probably in close future.

[2020-05-15 20:33] csviri opened #110 "Generate CRD from Custom Resource POJO"
https://www.eclipse.org/jkube/ might have some stuff we can reuse for this

[2020-05-15 20:47] csviri commented on #109
Hi @sjmittal, this should be the right way, but this part should be handled fully by kubernetes fabric8 client. If you are in the right namespace and can access the service this should work. If not please address the question in the fabric8 java client project:
https://github.com/fabric8io/kubernetes-client

[2020-05-16 09:13] adam-sandor commented on #109
I don't really understand what that getURL method is trying to do. Services are basically TCP-level loadbalancers, so they don't really deal with HTTP URLs. You can get the service object by `kubernetesClient.services().inNamespace("objectstore-runtime").withName("objectstore-service").get()` and grab the IP and port from there. Adding the HTTP path will have to be done in your logic based on what

[2020-05-16 09:16] adam-sandor opened #111 "Create webpage for the project"
Create a nice webpage which would make the project look more "legit".

* Problem statement
* Solution overview
* Team
* ?

[2020-05-16 09:22] adam-sandor commented on #28
Yeah this is a big question whether we should go "contract first" and generate classes from the CRD yaml. Or be "code first" and generate yamls from annotated Java POJOs. For now we are thinking "contract first" to start with, but might support both in the future.

[2020-05-16 09:57] sjmittal commented on #109
I have logged an issue here:
https://github.com/fabric8io/kubernetes-client/issues/2233
How I understand is that not all services are of type `LoadBalancer`.

I think `fabric8` client api provides a helper method to get the URL of service via port name.
However this helper method does not consider service of type `ClusterIP`.

In my operator I need to connect to my running container and I have def

[2020-05-16 09:57] #109 closed

[2020-05-16 11:08] csviri commented on #111
+ getting started
+ user guide

[2020-05-16 11:12] csviri commented on #28
yep, I'm fan of contract first.
(If we generate it from POJO is more of a risk, since for example a version change of a underlying library can affect the contract we generate. )

[2020-05-17 05:25] sjmittal opened #112 "Instance of a custom operator is created in default namespace"
Hi,
I am facing this issue which for some reason I am not able to wrap my head around it.
I have defined a CRD of my custom operator.
I have set:
`scope: Namespaced`
Then I deploy my operator in a given namespace.
[code]

However when the operator framework creates an instance of my custom operator then this gets created in default namespace.

Any idea why this is happening. I see a MR on this:
ht

[2020-05-18 12:08] adam-sandor commented on #112
This is probably caused by not specifying the namespace in the fabric8 client call when creating the CR. Can you share the part of the code where you are saving the new custom resource?

[2020-05-18 14:09] sjmittal commented on #112
How I understand is the java operator framework essentially creates the instance of new custom resource and we can then control this custom resource to create and manage other deployments.

Here is the code which is entry point of my custom operator:
https://github.com/sjmittal/java-operator-sdk/blob/sample-minio-operator/samples/minio-objectstore/src/main/java/com/github/containersolutions/operat

[2020-05-18 15:12] adam-sandor commented on #112
As I understand it you are reading ObjectStore Custom Resources and creating MinioInstance CRs. You are reading the namespace from the ObjectStore resource, so the namespace will be the namespace where you created the ObjectStore (probably using kubectl). This means the namespace is not controlled by the operator but by you when creating that resource. Does this make sense?

[2020-05-18 17:40] sjmittal commented on #112
yes this makes sense. I now realize that CRD's instance's are created using kubectl and not using operator's controller. The controller actually manages what the instance itself needs to create or control.

[2020-05-18 17:40] #112 closed

[2020-05-18 19:42] adam-sandor opened #113 "MySQL operator sample: create user, secret and configmap"
We are missing a way for an application to consume the database created by the MySQL schema operator. It saves the URL of the database into the status of the schema custom resource, but that doesn't contain the user and password to access the schema and it would require the application to access the Kubernetes API to read it. Another issue is that the only user we have is the one the operator is u

[2020-05-18 19:46] adam-sandor commented on #112
Exactly, it's a bit tricky to wrap your head around all of it. Glad you're making good progress, keep it up 💪🏻

[2020-05-18 19:53] csviri commented on #113
The username could be put into spec.

[2020-05-19 15:03] adam-sandor opened #114 "Support building control loops for eventless resources"
If a controller creates resources that don't provide lifecycle events (e.g. MySQL schema) there is no nice way to implement the full control loop. I'm thinking we should add a new (optional) `monitor` method to the controller which would get the list of all resources and could do a check if the target resources are in the right state. The framework could call this method periodically.

[2020-05-20 13:02] riccardomc commented on #80
For the externalsecrets-operator I use k3s and helm-test. Check it out: https://github.com/ContainerSolutions/externalsecret-operator/blob/master/.circleci/config.yml#L19

[2020-05-21 12:59] adam-sandor commented on #80
Nice, thanks for the tip @riccardomc !

[2020-05-25 09:34] adam-sandor opened #115 "Improve sample instructions"
Improve the instructions on how to get started with samples based on @cheesydev's feedback:

Now I tried to actually run something. It seemed the mysql example was a nice one to get started and minikube was just quick and easy enough for it. In this case, I don't need a registry if I build the image using minikube's docker daemon. So my step-by-step process:

* I want to build the project, mvn pac

[2020-05-25 11:40] sjmittal opened #116 "How to handle errors/exceptions in ResourceController"
Hello folks,
I wanted to know how to handle errors/exceptions in the createOrUpdateResource or deleteResource callbacks.

Say when creating or updating a resource it throws and un handled exception, then does the operator framework retries the same?

Also say we handled the exception and set the status as say "error", then we would want the framework to again try same method until we have our "suc

[2020-05-25 15:11] csviri commented on #116
Hi @sjmittal,

in general you can path a Retry when registering a controller. If the controller throws any exception the execution is considered to be failed, and going to be automatically retried based on Retry configuration.
pls see retry package for details:
https://github.com/ContainerSolutions/java-operator-sdk/tree/master/operator-framework/src/main/java/com/github/containersolutions/operato

[2020-05-25 17:58] sjmittal commented on #116
I checked the retry mechanism and throwing runtime exception is one way. I will try that out. However in retry there is some limit on number of retries. I suppose I need to extend that base classes if I need to retry till I get the desired state?

However I did not understand clearly that how can I ensure that if specific status is set, which triggers automatic update of the CR, will also ensure t

[2020-05-25 18:30] csviri commented on #116
@sjmittal
there is a method on GenericRetry:
`
public GenericRetry withoutMaxAttempts() {
        return this.setMaxAttempts(-1);
}
`
this will unset the upper bound. However this is probably you don't want, since there is some programmatic bug, or config error, this should fail. This issue will also ensure you will be able to get after the limit a notification: https://github.com/ContainerSolutio

[2020-05-26 10:25] adam-sandor commented on #116
@sjmittal Can you get in touch with me at adam.sandor at container-solutions dot com? I would love to know more about what you're working on an invite you for our meetings about the operator sdk. You are our most active user and we are very grateful for all your input!

[2020-06-16 11:17] sjmittal commented on #116
@csviri
I am following the instructions given by you below

These are the logs I get:
`[36mc.g.c.o.p.EventScheduler      [m [36m[DEBUG] Event received for action: added, ...`

So controller processes the custom resource and updates the status of the custom resource.
Then I see this:
[code]
So as explained by you it will again schedule the event and I also see that resource version is updated. So

[2020-06-16 15:58] adam-sandor opened #117 "Create Github pages site"
Create a Github page for the project.

[2020-06-16 19:42] #95 closed

[2020-06-17 07:49] csviri commented on #116
@sjmittal, in short the status field.

In order to use status sub-resource you have to define the status as a sub-resource in CRD, and there a special method to update that in the fabric8 client. We will have better support for this soon.  If you don't define status as a subresource, but just a field, it should trigger an event and a generation increase.

[2020-06-17 10:51] sjmittal commented on #116
@csviri currently in fabric8 client there are methods to update status under: `CustomResourceOperationsImpl`
However it is not clear to me how to trigger the call to update the status subresource.
In the controller, we only have the reference to the `CustomResource` instance. The client to handle custom resource is created by the framwork and the controller does not have access to that client.

I

[2020-06-17 14:49] csviri commented on #116
@sjmittal the setting of client will be a separate interface to implement,
see: https://github.com/ContainerSolutions/java-operator-sdk/blob/client-awareness/operator-framework/src/main/java/com/github/containersolutions/operator/api/CustomResourceClientAware.java

for now you can create a resource client manually and set it to the controller.

[2020-06-18 05:05] sjmittal commented on #116
@csviri
I noticed something that if I define a status sub-resource for my `CRD` then my `CR`'s status does not get updated.
Also as per docs: https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#status-subresource, one need to invoke `PUT` to `/status` path to get the status updated.
Could you please check the PR https://github.com/ContainerSolutions/jav

[2020-06-18 07:22] csviri commented on #116
@sjmittal  this I can't accept, we would look generality, thus the implementation won't be able to update other part of custom resource. You have to do it from controller implementation with a client for resource you create, or wait until I finish the injecting of resource client, that will contain a sample how to do it.

[2020-06-18 10:35] sjmittal commented on #116
@csviri
Well for now I will wait till we have a way to inject resource client in controller. This workaround is anyway temporary for local case.
There is another thing I found around this is in this piece of code:
https://github.com/ContainerSolutions/java-operator-sdk/blob/master/operator-framework/src/main/java/com/github/containersolutions/operator/processing/EventDispatcher.java#L114

What I o

[2020-06-22 10:43] adam-sandor opened #120 "MySQL Schema example - JDBC query parameter handling"
The parameters in the JDBC queries are prone to injection attack. Let's make sure someone doesn't copy them this way into a production application.

Solution: use PreparedStatements

[2020-06-23 12:46] adam-sandor opened #121 "Automated testing for samples"
To improve maintainability of our samples we should have good integration tests for them. This would include:
* compiling
* unit testing
* image building
* deploy to Kubernetes
* test business logic
So really comprehensive integration testing.

Once this is done we can add more samples like this one: https://github.com/ContainerSolutions/java-operator-sdk/pull/108

[2020-06-23 15:33] #111 closed

[2020-07-04 10:12] csviri commented on #93
PR:
https://github.com/ContainerSolutions/java-operator-sdk/pull/132

[2020-07-04 10:16] csviri opened #133 "Failing unit test on event processing"
`[ERROR] Failures:
[ERROR]   EventSchedulerTest.eventsAreNotExecutedConcurrentlyForSameResource:69
Expecting:
  <[EventProcessingDetail{action=MODIFIED, startTime=2020-06-29T14:18:17.661, endTime=2020-06-29T14:18:17.741, customResource=TestCustomResource{spec=null, status=null, extendedFrom=CustomResourceSupport{kind='TestCustomResource', apiVersion='null', metadata=ObjectMeta(annotations=null, cl

[2020-07-04 10:17] csviri commented on #133
https://github.com/ContainerSolutions/java-operator-sdk/pull/125/checks?check_run_id=818664587

[2020-07-05 11:55] csviri commented on #93
added a improved status handling within: https://github.com/ContainerSolutions/java-operator-sdk/pull/134

[2020-07-05 12:01] csviri commented on #133
fixed within this commit: https://github.com/ContainerSolutions/java-operator-sdk/commit/699603a66291c884fcce14c92942b7232c1caef2

[2020-07-05 12:01] #133 closed

[2020-07-06 13:40] adam-sandor opened #136 "Controller deleteResource() getting called twice during delete"
We get the `deleteResource()` method called twice:

1. when we mark the resource as to be deleted
2. when the actual delete event is dispatched by the api

[2020-07-12 13:30] csviri commented on #91
We should actually change all samples to use sub-resources.

[2020-07-12 13:32] csviri commented on #30
Will close this issue for now, since it would be not trivial to implement. Since this issue was created we handle finalizer adding differently, that renders this optimization as not that important. Will close it for now.

[2020-07-12 13:32] #30 closed

[2020-07-19 20:34] csviri opened #149 "Event Handling Corner Case: Quick Delete after Manual Finalizer Removal"
Currently we don't cover the following (extreme) corner case situation in event handling:

1. a resource is created, controller is executed successfully
2. somebody manually removes the finalizer and quickly
3. calls also delete on custom resource

In this case we skip the sudden delete event (we just process the mark delete event). But we will process the finalizer removal (not this may vary for

[2020-07-20 19:25] csviri commented on #93
done: https://github.com/ContainerSolutions/java-operator-sdk/pull/134

[2020-07-20 19:25] #93 closed

[2020-07-20 19:27] csviri commented on #136
fixed as part of this : https://github.com/ContainerSolutions/java-operator-sdk/pull/134

[2020-07-20 19:27] #136 closed

[2020-08-05 12:33] csviri commented on #116
@sjmittal did you check the latest release? if it solves also you problems?

[2020-08-05 12:37] csviri opened #157 "Putting back event for reprocessing after a specific amount of time"
We should allow users to put back events for reprocessing, this will allow periodic checking / polling with a very generic way.

[2020-08-06 07:15] sjmittal commented on #116
@csviri  Right now I am working on pushing the current deployment with current version of operator's framework.
Once we are able to automate this part, for next set of operators and also current ones we would upgrade to framework's latest release. I will update you, but this may take a while.

Thanks
Scahin

[2020-08-06 08:04] csviri commented on #116
@sjmittal kk, good luck, let us know if you need help!

[2020-08-06 08:04] csviri commented on #116
will close this issue now, we can reopen if we see that there are new requirements with the updated api

[2020-08-06 08:04] #116 closed

[2020-08-15 11:33] adam-sandor opened #162 "Getting Started Video"
Create a YouTube video showing how to get started in writing a simple Operator.

[2020-08-15 11:35] adam-sandor opened #163 "Add New logo to README, Discord, Website"

[2020-08-15 11:40] adam-sandor opened #164 "Generate project skeleton with CLI application"
The skeleton should include:
* Choice of app framework (Quarkus or Spring Boot)
* Healthcheck endpoint
* Dockerfile
* Kubernetes Deployment yaml
* CRD
* Operator and Controller classes
* RBAC definition file

All files should be templated with the name of the Operator and maybe some additional parameters.

This will be the base for a Kubebuilder plugin that will call the CLI (https://master.book.k

[2020-08-15 11:44] #65 closed

[2020-08-15 11:45] adam-sandor commented on #65
Closed to create 2 more narrow issues

[2020-08-15 11:46] adam-sandor opened #165 "Quarkus support - initialize app using Quarkus"
Have a sample like the Spring Boot sample to initialize the application using Quarkus.

Include:
* Docker build using Quarkus
* Health check using Quarkus

[2020-08-15 11:47] adam-sandor opened #166 "Build Native Image using Quarkus"
Build a tiny Go-like Docker image using Quarkus native build. This will require us making the framework adhere to the GraalVM limitations.

[2020-08-15 11:49] adam-sandor opened #167 "Integrate with Operator Lifecycle Manager (OLM)"
Red Hat is heavily pushing OLM as the next gen deployment mechanism for operators (which in turn would be the next gen deployment mechanism for applications). We could integrate with OLM (whatever that means exactly).
I already checked that using the operator-sdk isn't a prerequisite for OLM integration, so we should be good to go.

https://github.com/operator-framework/operator-lifecycle-manager

[2020-08-15 11:51] adam-sandor opened #168 "Publish sample operators on operatorhub.io"
Get some extra legitimacy + test our OLM integration (see #167) by publishing our samples to operatorhub.io

[2020-08-15 11:54] adam-sandor opened #169 "Deploying a complex application sample + blog"
We have the use-case of provisioning external resources covered by a good sample (mysql-schema) and a corresponding blog post. I think it would be good to do the same with deploying a complex application made up of many components. The complexity wouldn't come from the app being stateful, just from the fact that it has many components, which leads to a super-complicated Helm chart.

We could use t

[2020-08-19 10:11] adam-sandor opened #173 "Dependent Subresource Management"
If the operator creates new Kubernetes resources, it usually has to track their lifecycle by listening to their events. This is currently very cumbersome with having to create lots of watches manually.

* Hard to create the watches - what if the operator get's restarted after the watches were created?
* When the watch fires it can't update the custom resource easily.

[2020-08-24 07:39] csviri commented on #173
Yep, we definitely need to solve this within the framework. Probably we shouldn't call it as sub-resources since its already marks something else in k8s, maybe operator "managed resources"?
Already designed something, maybe we should take a look on a refinement meeting.

[2020-08-28 11:49] csviri opened #179 "Generalized Event Sourcing"
The intention behind this issue is to provide support for various functionalities that is now missing from the framework. Like:
- Watching Kubernetes resources
- Watching any non K8S resource
- Polling
- Scheduled Controller Execution
- ...

Doing this is a very general and elegant way, by introducing the concept of event sources.
The idea is: event Sources can propagate events about any kind of r

[2020-08-28 11:57] csviri commented on #179
In the coming days, we will start refining and prototyping this.

[2020-08-28 11:58] csviri commented on #84
Created a skeleton of this, will continuously update it. I close this issue for now.

[2020-08-28 11:58] #84 closed

[2020-08-28 11:59] csviri commented on #173
See: https://github.com/ContainerSolutions/java-operator-sdk/issues/179
This will cover this functionality.

[2020-08-28 12:00] csviri commented on #157
We will cover this functionality within this issue:
https://github.com/ContainerSolutions/java-operator-sdk/issues/179

[2020-09-16 08:35] SaikiranDaripelli opened #188 "Operator crashing after sometime"
Hi,
   We have an operator written using this SDK, and operator pod is restarting every few hours with below exception

[code]

Code i am using is
[code]

Am i using it wrong?

[2020-09-16 08:59] adam-sandor commented on #188
Hi Saikiran, I don't think you're doing something wrong. The error is happening on the fabric8 level. Let us get back to you asap with some ideas.

[2020-09-16 08:59] csviri commented on #188
Hi @SaikiranDaripelli ,
Thank you for the issue, you are using it right. Unfortunately this is known issue not in our code but the Kubernetes client we are using: https://github.com/fabric8io/kubernetes-client/pull/1800  - its not handled yet, see also
https://github.com/spring-cloud/spring-cloud-kubernetes/issues/557
https://github.com/fabric8io/kubernetes-client/issues/1318

In this case the res

[2020-09-16 09:02] csviri commented on #188
@adam-sandor  we could try to reconnect automatically from our side, but that should be done after the current changes in progress.

[2020-09-16 09:04] adam-sandor commented on #188
Yeah it would be great if we could do something about this. I guess many users of the KubernetesClient don't have this problem as they don't watch things for a long time, but an operator does that by definition.

[2020-09-16 09:33] SaikiranDaripelli commented on #188
Thanks for answering my query, i went through the fabric8 issue and they seem to suggest to do it on client end.
Retries would definitely help, with restarts i am seeing that all controller's createOrUpdate is getting called everytime after a restart even though there is no change to resource, is it expected and will happen even with retries?
I am using status sub-resource and adding version of la

[2020-09-16 10:15] csviri commented on #188
@SaikiranDaripelli in short not, because by default we check if the generation increase (which can be turned off, in case it will reprocess because we cannot know if it happened during an execution of controller or not). In this case we are maintaining the state (last processed generation) in memory.

The issue: https://github.com/ContainerSolutions/java-operator-sdk/issues/38
is a more tough one,

[2020-09-16 10:30] SaikiranDaripelli commented on #188
Thanks, then retries without restart will solve my current issue.
With occasional reprocessing only on restart, which is fine for my usecase.

Regarding storing state, can't sdk itself do what i am doing right now as a workaround, i.e store last successfully processed generation in status sub-resource upon successful controller execution, and discard event if current generation matches one in stat

[2020-09-16 10:36] csviri commented on #188
@SaikiranDaripelli this could be done, it would be nicer if we could do this transparently. In the case when you suggesting we should probably provide some interface how to get the latest generation from the resource (name of the field can be different from different users). So this is definitely one of the ways to go.

[2020-09-16 12:11] adam-sandor commented on #188
How about putting that into an annotation?

[2020-09-22 11:08] #117 closed

[2020-09-23 09:41] PookiPok commented on #188
Hi, i am encounter the same issue with the release version not match, @SaikiranDaripelli  - can you please share how did you solve this issue on your end? is there any other solution for this?

[2020-09-23 09:53] SaikiranDaripelli commented on #188
@PookiPok Right now there is no way to stop operator controller from restarting.

[2020-09-29 08:23] PookiPok commented on #188
@SaikiranDaripelli  - So is there any workaround for this for now?

[2020-09-29 08:51] csviri commented on #188
@PookiPok @SaikiranDaripelli the restarting of controller is the workaround basically :(

We can try to improve on this in the current version, but we are working on a big change now, there it will be easiert to fix.

[2020-09-29 08:54] PookiPok commented on #188
Thank you, waiting for this fix on the next release
Gil

[2020-09-30 19:00] adam-sandor opened #199 "Improve handling of Custom Resource Client"
There are two problems with controller that want to modify their custom resource objects using the special client Fabric8 provides for these operations (MixedOperation interface).

1. The client gets created in the Operator using a somewhat complicated mechanism, and there is no good way to get hold of the client object in the controller.

2. The type of the client is horrific abomination of gener

[2020-09-30 19:02] adam-sandor commented on #199
The workaround for the first problem is to pass the custom resource client to the Controller after it has been registered in the Operator, so the Operator has already created it. Surprisingly the Operator has a getter for these clients.

[code]

[2020-10-14 12:02] adam-sandor commented on #163
Done

[2020-10-14 12:02] #163 closed

[2020-10-17 14:26] mureinik commented on #120
I posted #205 to address this (where possible. Note that you can't bind object names in DDL statements)

[2020-10-17 15:01] #120 closed

[2020-10-18 21:37] ng29 opened #206 "Adding Table of Content to Readme.md"
Hey @adam-sandor / @csviri / @charlottemach

What would you like to be added:

The idea for Adding Table of Content to Readme.md to add additional enhancement and readability to the docs file.

Why is this needed:

TOC is very useful to hop between the docs/info of the readme and avoids useless scrolling.

[2020-10-19 11:39] ng29 commented on #57
Hey @adam-sandor  / @charlottemach
Can i work on this ??
Some more info around this will be highly appreciated 👍

[2020-10-20 08:54] csviri commented on #57
Hi @ng29 welcome!
currently if you check the master we read the finalizer name from the annotation, where is always a default if not set.
The idea was, that if its not configured expicitly we don't use the default but the [packag+"."+classNameOfController] with lowercase.

[2020-10-20 19:31] cmoulliard opened #211 "Bump the API of the CRDs"
### Issue

Some of the CRDs part of the samples uses an API which is deprecated since K8s 1.16
[code]

### Proposition

Bump the API of the CRDs of the samples to
[code]
Some adaptions will be then needed
[code]

[2020-10-21 07:53] adam-sandor commented on #211
Thanks for creating the issue @cmoulliard ! Fixing in progress on https://github.com/ContainerSolutions/java-operator-sdk/tree/crd-v1-upgrade

[2020-10-21 14:57] pradipta commented on #206
Can I pick this up?

[2020-10-27 07:41] escher-m commented on #57
I've added some code based on my understanding of the info. Please let me know if this covers what was intended @csviri

[2020-11-10 22:50] ankeetj commented on #188
@csviri

I'm facing similar issue with my operator. Because of restart pod is ending up in crash loop status. Is there any update on the fix or any workaround which we can use?

[2020-11-10 23:23] csviri commented on #188
@adam-sandor @charlottemach @kirek007 We should consider fix this in the current version (before the event sources are released, since that might take a long time)
@ankeetj  not at this moment, will discuss it, and might provide a patch sooner then planned.

[2020-11-14 22:02] psycho-ir commented on #80
I found it indeed crucial to run integration tests for every build. I would be happy to update the [ci.yml](https://github.com/java-operator-sdk/java-operator-sdk/blob/master/.github/workflows/ci.yml) file to run k8s via [kind](https://kind.sigs.k8s.io/) and run integration tests against it.
What do you folks think?

[2020-11-15 10:23] csviri commented on #80
Hi @psycho-ir
we were thiking to use minikube: https://github.com/marketplace/actions/setup-minikube-kubernetes-cluster
what do you think about using this?

[2020-11-15 11:10] psycho-ir commented on #80
I just checked it on my machine with its `docker` driver.
I take ~150MB more memory comparing with `kind` (833MB vs 677). But on the other hand the docker images of the minikube is significantly smaller (876MB vs 1.33GB).
Apparently Kind GitHub action is more popular: https://github.com/marketplace/actions/kind-kubernetes-in-docker-action

I think both should do the job and I personally don't have

[2020-11-15 12:08] csviri commented on #80
@psycho-ir I would say use minikube (this kind action is "pre-release") also we use it for local testing.

[2020-11-15 12:13] psycho-ir commented on #80
Minikube it is, I'll use it to run the integration tests.

[2020-11-15 16:23] #80 closed

[2020-11-16 13:09] psycho-ir opened #224 "Remove customResourceClass from @Controller"
Given that the ResourceController must implement `io.javaoperatorsdk.operator.api.ResourceController<R extends CustomResource>`, IMO getting the `customResourceClass` in `io.javaoperatorsdk.operator.api.Controller`  is unnecessary and may cause inconsistencies, e.g. developer set a different class in annotation comparing with the one defined in  Controller class definition.

I would suggest to rem

[2020-11-17 12:08] adam-sandor commented on #224
It's a good point that this could be simplified. I have worry, that we're currently working on Quarkus framework integration and native binary compilation. As this would need usage of reflection I think it wont work with Quarkus. Can you confirm @kirek007 ?

[2020-11-17 12:55] psycho-ir commented on #224
I think a custom annotation which has **@Inherited** and **@RegisterForReflection** on `CustomResource` class should do the job.

[2020-11-18 10:50] kirek007 commented on #224
@psycho-ir @adam-sandor
It would be great to move this direction but currently I'm facing troubles and had to bring back here even *Donable class definition because I can't make it work with native builds.

If we'll be able to make it work with native builds then we should simplify this.

[2020-11-18 10:57] psycho-ir commented on #224
Thanks for feedback @kirek007, is the progress to build native images publicly available? I would be interested to learn how it works.

[2020-11-18 12:29] kirek007 commented on #224
Sure, Look here for code and more details: https://github.com/java-operator-sdk/basic-native-operator-example/tree/init
It's still early work but it compiles and works.. sometimes :)

[2020-11-19 10:08] #57 closed

[2020-11-19 15:31] psycho-ir commented on #224
Thanks @kirek007,
I think we can overcome this technical issue with static code compilation, I'll make a PoC tonight or tomorrow to see how it can help in practice.

[2020-11-20 13:11] psycho-ir opened #232 "Support only java version 11 and above!"
As any projects that are going to use this SDK most probably would be from scratch I would suggest increasing the minimum supported Java version to **11**.

So that we can use new features defined till this version and encourage the teams to use the newer version of the Java!

[2020-11-20 14:01] csviri commented on #232
Yep, I agree with this argument, that we are not supporting any legacy versions, since we are a new project. Why would it make sense to start developing an operator with Java 8. Absolutely true.

@adam-sandor @kirek007 any thoughts?

[2020-11-20 14:05] kirek007 commented on #232
100% agree. We can bump to min Java 11.

[2020-11-20 15:02] psycho-ir commented on #232
Cool, I'll open a PR for it then.

[2020-11-20 15:23] adam-sandor commented on #232
agreed, let's drop the support for 8

[2020-11-21 19:33] metacosm opened #233 "Using the CRD name if no finalizer is provided is not a good default"
Unfortunately, CRD names don't mandate that their group be a valid domain name, therefore using `<plural>.<group>/finalizer` is not guaranteed to be a valid finalizer name.
Possible options for the first part of the finalizer identifier:
- FQN of the associated controller
- CR Kind + package name
- CR Kind / CR simple class name + `.javaoperatorsdk.io`

Tha last one being the less risky in terms o

[2020-11-23 09:30] psycho-ir commented on #233
@metacosm isn't this related to the validation that [openshift-client](https://github.com/fabric8io/kubernetes-client/blob/f4eea6e3a4164b0a47ae132cdf1190ef26101496/kubernetes-model-generator/kubernetes-model-core/src/main/java/io/fabric8/kubernetes/api/model/HasMetadata.java#L25) has?

I don't think the `tld` length needs to have a limit. The current max length of the `tld` is way higher than 6 (I

[2020-11-23 09:54] metacosm commented on #233
Indeed.

Right, good catch. Should a domain name end with an existing TLD? If yes, then many of the current CRD names that are defined in the code wouldn't be valid and therefore not appropriate as prefix for finalizer identifiers.

[2020-11-23 10:10] psycho-ir commented on #233
Existing TLDs are subject to change anytime, so I don't think it's reasonable to add them to the validation.
Furthermore one can have their own DNS with any domain name follow the format but not ending with existing tlds.

[2020-11-23 10:35] metacosm commented on #233
Well, we could retrieve the TLD list from IANA at compile time and then… 😀 </overengineering>

Good point. I will fix the validation code.

[2020-11-23 21:05] #232 closed

[2020-11-25 13:28] kirek007 opened #236 "Merging changes from #229 and #231 - Two Solutions for Quarkus/Native Compilation"
HI, We were discussing with @csviri how to merge changes introduced by #229 and #231 because merging #229 will require removing #231 almost completely. But on the other side we would like to avoid merging alpha version of kubernetes-client.

We came up with this kind of roadmap:

1. Put #229 on hold till release candidate of kubernetes-clinet (we agreed that this is minimal version that we can put

[2020-11-25 13:55] metacosm commented on #236
Doesn't #231 need to remove quarkus dependency first, though?

[2020-11-25 13:55] kirek007 commented on #236
Indeed I've we have to remove java 8 parts and quarkus dependency

[2020-11-25 14:02] metacosm commented on #236
The problem, though, is that #229 makes things a lot simpler and maintaining both branches will be a pain, especially considering that there are things that will need to be handled that will just go away if we were to use 5.0 because basically 5.0 was developed for the sole purpose of making things simpler for operator use cases.

[2020-11-25 14:20] csviri commented on #236
@metacosm Absolutelly, the final goal is to have it with client version 5.0, that would be the cleanest solution. The only concert here is the timeline. If the stable version of fabricate client will be released within few weeks, we should probably use that branch, and merge it as soon as the client is at least in RC version.
If you see that it might take longer, we could also go with an intermedi

[2020-11-25 14:34] metacosm commented on #236
Maybe the best solution is to leave master in a stable state indeed and create a branch where all feature work would be performed with the expectation of using client 5.0 when it's ready? master would then only receive minimal changes in a stable fashion.

The problem with the fabric8 client 5.0 is that it's also experimental so we can indeed expect more changes that would be targeted at improving

[2020-11-25 14:37] psycho-ir commented on #236
One thing to note is that we also need to test the new version is compatible with [**quarkus-openshift-client**](https://github.com/java-operator-sdk/basic-native-operator-example/blob/init/pom.xml#L37.

[2020-11-25 14:42] psycho-ir commented on #236
I think it makes sense to not rely on alpha dependencies in the mainstream but trying to simplify the APIs as much as possible (like the way we are going). IMO the developers will be very excited about the new features and the simplicity that the new version of the SDK has, Simpler annotations, Quarkus support, the universal eventing model to name a few.
I doubt depending their release to the rele

[2020-11-25 14:51] metacosm commented on #233
This will be addressed at the fabric8 client level.

[2020-11-25 14:51] #233 closed

[2020-11-25 14:56] metacosm opened #237 "Define how controllers / operator should be externally configured"
#228 was created as an experiment to see how things could be done but I think we need to formalize how configuration should be handled so that users can configure their controllers / operator without having to modify / rebuild the code.

[2020-11-25 15:12] csviri commented on #236
I agree with @psycho-ir , what we want to avoid is getting blocked to do releases.
We can still maintain the Fabric client alpha version support on a branch, test / play with it.

[2020-11-25 15:16] metacosm commented on #237
## Proposal

- Be able to configure things in an `application.properties` or `application.yml` file.
- Configure the client at the operator level
- Name controllers so that they can be configured individually in particular for scope and retry

### Client

- `io.javaoperatorsdk.kubernetes.client` prefix
- Properties similar to what's already defined in [OperatorProperties](https://github.com/java-o

[2020-11-25 17:19] adam-sandor commented on #236
I agree with the conclusions here. Merging #231 will enable native compilation until fabric8 5 is finalized, I think that's a good thing to have even temporarily. At the same time moving to alpha release of fabric8 is too risky and we might end up with bug reports caused by the underlying client. I think we can still provide very good feedback to the fabric8 team by implementing things on the bran

[2020-11-26 14:36] psycho-ir commented on #237
Thanks, @metacosm, the proposal looks good to me.
Maybe one thing to add, we may need a way to make the operator **cluster-scoped**.
Adding a new field like:
`io.javaoperatorsdk.controller.<controller name>.scope = namespace|cluster`  may help in this regard.

[2020-11-26 15:13] metacosm commented on #237
We could make it more explicit but it should be covered using `io.javaoperatorsdk.controller.<controller name>.namespaces=ALL_NAMESPACES`, no?

[2020-11-26 15:56] psycho-ir commented on #237
I don't think so, a CR can be **cluster-scoped**, that means the resources don't live in any namespaces.
e.g. `PersistentVolume` is a **cluster-scoped** resource.

[2020-11-26 16:49] #224 closed

[2020-11-26 17:51] metacosm commented on #237
Ah yes, forgot about that. Let's add thé `scope` property then.

[2020-11-26 17:59] kirek007 commented on #237
Definitely we should go this way. It's the way objects in kubernetes are scoped.

[2020-11-27 09:00] psycho-ir opened #240 "SNAPSHOT releases from the master"
Would be nice to release snapshots from the **master** branch on every merge, so using the latest unreleased changes on other projects would be more convenient.

[2020-11-27 12:40] #240 closed

[2020-11-30 14:19] kirek007 commented on #236
Because situation is clear I'm going to close this issue and create dedicated branch for implementing kubernetes-client 5.0 se we can merge and close #299 for now. This will allow us to release test versions from this new branch if needed.

[2020-11-30 14:19] #236 closed

[2020-11-30 21:49] adam-sandor opened #243 "Controller class generation error when I have multiple controllers"
I'm running into this problem while compiling the tomcat-operator sample in Idea. This operator has 2 controllers: TomcatController and WebappController. From time to time only the line for TomcatController gets created in the mappings file.

After deleting the target folder and doing another build the file gets generated correctly. However it somehow gets overwritten later with the wrong mapping

[2020-11-30 21:50] adam-sandor commented on #243
@psycho-ir you wrote this class generation logic. Any idea why it doesn't write the mapping file correctly sometimes?

[2020-11-30 22:32] psycho-ir commented on #243
I think it's most probably related to the incremental build that the IDEA does, i.e the previous mapping get removed and the new one with just the mapping newly compiled controller class will be created.
I'll open a PR tomorrow to address this issue.

[2020-12-01 09:04] adam-sandor commented on #243
I did another test and I can confirm you're right Soroosh! The file will
only have the controller I edited before the build. If I edit both, then
both make it into the file. I'm guessing we'll have to take the existing
file into account during generation to work with incremental builds.

On Mon, Nov 30, 2020 at 11:33 PM Soroosh Sarabadani <
notifications@github.com> wrote:

--

*Ádám Sándor* | Clo

[2020-12-01 12:32] kirek007 commented on #206
Hi, table of content is already in place. Closing :)

[2020-12-01 12:32] #206 closed

[2020-12-01 12:37] kirek007 commented on #165
Hey, sample is here: https://github.com/java-operator-sdk/basic-native-operator-example

[2020-12-01 12:37] #165 closed

[2020-12-01 13:23] psycho-ir commented on #243
#245 should fix this issue. Test it locally and incremental compilation in IDEA is working as expected.

[2020-12-02 16:39] psycho-ir commented on #110
I can think of 2 ways to implement this feature.
1. A CLI application
2. A plugin for the popular build tools like Maven & Gradle.

What I like about Option 1 is that it's build tools agnostic and we still have this possibility to build the plugins for build tools on top of it.

Would be great if you could share your thoughts about this feature anytime you have time.
@adam-sandor @csviri @kirek007

[2020-12-02 17:45] csviri commented on #110
@psycho-ir I think those are not mutually exclusive, I would implement it as a library (a maven module), than wrap it into a CLI and/or Maven plugin.

[2020-12-02 19:37] metacosm commented on #110
We already have something that deals with this in our dekorate.io project, though it might be interesting to see if we could avoid importing the whole project to benefit from that feature. We're also discussing whether the custom resource support that's currently in Dekorate wouldn't make more sense to be included in the Fabric8 client directly.

[2020-12-03 08:56] psycho-ir commented on #110
After checking the dekorate, figured out I commented on the wrong issue 🤦 .
I think generating the POJOs from the CRDs would be more useful, the ones who want to write an operator already know how to write a manifest and there are plenty of documents to help them.
I move my previous comment to #28 to discuss that topic further.

[2020-12-03 08:56] psycho-ir commented on #28
I can think of 2 ways to implement this feature.
1. A CLI application
2. A plugin for the popular build tools like Maven & Gradle.

What I like about Option 1 is that it's build tools agnostic and we still have this possibility to build the plugins for build tools on top of it.

Would be great if you could share your thoughts about this feature anytime you have time.
@adam-sandor @csviri @kirek007

[2020-12-03 08:58] psycho-ir commented on #28
I would start with a CLI tool as a separate maven module for the first version.
We can create build tools plugins for the ones have demand later.

[2020-12-03 09:04] metacosm commented on #28
@aegershman Yes, it's currently possible using dekorate.io where you get your CRD yaml from annotated java source.

[2020-12-03 09:11] metacosm commented on #28
The yaml-to-pojo approach doesn't fit how Java developers would go about developing operators, in my opinion. As a Java developer, my contract is my POJO and I'd like to avoid dealing with messy yaml files as much as possible and in particular, I really don't want to create a crd.yml by hand (which might take a substantial amount of time) to generate POJO files that I can write in 2 minutes.

[2020-12-03 09:18] metacosm commented on #28
To be clear, I'm not saying that such a tool wouldn't be interesting *at some point*. I'm just saying that I don't see it fitting the target audience's workflow all that well. People I've talked to who already have go operators and are interested to migrating to a java-based operator would much rather use the go struct to java classes approach used by Fabric8 client than generate Java classes from

[2020-12-03 09:18] csviri commented on #28
@metacosm @psycho-ir I think both appraoches - the contract first and generating CRD definitions - has its  benefits. Maybe it's just me, thinking in terms of contract first, since this is usually how it's (how I did) done for  APIs with OpenAPI/Swagger. (Also with SOAP long time ago)

To be honest I as a Java developer would go at this point of time as contract first if there is possibility. But

[2020-12-03 09:21] csviri commented on #28
This sounds, interesting, I would though if they already have yaml's its easyer to just grap it and generate java files. But if there is already a known demand for this, it makes sense to start with this approach.

[2020-12-03 09:24] metacosm commented on #28
Why wouldn't your POJO be your contract? To me, writing a yaml file is hell, especially when you have to deal with the intricacies of writing the schema, compared to writing a simple POJO and get the yml generated without me having to do anything 😄

Definitely.

[2020-12-03 09:43] csviri commented on #28
I agree that writing open api scheam validation rules for CRD in yaml is like salt in the wound,  but fine tuning pojo-s with detailed validation annotation is not a piece of cake either :)

I think POJOs are the class representation of the contract. But at the end, the contract is what we generate from pojos, and pass to K8S.
So the classic argument against the the generating from POJO, is that i

[2020-12-03 09:49] metacosm commented on #28
Presumably, though, you're not re-applying your CRD definition every time you rebuild your operator…

[2020-12-03 10:00] psycho-ir commented on #28
Actually contract is a document between more than a **party**, it's true that one side of the contract is a Java developer in our case but there is no guarantee that other side understands this protocol as well, that's why I believe the contract needs to be language agnostic.
In addition to that, there are plenty of data that makes sense to have in the definition but not really in the implementati

[2020-12-03 10:16] psycho-ir commented on #28
I believe have the YAML files too, right? why not feeding the javaoperatorsdk with those yaml files and get the custom resource classes?
IMHO by doing that this way it doesn't matter if their current operator is implemented by Go operator or Kopf or any other framework.

[2020-12-03 10:36] metacosm commented on #28
The "official" contract is still the CRD yaml… it's just that for a Java developer it makes more sense to go from Java to yaml than the reverse.

[2020-12-03 11:15] adam-sandor commented on #28
I think what's important here is that implementing class generation from CRD doesn't exclude implementing it the other way around. My guess is there would be demand for both features.

[2020-12-03 13:01] goldmann commented on #157
Is the proposal here related to extending the `UpdateControl` class so that we could specify a time after which the event would be handled again?

Similarly to this: https://godoc.org/sigs.k8s.io/controller-runtime/pkg/reconcile#Result ?

[2020-12-03 13:35] csviri commented on #157
@goldmann basically yes,  the issue mentioned before will cover this, but with a slightly different approach.

[2020-12-03 13:40] goldmann commented on #157
@csviri Great, this is something I'm really interested in! I'll take a look at the PR.

[2020-12-03 13:51] csviri commented on #157
@goldmann it's a quibe big PR, covering a log. Will write a post that will serve as a introduction / documentation to it. Also feel free to jump on discord and ask question if needed.

[2020-12-03 16:05] #243 closed

[2020-12-04 09:30] objcoding opened #247 "Can you provide redis-sentinel samples?"
Thanks to the author for providing java-operator-sdk, I now need an example of redis sentinel. The specific logic is that three sentinel nodes manage multiple sets of master-slave, and master-slave can be dynamically added and deleted according to the situation. I don’t know if the author can provide this example What? Greatful!

[2020-12-04 10:13] #157 closed

[2020-12-04 10:13] #173 closed

[2020-12-04 10:13] #179 closed

[2020-12-04 10:13] #188 closed

[2020-12-04 21:39] metacosm opened #249 "getCustomResourceDoneableClass doesn't work for inner classes"
For example, if you use an inner class for the `CustomResource` implementation for the `ControllerUtilsTest` class, the code won't be able to locate and load the Doneable class appropriately.

@psycho-ir

[2020-12-04 23:21] aegershman commented on #28
Thanks @metacosm I will try out `dekorate` for crd manifest generation.

This is just from my perspective, but I will share. Before I do, I should say that I'm appreciative of OSS / specifically the java-operator-sdk and the software you all provide / cater to us users, _for free_, so I don't mean for this to sound rude or entitled. Sometimes text translates to being a little more rude than intend

[2020-12-05 17:27] metacosm commented on #28
Thanks for the kind word, @aegershman! Let us know how things go with dekorate and what things could further be improved. I will try to add dekorate support here as well so that the only thing that would be needed to generate the CRD would be to add the appropriate dekorate jar on the path.

[2020-12-08 12:32] #249 closed

[2020-12-08 14:11] goldmann opened #251 "Improve handling of updating resources together with statuses"
In case the workflow you implement requires to update the resource itself and the status sub-resource at the same time it cannot be handled in a single pass of the `createOrUpdateResource()` method.

To be able to handle it currently you need to:

1. Disable `generationAwareEventProcessing`:

[code]
2. Handle update to the resource and finish with `return UpdateControl.updateCustomResource(res)`.

[2020-12-09 11:38] csviri commented on #247
@objcoding I'm sorry but currently we don't have a bandwidth at this point of time.

[2020-12-09 11:45] csviri commented on #251
I see there 2 ways of support this:

1. Sending instant events. Thus for example the TimerEventSource would have an addition, to send an event immediately. This will ensure that after a an update (either status sub-resource or CR) there will be a new controller execution for sure. This is a quick win, quite easy to implement.

2. Support this in update control with an explicit API (this way the ge

[2020-12-09 11:48] csviri commented on #251
@metacosm its related, but currently I don't see how we could avoid doing uptimistic locking on status subresource updates? fabric8 client seems to be doing this all the time. I think there should be an api to avoid that. (Hope K8S supports that).
Note that this is completely fine since only the controller should update status by definition.

[2020-12-09 12:40] objcoding commented on #247
ok, thank you.

[2020-12-10 08:20] psycho-ir opened #254 "The annotation processor does not work for Parameterized abstract controllers."
If the controller has a definition like below the processor doesn't work as expected:
[code]

[2020-12-10 08:20] psycho-ir commented on #254
I'm working on a fix, will open a PR later today.

[2020-12-10 11:10] psycho-ir commented on #251
What I think could be tricky here is that technically the **status** itself could be updated with a newer event. so retrying may override the new status with the old one.

[2020-12-10 11:21] metacosm commented on #251
Re-triggering the method for simply a status update doesn't appear very friendly to me, especially because the `createOrUpdateResource` method might be costly.

If you're only updating the status, the generation shouldn't be updated so there shouldn't be a conflict on the status update call.

[2020-12-10 11:23] psycho-ir commented on #251
But the resourceVersion will be updated, right?

[2020-12-10 11:28] metacosm commented on #251
I would say no because you're not changing the spec (if you only update the status sub-resource, that is), hence not changing the resource itself but I have to double-check.

[2020-12-10 11:34] metacosm commented on #251
In the go framework I previously implemented for operators, [updating the status](https://github.com/halkyonio/operator-framework/blob/master/generic.go#L126) was a separate operation from the create/update process, where each resource associated with the main resource being reconciled was supposed to compute its own status based on the new state of the cluster after the create/update.

[2020-12-10 11:48] csviri commented on #251
@metacosm the resource version is update if you update the status sub-resource.

Its always a separate method, since its a different API call for K8S.

[2020-12-10 11:50] csviri commented on #251
This should not be the case, since the controller should update the status only. But this is more like a convention, its not enforced. On the other hand this is why it a sub-resource. So you don't override it, when you change the resource. (End the controller eventually updates it after execution of a resource change)

[2020-12-10 12:17] metacosm commented on #251
Are you sure? It doesn't make sense to me that the resource version would be updated when you update a sub-resource status. You're not changing the resource, just its status…

[2020-12-10 12:24] csviri commented on #251
Yes, it, does not make sense, but I remember double checking this some time ago.

[2020-12-10 12:58] psycho-ir commented on #251
OK, so if we guide the user to update the status subresource via the controller API, then it makes sense to retry on conflicts.

[2020-12-14 21:11] #254 closed

[2020-12-16 13:57] wtrocki commented on #28
Worth mentioning that [kubebuilder](https://github.com/kubernetes-sigs/kubebuilder) (defacto standard for golang operators) uses codefirst approach. This will simplify migration from golang operators.

Many folks already have golang operators and hitting some issues around monitoring and early ecosystem.
Java seems to be the best language that offers mature libraries and implementations.. but migr

[2020-12-16 14:34] wtrocki opened #257 "Samples are not easy to consume due to extensive usage of parents."
The idea of the samples should be that I should be able to grab folders outside repo and they should work.
From a maintenance standpoint and verification that might be bad as repo possibly needs to depend on the compiled examples etc. but from the usage point of view there is

This would be something that simple CLI/Maven Artifacts could fix.
Happy to build CLI for java operator if needed and add

[2020-12-16 15:32] psycho-ir commented on #257
Thank you @wtrocki for bringing this topic up, indeed using the samples should be simpler than what it is.
I agree with building an initiator to setup the project.
It could be used to address #28 and the current issue.
I would suggest we make a new repo for it rather than a new module here to ensure it's developed in an isolated environment and its releases not being dependent on the SDK releases.

[2020-12-16 15:54] metacosm commented on #257
I'd argue that the samples should maybe be in a different repository. A generator to generate a skeleton operator would also help.

[2020-12-16 17:52] adam-sandor commented on #247
I will close this issue as we wont be providing samples for specific technologies as samples are meant to demonstrate framework features. If you'd implement an operator for redis yourself @objcoding using the java-operator-sdk we're happy to help!

[2020-12-16 17:52] #247 closed

[2020-12-16 18:47] adam-sandor commented on #257
Separate repos for each sample or single samples repo? I'd vote for single samples repo, so when the framework changes we can upgrade the samples with one PR.

[2020-12-16 21:46] psycho-ir commented on #164
I would suggest creating a new repository for this project.
I can do it if there is no objection.
Would be good to find a short and catchy name for the CLI binary too.

[2020-12-17 08:20] adam-sandor opened #259 "Provide out of the box EventSources for Kubernetes Resources"
`EventSources` for basic Kubernetes resources like Deployment, Pod, etc shouldn't have to be part of an Operator but should be provided by the SDK.
Case in point: `DeploymentEventSource` in the `tomcat-sample`.

This is not as easy however as moving that class into a new package in the `operator-framework`. The `DeploymentEventSource` makes assumptions about how the `Deployment` is connected to th

[2020-12-17 08:29] adam-sandor commented on #164
I agree it should be a new repo.

As for catchy name it's tricky because it will do more than just the skeleton generation (e.g. class generation or yaml generation for CRD). I'm thinking something pretty generic like `josdk-cli`. The executable could be called `josdk`. Other ideas `jop` `javaop` `joperator`

[2020-12-17 09:24] psycho-ir commented on #164
Here is the repo:
https://github.com/java-operator-sdk/josdk-cli

I'll prepare the skeleton of the project and most probably a prototype soon.

[2020-12-17 09:28] csviri commented on #257
The original idea was, when we started to extract the samples, that we have just a few simple samples, that supports only the development maybe some quick checking / testing, that sample works with the update.
And other samples (which are more complex) should be extracted to a separate repo, I would say it's own. And there should be not too much of them.

[2020-12-17 10:03] adam-sandor commented on #257
I think single repo for all (non-test) samples would be better. Easier to browse all the samples and easier to upgrade them on FW change.

[2020-12-17 10:14] stoetti opened #261 "unit-test support for spring-boot"
In order for unit-tests to work some prerequisites must be met, these should be provided out-of-the-box. Most important is that there is no need for a connection to a real k8s-connection.

Testing support from the fabric8-lib might help getting started https://github.com/fabric8io/kubernetes-client#mocking-kubernetes

[2020-12-17 10:21] csviri commented on #257
That is true that is easier to upgrade them. So maybe the examples which are kind of showcases we should have in one repo.
Question is what about the memcached, if the intention is to have it as a production ready operator, that should be a separate repo. Not sure if that is the intention.

[2020-12-17 10:28] adam-sandor commented on #257
I don't think memcached will be a production ready operator and it should actually go into the repo in the operator-sdk with the other memcached samples.

[2020-12-17 10:29] csviri commented on #257
@adam-sandor you mean a separate repo with the samples, or directly to the SDK?

[2020-12-17 10:30] adam-sandor commented on #257
here https://github.com/operator-framework/operator-sdk-samples

[2020-12-17 10:31] csviri commented on #257
Ok, now I'm completely lost how you mean this, let's discuss it maybe on next weekly.

[2020-12-17 10:50] wtrocki commented on #257
Is weekly open for community. Would love to join as listener?

[2020-12-17 10:59] psycho-ir commented on #257
+1 for a repo with samples and deprecate the tomcat-operator.

[2020-12-17 11:01] adam-sandor commented on #257
@wtrocki please jump in our Discord channel (https://discord.gg/DacEhAy) you can find the invite as a pinned message in the general channel. You are very welcome to join the weeklys.

[2020-12-17 11:49] wtrocki commented on #164
CLI written in java would be good but will have one disadvantage. When building CLI in golang it could be:

- Relying on existing tooling available in the kubebuilder and operator SDK
- Could be possibly included into Operator-SDK making java operator more discoverable (One CLI to rule them all)

On the bad side - there will be fewer tools to deal with the specifics of the Java/XMl code generation

[2020-12-17 13:21] metacosm commented on #259
In https://github.com/halkyonio/operator-framework, we defined the notion of dependent resources, which I've discussed already with @csviri. The idea is that, very often, a controller, when it reconciles the state of the main custom resource it deals with, needs, in fact, to check the status of several other resources that influence the status of the main resource. The framework we developed took

[2020-12-17 13:27] metacosm commented on #237
One issue that popped out after the work done in #238, is how should we configure the Kubernetes client. The Quarkus extension relies on the Kubernetes Client extension to retrieve a fully configured client. However, this means that the client is configured using `quarkus.kubernetes-client.` prefixed properties. Moreover, the available properties cover a lot more than what is currently supported i

[2020-12-17 13:31] csviri commented on #259
@metacosm yes, I agree that we need also a higher abstraction. I would wait with this until we meet with operator SDK team.
Also would be probably quite easy to migrate event sources to this notion. I prepared some prototype how a higher level abstraction could look like. We can take a look also on that together.

[2020-12-17 17:20] #251 closed

[2020-12-17 18:38] metacosm opened #262 "Add externalized configuration support to Quarkus extension"

[2020-12-18 13:37] metacosm opened #264 "Wrong constructor created by quarkus extension"

[2020-12-18 14:11] adam-sandor commented on #164
Thanks for the input @wtrocki but I'm not convinced. I think it has more benefit to keep everything related to the java-operator-sdk in Java, otherwise we'll have components that a large part of the team doesn't touch because it's too much overhead to get into Golang to do so. Java has all the tools we need to create a CLI plus things like class generation from OpenAPI schemas we can leverage, so

[2020-12-18 14:16] wtrocki commented on #164
+100. Sorry for offtopic

[2020-12-18 14:22] adam-sandor commented on #164
Don't say sorry, all suggestions are welcome!

[2020-12-18 17:08] #264 closed

[2020-12-22 05:44] objcoding opened #268 "About the return value of the createOrUpdateResource method."
After reading the source code, I found that if the createOrUpdateResource method throws a runtime exception, the event will be rescheduled. If it returns UpdateControl, the corresponding crd resource update will be performed according to the returned value.
So the question is, if I need to update the crd resource status and at the same time need to reschedule the event, what do I need to do?

[2020-12-22 05:49] objcoding commented on #268
In the golang version of operator sdk, the Reconcile method has both Result and err return values. The Requeue value of Result is true or err != nil, and the event will be rescheduled.

[2020-12-22 05:49] objcoding commented on #268
![image](https://user-images.githubusercontent.com/24354760/102854032-8c82e280-445c-11eb-93d7-472e13b1f2ac.png)

[2020-12-22 05:54] objcoding commented on #268
Can it be understood that if the updateStatus or replace method is called to update the CustomResource, the Operator will receive events from the K8s Watch again?
If this is the case, then the user does not need to actively throw runtime exceptions in the Operator.

[2020-12-22 14:02] #261 closed

[2020-12-22 14:48] kirek007 opened #269 "Time to fix flaky tests"
I've spotted today that some tests are randomly failing time to address it:
1: https://github.com/java-operator-sdk/java-operator-sdk/runs/1595178719?check_suite_focus=true#step:5:255
2. https://github.com/java-operator-sdk/java-operator-sdk/runs/1595145125?check_suite_focus=true (I've rerun all jobs which removes previous log, but it was different issues that 1st one) (maybe @metacosm has job log

[2020-12-22 14:49] metacosm commented on #269
I don't think I do but I noticed that as well: I think it's due to the timer event tests…

[2020-12-25 17:27] adam-sandor opened #272 "Registering EventSource fails in Quarkus project"
Looks like trying to register an EventSource in a Quarkus-powered operator results in this error. See https://github.com/java-operator-sdk/memcached-operator-sample

[code]

[2020-12-25 21:53] metacosm commented on #272
I'll take a look ASAP.

[2020-12-28 12:22] psycho-ir commented on #269
Here is the log:
/CC @csviri

https://github.com/java-operator-sdk/java-operator-sdk/pull/273/checks?check_run_id=1614205053
[code]

[2020-12-30 09:10] ambye85 opened #274 "Cannot find Custom Resource Definition error"
I've run the MySQL sample and get the following output:

[code]

I've copied the sample code into a standalone Gradle project and built a shadow JAR, which gives me the following error (I've got a slightly different log format):

[code]

Has anyone else come across this and what's the solution? Am I just missing something bleedingly obvious from the docs/samples?

[2020-12-30 10:45] psycho-ir commented on #274
Hi @ambye85, have you followed the instructions outline [here](https://github.com/java-operator-sdk/java-operator-sdk/tree/master/samples/mysql-schema#build--deploy)?

Most probably at least the crd.yaml hasn't been applied

[2020-12-30 12:37] ambye85 commented on #274
Hi @psycho-ir. Yes, I have applied the `crd.yaml`. It's exactly the same CRD as `samples/mysql-schema`; all I've done is copied the class definitions into my project so it should be exactly the same. I've tried with `operator-framework:1.6.1` and `operator-framework:1.6.2-SNAPSHOT`; the latter is the version used when I build the samples but it doesn't make any difference in my own project.

[2020-12-30 12:52] psycho-ir commented on #274
I just checked the error again, it's about the custom resource class, not its definition.
The SDK uses an annotation processor to generate the mappings between controllers and custom resource classes.

I think adding the following dependency to the Gradle would probably solve this issue,  if it didn't would be great if you could put your code in Ggithub and share its link for us to have a look int

[2020-12-30 14:42] ambye85 commented on #274
Ah ha, that solves it, although the generated code causes warnings regarding unchecked exceptions:

[code]

Is this something we can easily fix?

[2020-12-30 22:36] psycho-ir commented on #274
I just opened a [PR](#275) to address these 2 warnings you are getting

[2021-01-01 10:43] ambye85 commented on #274
Thanks. Appreciate your help. It'd be good to get the docs amended to capture this detail. I'm happy to contribute such a change but am not sure which file would be best to add this too. Any suggestions?

[2021-01-01 10:48] junglie85 opened #276 "MySQLSchema sample Custom Resource fails to delete"
The MySQL sample doesn't delete from my EKS cluster (v.1.18.x); I've used this sample as a basis for my operator, which equally doesn't delete.

[code]

Is this a problem anyone else has experienced with the sample? If so, what's the fix?

[2021-01-01 15:41] psycho-ir commented on #274
Thanks for your interesting to contribute to make the SDK better.
I think an example in the part of the **usage** where it's shown how to add the dependency in maven projects to showcase how it can be done for Gradle would be a good place for it.

As a side note, we are working on a CLI for the SDK which will take care of initializing an operator project:
https://github.com/java-operator-sdk/josdk

[2021-01-02 12:37] psycho-ir commented on #274
The changes are merged and it part of  current `1.6.2-SNAPSHOT`.

[2021-01-02 12:37] #274 closed

[2021-01-04 15:50] metacosm opened #279 "Change in default controller naming scheme breaks Quarkus extension"
The change in naming scheme introduced in #277 breaks the Quarkus extension because we're not consistently using the same name generation algorithm everywhere it's needed.

[2021-01-04 19:57] wtrocki opened #283 "Usage of Kustomize"
When working with operators building controller is one of the first operations, however there are also some other concerns like adding extra metadata to CRD, creating bundle and deploying to operatorhub with OLM

One of the key tools used in operator SDK is kustomize.
Tool operates on YAML files and it is language independent. Would Java SDK use kustomize[https://kustomize.io/](https://kustomize.i

[2021-01-05 08:49] goldmann opened #284 "Watch failures on Quarkus native: Caused by: com.fasterxml.jackson.databind.JsonMappingException: No resource type found for:v1#Status"
When running Quarkus app using the SDK in **native** mode, such stacktraces as pasted below are present in the log.

These are printed **every second** for every single CustomResource watched by the SDK (my assumption). In my case I have two CR's and two such stacktraces in the log every second (see below).

Such stacktraces do not appear immediately after running the app, it takes a while for the

[2021-01-05 08:52] goldmann commented on #284
![image](https://user-images.githubusercontent.com/43489/103625729-abdd3d80-4f3b-11eb-8e36-e001c3daeca2.png)

Memory usage according to time.

[2021-01-05 08:57] goldmann opened #285 "Unable to run Quarkus native mode with Doneable classes generated by the Quarkus extension"
Using the Quarkus-extension generated Doneable classes works fine in the Quakus dev mode, but in case the app is run in native mode, the generated class cannot be found, a stacktrace is thrown and the app is crashing.

[code]

[2021-01-05 10:00] metacosm commented on #283
Hi, @wtrocki

Could you elaborate on the use case you have in mind? How would things work for you, ideally?

[2021-01-05 10:33] wtrocki commented on #283
@metacosm Since there is no documentation for java operator at the moment and CLI is in the progress I was curious if I can simply use exiting infrastructure from operator SDK and reuse some bits from the existing ecosystem to prove that you can get things done end to end and help java operator SDK with documentation, examples and making it usable for early adopters.

There are couple of things th

[2021-01-05 10:42] iocanel commented on #283
I think that `dekorate` and `kustomize` can play nicely together.

`dekorate` is taking an app centric approach and is meant to generate the initial set of resources for the app, operator etc. It's goal is to extract as much information as possible from the code itself and align the generated manifests. Additionally it does provide a rich set of configuration options for further customization.

`k

[2021-01-05 11:49] metacosm commented on #269
Here's the log for one test that's been failing a lot for me lately:
[code]

[2021-01-05 13:04] objcoding opened #286 "CRD validation doesn't accept empty values for type "object" fields"
When the type of crd custom resource is object, if it is empty, an error will be reported as follows:

ZcacheCluster.com.zto.zcache "sentinel-1" is invalid: [spec.sentinel.config: Invalid value: "null": spec.sentinel.config in body must be of type object: "null", spec.redis.storage: Invalid value: "null": spec.redis.storage in body must be of type object: "null", spec.redis.config: Invalid value:

[2021-01-05 13:06] objcoding commented on #286
My crd：
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: zcacheclusters.com.zto.zcache
spec:
  group: com.zto.zcache
  scope: Namespaced
  names:
    plural: zcacheclusters
    singular: zcachecluster
    kind: ZcacheCluster
    shortNames:
      - zc
  versions:
  - name: v1
    served: true
    storage: true
    schema:
      openAPIV3Schema:
        type: obj

[2021-01-05 13:22] csviri commented on #269
Hi Peeps, kinda busy nowadays, won't be able to look on this soon :(

[2021-01-07 08:46] #279 closed

[2021-01-07 08:54] goldmann commented on #284
Ok, this may be a PEBKAC in fact, here are the things that I applied and I observe no more stacktraces:

1. The `*Spec` and `*Status` classes for my `CustomResource`s did not implement `KubernetesResource` - I've fixed it.
2. I was missing a setter on the `*Spec` and `*Status` objects in my `CustomResource`s - I've fixed it.
3. I've added `@JsonDeserialize(using = JsonDeserializer.None.class)` ann

[2021-01-07 08:54] #284 closed

[2021-01-07 08:55] #272 closed

[2021-01-07 10:52] metacosm commented on #284
Thanks @goldmann for the post-mortem. We definitely need to make it easier to avoid such issues, though. I think/hope the new client version will help with this.

[2021-01-07 12:43] goldmann commented on #284
Regarding memory usage I started a [new thread on Quarkus Zlip chat](https://quarkusio.zulipchat.com/#narrow/stream/187030-users/topic/Constantly.20growing.20heap/near/221935896).

[2021-01-08 16:24] goldmann opened #289 "Unclean shutdown of a quarkus app"
When the app is shut down, it fails to cleanly terminate watches and it results in stacktraces like this:

[code]

[2021-01-12 08:51] adam-sandor opened #291 "Avoid having to define Quarkus version in addition to extension"
It's error prone to have to define both the version of the josdk I'm using as well as the Quarkus version for the Quarkus plugin. I'm not sure if it's possible but it would sure be great if the `quarkus-maven-plugin` version was somehow defined by the `operator-framework-quarkus-extension`.

[2021-01-12 09:18] metacosm commented on #291
I'm pretty sure it's not feasible since maven dependencies cannot impact the set of plugins your build is configured with. Note that you have the same issue with Spring Boot and the Spring Boot starter.

[2021-01-12 15:53] Mallington opened #292 "No custom resource has been found for controller"
I have been upgrading my operator to the java operator sdk version 1.5.0. I have encountered the following error:
[code]
Setup:
- I am using the spring spring-boot-operator-framework-starter dependency
- I have specfied a controller using the @Controller annotation on a class which specifies the CustomResource
- I have also specified the controller in my configuration
- I have also applied the cus

[2021-01-12 17:35] adam-sandor commented on #292
Thanks for reporting this issue @Mallington ! We will look into it asap

[2021-01-12 17:37] adam-sandor opened #293 "Improve unit testing of TimerEventSource"
1. reimplement TimerEventSource by uning something else then java.util.Timer, as that one is not good for mocking.
2. implement unit tests without waiting and sleeping to remove flakyness.

[2021-01-12 17:39] #291 closed

[2021-01-13 12:43] Mallington commented on #292
@adam-sandor I have fixed it. I believe this was an issue with the way I had configured my project. Putting a configuration class directly into the same module as the java operator sdk seemed to fix it. Before, I had the controller and the `@Configuration` in sepearate modules.

[2021-01-13 12:43] #292 closed

[2021-01-13 14:16] adam-sandor opened #295 "Remove deletion by Kubernetes client code from CustomServiceController"
The controller should not be using the K8s client to delete the resource, that is done by the framework in the background.

[code]

[2021-01-14 07:44] #295 closed

[2021-01-14 08:44] metacosm opened #298 "Consider using GitHub action to format code on push"
A GitHub action is available to format the code on push: https://github.com/axel-op/googlejavaformat-action
This would allow us to automatically address format issues instead of failing the build for something sometimes as stupid as a wrong whitespace thus freeing developers to focus more on functionality instead of how their code looks like while maintaining a consistent style across the code bas

[2021-01-14 08:57] metacosm opened #299 "Automate changelogs using conventional commits"
For an overview of conventional commits, see: https://www.conventionalcommits.org/en/v1.0.0/
There are lots of tools to automate changelog creation based on the semantic information contained in conventional commits: https://www.conventionalcommits.org/en/v1.0.0/#tooling-for-conventional-commits
One of them is https://github.com/TriPSs/conventional-changelog-action which provide integration with G

[2021-01-14 12:51] metacosm commented on #285
Doneable classes will be removed as part of the fabric8 kubernetes client 5 upgrade.

[2021-01-14 13:34] adam-sandor commented on #292
Ah ok, that's great. Tbh we are more focused on Quarkus right now than Spring Boot, so we might miss some problems. Please keep the feedback coming if you find anything else.

[2021-01-14 13:56] metacosm commented on #298
/cc @adam-sandor @psycho-ir

[2021-01-14 13:57] metacosm commented on #299
/cc @adam-sandor @psycho-ir

[2021-01-14 14:00] metacosm opened #301 "Better automatically generated controller names?"
Very often a controller class will be named `SomethingController` or `SomethingResourceController`. We could trim these names to remove the redundant `Controller` or `ResourceController` part so that they feel more natural when referring to the controller in configuration files. Another option would be to use the associated Custom Resource name / kind as the default name for the controller. /cc @a

[2021-01-14 14:05] adam-sandor commented on #301
Hmm.. I don't know. The class itself would look weird without the suffix. And it may cause problems with naming the CR. For example I have a class Tomcat for the CR and related TomcatController.

[2021-01-14 14:14] metacosm commented on #301
The name of the class wouldn't change, just the name that is used to refer to the controller in the configuration. In the above example, your CR would still be `Tomcat`, your controller class would still be called `TomcatController`, however the default controller name would become `tomcat` instead of `tomcatcontroller` as it is now.

[2021-01-14 14:23] metacosm opened #302 "Clean up handling of target namespaces"
We need to settle how we configure which namespace(s) a controller targets and how we configure this. Right now, there are conflicting versions, in particular when it comes to interpreting what no passed namespaces means. `ControllerConfiguration` assumes that the current namespace is the target if the controller doesn't specify any, using the [`WATCH_ALL_NAMESPACES_MARKER`](https://github.com/jav

[2021-01-14 14:35] adam-sandor commented on #301
Ah ok.. that's fine. Tbh I don't even know where we use controller names in configuration

[2021-01-14 14:36] metacosm commented on #301
We don't really at the moment… 😄

[2021-01-14 14:36] adam-sandor commented on #298
I'm all for this. Local formatting only helps because you can see the results, but if the results suck you can't change them anyway. GH action taking care of this is a win.

[2021-01-14 17:58] psycho-ir commented on #301
To me, the controller name itself is more natural than doing any change by convention. And given that a custom resource can have more than a controller I don't think it can be replaced by the resource name.

[2021-01-14 19:04] metacosm commented on #301
More complex use cases might indeed run into that issue. Closing this then. Thanks for the input!

[2021-01-14 19:04] #301 closed

[2021-01-18 15:34] metacosm commented on #166
Should this be closed now?

[2021-01-18 15:36] metacosm commented on #199
Should this be closed now?

[2021-01-18 15:55] #199 closed

[2021-01-20 18:27] #302 closed

[2021-01-20 19:12] metacosm commented on #302
The decision was made to keep the behavior where not specifying any namespace would result in all namespaces being watched by default by the controller.

[2021-01-21 20:11] maxandersen commented on #283
@iocanel isn't users tha tuse kustomize used to apply manual anyways ?

i'm wondering when operator-java-sdk is used in quarkus context how much the existing kustomize integration in osdkcli does that wouldn't just be handled by current quarkus/dekorate/openshift integration?

[2021-01-22 11:53] ppatierno opened #310 "Controller create/update handling called even if exception when applying finalizer"
Due to a different problem that I have to figure out, I noticed the following possibly wrong behavior of the sdk ...
I apply the custom resource handled by my controller and the `handleDispatch` reaches the point where a finalizer is applied to the resource itself. At that point an exception happens (in my case a 404 NOT FOUND) and the `handleExecution` of the dispatcher is executed and the execut

[2021-01-22 16:05] metacosm opened #313 "Provide an obvious to "start" the operator for Quarkus applications"
Right now, an operation needs to be triggered on the injected Operator but there are no obvious method to call which makes things a little awkward…

[2021-01-22 17:22] metacosm opened #314 "Output operator sdk version at startup"

[2021-01-22 20:45] metacosm opened #315 "Skip controller registration if associated CRD is not present on the target cluster"

[2021-01-22 22:16] metacosm opened #316 "Unify logging on operations"
Some operations log information using the UID, others with the CR name. Name is probably better to use for a human than a UID to figure out which CR is having an issue.

[2021-01-22 22:17] metacosm opened #317 "Replace finalizer-related methods by the ones provided by the fabric8 client"

[2021-01-22 23:43] metacosm commented on #286
Hi @objcoding, this doesn't really appear to be an issue with this project but rather a problem either with your CRD or your custom resources. Closing this for now. Please re-open if you feel that the sdk is somehow causing the issue.

[2021-01-22 23:43] #286 closed

[2021-01-22 23:43] metacosm commented on #285
Outdated. Doneable are gone! 🎉

[2021-01-22 23:43] #285 closed

[2021-01-22 23:45] metacosm commented on #262
This was fixed by #306.

[2021-01-22 23:45] #262 closed

[2021-01-22 23:47] metacosm commented on #257
@charlottemach you mentioned you were interested in taking this on during the last weekly call, is it still the case?

[2021-01-23 15:33] csviri commented on #310
@ppatierno @metacosm I will take a look into this too. To be honest did not had this on mind when implementing this part, thus the scenario when adding a finalizer would fail.

[2021-01-23 15:36] ppatierno commented on #310
@csviri thanks! My PR works but not sure if this is the best solution as a newbie on this sdk.

[2021-01-25 18:19] metacosm commented on #315
Decision was made to let the operator crash if a controller cannot be registered instead of keeping on with the startup process.

[2021-01-25 18:19] #315 closed

[2021-01-25 19:23] Mallington opened #322 "v1.6.3 not released to artifactory"
The version 1.6.3 of both the operator-framework-spring-boot-starter and operator-framework does not appear to be present in the artifactory.

![Screenshot 2021-01-25 at 19 20 40](https://user-images.githubusercontent.com/25605615/105755117-c6a34080-5f42-11eb-866b-617fbe3ef6eb.png)
![Screenshot 2021-01-25 at 19 19 42](https://user-images.githubusercontent.com/25605615/105755120-c73bd700-5f42-11eb-

[2021-01-25 20:25] #310 closed

[2021-01-26 08:34] jmesnil opened #323 "Expose Operator metrics out-of-the-box"
The operator should leverage MicroProfile Metrics to expose metrics out-of-the-box if they are supported on the cluster.

In particular for the Quarkus extension, the smallrye-metrics extension should be installed.
If metrics are supported (by checking whether the `ServiceMonitor` CRD is installed), when the operator starts it should automatically create a `ServiceMonitor` (and a corresponding `Se

[2021-01-26 08:46] jmesnil commented on #259
That is something that I would need in my operator and that I'm able to achieve in Golang by watching secondary resources owned by my custom resources:

https://github.com/wildfly/wildfly-operator/blob/1989b113ec70cc550f60428590de61171e8eb8dd/pkg/controller/wildflyserver/wildflyserver_controller.go#L81-L88

This will trigger a call to my custom resource code handling so that I can reconcile its st

[2021-01-26 13:30] #313 closed

[2021-01-26 13:30] #314 closed

[2021-01-26 13:30] #317 closed

[2021-01-27 08:50] adam-sandor commented on #259
@jmesnil I'm not sure if you're aware but this is already possible (see tomcat sample). The missing thing now is that the framework doesn't do as much as it could to help. You have to create your own EventSource even for standard Kubernetes objects (see DeploymentEventSource) and you have to manage owner references yourself.

[2021-01-27 08:57] jmesnil commented on #259
@adam-sandor sorry, if I was not clear.

I saw the tomcat sample but this requires lots of boilerplate code that should be provided (or helped) by the SDK.
The key word in this RFE is "out-of-the-box" :)

[2021-01-27 15:42] adam-sandor opened #325 "Implement DeploymentEventSources in samples using SharedInformers"
Currently the DeploymentEventSource in the Tomcat and Memcached samples is implemented using a Watch. Fabric8 now supports [SharedInformers ](https://rohaan.medium.com/introduction-to-fabric8-kubernetes-java-client-informer-api-b945082d69af) which have a nicer API and cache the requested objects. To properly utilize this caching the DeploymentEventSources should be extended with a `get` method whi

[2021-01-27 15:42] adam-sandor opened #326 "Generate Deployment, ServiceAccount, RoleBinding for operetor"
Deploying an Operator involves creating quite a few Kubernetes objects. We need the Deployment itself for running the Operator, but also a ServiceAccount, Role and RoleBinding. Let's find a way to conveniently generate these for the user additionally to the CRD yaml.

Ideas:
* Use templating
* Use https://github.com/dekorateio/dekorate

[2021-01-27 18:18] Mallington opened #327 "createOrUpdateResource events not being triggered after retry mechanism"
After triggering the retry mechanism, no new kubernetes resource updates are processed.
[code]
My configuration:
-  kubernetes client version: 4.13.0
- operator.controller.retry.maxAttempts=5

[2021-01-31 13:26] #327 closed

[2021-02-01 16:18] jmesnil opened #330 "Have access to Fabric8 OpenShift Client"
In my operator, if I detect that I'm running on OpenShift, I have specific resources to install (e.g. a `Route`).

I want to be able to use fabric8 OpenShiftClient in those cases (after detecting that I'm running on OpenShift) to do that with Java types to interact with these OpenShift resources .

I'm using the operator-framework-quarkus-extension to build my operator and if I inject a `io.fabric

[2021-02-03 07:33] kornys opened #331 "Running operator using @QuarkusTest annotation does not work"
We want to run integration test with operator but seems triggering using `@QuarkusTest` annotation does not work. It started but not connected to a kubernetes cluster or mock kubernetes  server. I tried workaround [1] and in this case operator is connected to a running kubernetes cluster.

Could you please investtigate why operator in QuarkusTest mode does not work?

[1]
[code]

[2021-02-05 13:51] #331 closed

[2021-02-08 22:43] cortex93 opened #333 "Sample or guidance for non cluster wide quarkus operator"
Hi,

I'm trying to build an operator to watch for namespaces known at runtime through env  in a "multi-tenant" cluster. That is the operator cannot be bind to a ClusterRole.

How can I configure the controller ?

Tried with operator-framework-quarkus-extension version 1.7.1
[code]

[code]

[2021-02-09 17:16] csviri opened #334 "TriggerFiltering (Cover Event Handler (from Operator SDK))"
We are executing now controller on every event we receive (or a list of events, in case more received while executing a controller).
As an optimization we could provide an extention point / hook where we can say that  if "give this set of events we should execute the controller".

This is also an analogy covered in Go Operator SDK using the event handlers.

[2021-02-09 17:25] csviri opened #335 "Allow to "put back" events with TimerEventSource"
When we trigger controller with some events, but executing on operation on a dependent resource would take longer time. We can schedule a controller execution with TimerEventSource - a one time event. To don't miss any information we want to give possibility to receive the actual events (or a subset of it - as user specifies) inside a one time event.

To undertstand it, the implementation would me

[2021-02-10 20:24] ppatierno opened #336 "[BUG] Deleting a secondary resource raises the createOrUpdateResource handler to be called in the controller"
The scenario is about handling "manual" deletion of secondary resources created by a controller, where by "manual" I mean that after the controller creates a secondary resource, that is deleted by someone else (application or user) interacting with the Kubernetes server API (An example could be the Tomcat controller that creates a `Deployment` as a secondary resource).

In order to watch events fo

[2021-02-10 21:41] csviri commented on #336
@ppatierno this is intentional as explained on Discord. Will explain it more in detail.

[2021-02-11 11:19] cortex93 commented on #333
Find out from the [test code](https://github.com/java-operator-sdk/java-operator-sdk/tree/master/operator-framework-quarkus-extension/tests), the key in application.properties should be `quarkus.operator-sdk.controllers.<controller name>.namespaces`.

controller name can be configured in the @controller annotation `@Controller(name="foo")`

[2021-02-11 11:19] #333 closed

[2021-02-11 12:45] cortex93 opened #337 "namespaces configuration should not be fixed at build time for quarkus operator"
Hi,

I have an issue where I want a quarkus native executable to watch different namespaces depending on its environment variable.

The idea is to deploy a pod with env section something like

[code]

or any other values.

Is it possible ?

[2021-02-11 13:25] pmuir opened #338 "Generate Go structs etc. for CRDs"
Be able to generate the Go code for CRDs from the Java code or via intermediate format eg. CRDs

This is to allow interop between a Go Operator or client library trying to create CRs for CRDs in a Java Operator

[2021-02-12 00:55] cortex93 commented on #337
Seems ControllerConfigurationOverrider is the way to but can't find a way how to use it as Controller is created and registered automatically.

[2021-02-12 00:58] cortex93 commented on #166
With 1.7.1, I must annotate my Spec and Status class with @RegisterForReflection. If not, jackson complains when deserializing.

[2021-02-12 13:15] metacosm commented on #338
This is low priority for me but @iocanel mentioned he wanted to take a stab at it.

[2021-02-12 15:58] daniellavoie opened #339 "404 page not found on custom resource creation"
## Overview

I've been iterating on the implementation of a custom resource controller. I was able to get my `createOrUpdateResource` function called successfully. This CRD was initially configured with a `cluster` scope. After deleting it and recreating it with a `namespaced` scope, `createOrUpdateResource` is not called anymore and the ADDED event tries to update the resource with a finalizer.

[2021-02-12 17:07] metacosm commented on #166
@cortex93 yes, this issue is already fixed in https://github.com/java-operator-sdk/java-operator-sdk/pull/311

[2021-02-13 11:57] #336 closed

[2021-02-17 14:57] adam-sandor opened #341 "Getting started guide"
Guide first-time users through fewest steps necessary to get up and running with their new operator.

PR already started: https://github.com/java-operator-sdk/java-operator-sdk/pull/340

[2021-02-21 12:34] lordofthejars commented on #110
Hello, if you want I can develop 2 Java classes (one for JSON using JSON-P dep and another for YAML using snakeYAML) taht reads a CRD and generate the Java files. I know this is not a plugin nor a CLI tool, but then you'll be able to use these classes there.

[2021-02-22 08:34] goldmann opened #346 "IllegalArgumentException when using Quarkus extension with abstract classes"
In order to share similar functionality between controllers, following controller class structure was designed:

* `public abstract class AbstractPipelineRunController<T extends AbstractPipelineRun> implements ResourceController<T> {}`
* `@Controller public class ClusterPipelineRunController extends AbstractPipelineRunController<ClusterPipelineRunResource> {}`
* `@Controller public class PipelineR

[2021-02-22 08:36] metacosm commented on #346
Thank you for the report. Going to look at it now.

[2021-02-22 08:38] metacosm commented on #339
Hi @daniellavoie, sorry for the late reply, somehow I missed this issue.

Does your `PinotCluster` class implement `Namespaced`?

[2021-02-22 14:01] daniellavoie commented on #339
Maybe next time i will read the documentation ENTIRELY...

Thank you! Still I would like to keep this issue open as I'll try to contribute a PR that provides an explicit exception when the CRD is defined as `Namespaced` and the interface missing. I believe the sdk has all the required information to make that check.

[2021-02-22 14:42] metacosm commented on #339
@daniellavoie I've thought about doing something like this at the fabric8 client level but it might indeed be useful at the SDK level. We're also considering changing that behavior because it makes more sense for resources to be namespaced by default and that clustered resources should be marked explicitly. In the mean time, it might indeed make sense to report an error to SDK users. I'll let you

[2021-02-22 16:19] #346 closed

[2021-02-23 15:53] #339 closed

[2021-02-24 07:44] adam-sandor opened #349 "Use built-in Kubernetes resources as input to Controller"
It should be possible to build an Operator that acts on Deployment, Service and other Kubernetes resources instead of a Custom Resource. This would support use-cases where someone wants to enrich the functionality of Kubernetes resources or build some kind of monitoring/logging.

[2021-02-25 08:41] metacosm commented on #110
This is now fixed by using the `crd-generator` functionality provided by fabric8's kubernetes-client project as shown in #350.

[2021-02-26 11:08] metacosm commented on #337
You should be able to define the namespaces in your `application.properties` file as follows:
`quarkus.operator-sdk.controllers.annotation.namespaces=foo,bar,baz`

[2021-02-26 11:11] metacosm commented on #337
That said, re-reading your initial comment, configuring the namespaces in `application.properties` doesn't really address your problem. I will look into it.

[2021-02-26 12:51] adam-sandor commented on #335
I don't understand the use-case here. Why is it a problem if an operation on a dependent resource takes time? Do you mean creating a DB in createOrUpdateResource taking too much time?

[2021-02-26 13:07] csviri commented on #335
The idea is  ( wha twe discussed this before I think in an Operator SDK comparison meeting) that we use one time events in case that in a controller we have a particular step, yes like a DB creation takes time, and we wan't to wait until that happens and then go for the next steps further.
In this case we want to periodically execute the controller to check if the DB is ready yet or not, so to mak

[2021-02-26 13:12] metacosm commented on #335
Can you explain using an example how this changes things? What does it provide that we couldn't previously do? Detailing the before and after cases would help understanding the use case…

[2021-02-26 13:41] csviri commented on #335
Sure (2 use cases):
Example / use case 1:

Let's assume that we use events in the controller to cordinate the workflow. (yes I advice agains this but might needed some cases)

For example in a controller we want to create an RDS database on AWS. And also deploy a service which uses that database after. (Note that we know the DB url after its been provisioned). So in a controller we initiate the DB

[2021-02-26 16:53] adam-sandor commented on #335
Thanks for the detailed explanation. We discussed at some point to have examples for changes like this, can you create one? Maybe modify the MySQL sample to utilize this behavior? I think this is important to properly assess whether this will be useful for users (and to make sure people have a sample to look at on how/why to use it).

[2021-02-26 20:10] cortex93 commented on #337
Setting `quarkus.operator-sdk.controllers.annotation.namespaces=${FOO_ENV}` fails native compilation if FOO_ENV doesn't exist.

[2021-03-01 10:15] metacosm commented on #335
OK, I think I understand the use case a little better now. Thank you.

[2021-03-01 11:40] manusant opened #352 "Not possible to deserialize CustomResource event into object in kotlin"
I'm trying to use the Operator-SDK + Quarkus to build an operator in kotlin but i realized that when receiving events from the kubernetes cluster, the operator fails do deserialize and throws this error:

`11:36:38 ERROR [io.fa.ku.cl.ds.in.WatcherWebSocketListener] (OkHttp https://192.168.64.5:8443/...) Unhandled exception encountered in watcher event handler: java.lang.IllegalStateException: com.

[2021-03-01 12:51] metacosm commented on #352
We haven't tested the SDK with kotlin. Do you have a project that could be used to reproduce the issue?

[2021-03-01 13:15] #110 closed

[2021-03-01 14:40] metacosm commented on #337
Sorry, I wasn't very clear in my previous message… 😰
Passing the following env variable should work: `QUARKUS_OPERATOR_SDK_CONTROLLERS_<your controller name>_NAMESPACE=<comma-separated list of namespaces you want your controller to watch>`.

[2021-03-02 10:37] manusant commented on #352
Yes i've reproduced the Tomcat vs WebApps sample in Kotlin + Quarkus just for learning... i believe that the problem must be related with inheritance and how the Jackson Object mapper handles it.

**This throws the exception when deserializing:**
[code]

**While this works, but i was expecting the properties to be picked automatically by the object mapper:**
[code]

I also tried to fix the problem

[2021-03-02 13:13] metacosm commented on #352
I think we could probably bypass the issue altogether by removing the `ObjectMapper` from `CustomResourceCache` by adding a copy constructor to `CustomResource` so that we can copy CRs directly instead of going through the quite inefficient process of serializing/deserializing objects… What do you think @csviri?

[2021-03-02 13:27] metacosm commented on #352
Hmm, thinking about it some more, it wouldn't really be practical and probably wouldn't be much more efficient than going through serialization while also bringing other issues… Another option would be to make `CustomResource` `Cloneable` with a default implementation that would cover most common cases (i.e. spec and status, no other fields). People with more unique CRs would then need to implemen

[2021-03-02 15:05] metacosm opened #353 "Move quarkus extension to Quarkiverse"
https://github.com/quarkiverse/quarkiverse/wiki#joining-quarkiverse

[2021-03-03 08:31] csviri commented on #352
@metacosm I'm open to do the cloning in a different way. Clonable makes sense, just would be nice have to enforce it somhow.
The positive side of the current implementation its very transparent.

@manusant @metacosm yes we could make even an abstraction over the cache, so define it as an interface and make it replacable with differnet implementations, if that makes sense. For now we can have this

[2021-03-03 09:03] metacosm commented on #352
Having the `CustomResource` implement `Cloneable` is bringing its own bunch of issues, in particular, this means that the spec and status classes also would have to be `Cloneable` to be able to have a deep copy by default. That has quite an impact on existing code. It also means that you wouldn't be able to do `extends CustomResource<Foo, Void>` anymore to specify that your CR doesn't need a statu

[2021-03-03 15:01] stoetti commented on #94
@csviri Is this on the roadmap in the near future?

[2021-03-03 16:11] csviri commented on #94
@stoetti yes, this should be actually one of the priorities in the close future.

pinging also @metacosm

[2021-03-03 17:06] ppatierno opened #354 "SDK failure GETting CRDs if no permissions are provided to service account in OpenShift"
When deploying and running an operator on OpenShift I came across the following exception.

[code]

In order to solve this I needed to add permission to the service account to get/list/watch CRDs.
Why is that needed by the sdk? I would say that an operator should not have this kind of permission in his Role/ClusterRole.

[2021-03-03 17:37] metacosm commented on #94
This should actually work already, no? If not, could you explicit a scenario that doesn't work?

[2021-03-03 19:29] csviri commented on #94
@metacosm  good question, went though again on the docs:
https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning

1. If we see this in a way that we are the client only of the API, and the conversion hooks are properly configured for a custom resource, the migration can be seamlessly done by upgrading the operator to support JUST the most recent ve

[2021-03-04 09:55] stoetti commented on #94
I gave it a try without using the conversionStrategy 'None'. In that case k8s just changes the apiVersion to the version thats marked with stored=true. This obviously leads to a deserialization-error if there is an incompatible change in the CRD.

I will work on a sample with a conversion webhook and see if there are any aspects that are worth building into a subproject. From the documentation the

[2021-03-04 10:32] csviri commented on #94
yes, just don't know how we would support that, probably does not make sense.

Sure, pls do, what I mean is since this is a mapping basically between json structures there is not much that can be done on a framework level to support this. Setting up such a service is already quite simple using just an application framework (spring, quarkus).

[2021-03-04 14:39] metacosm commented on #94
From my perspective, different version should be backed by different POJOs (though I understand there might be cases where that's not practical), each "registered" using a different version annotation so there shouldn't be a deserialization issue. Of course, if there is no backing object, there really is nothing the SDK can do… :)

[2021-03-04 15:19] csviri commented on #94
(Sorry this was an accident closing it)

Maybe I don't understand this correctly, but the point of these conversion webhooks is to avoid to thinkin about multiple versions at the same time on client side. So having a conversion hook, basically makes it transparent for the client what version is actually used.
Thus, if somebody has an operator, and there is a new version of CRD (with a conversion s

[2021-03-04 15:35] metacosm commented on #94
Well, this would only work if your client can handle whatever the server returns, right? So even if you only want to keep one version to deal with on the client, there still needs to be a POJO on the client that's able to handle the converted version.
That said, I'm not super familiar with conversion webhooks so maybe I'm missing something.

[2021-03-04 15:53] csviri commented on #94
So how I understand it correctly the default worflow looks like this:

1. apply the CRD with version 1
2. implement the operator with corresponding POJOs
3.Update the CRD with version 2 also included (set as default) also prepare the webhook.
  At this point since there is a webhook, so operator still can work with version 1. Since if it watches the CR with version 1 the
  K8S API returns it with

[2021-03-04 17:09] metacosm commented on #330
@jmesnil can you give #355 a try, please?

[2021-03-04 17:19] metacosm commented on #94
That's my understanding as well but the SDK has nothing to do in this scenario so this really isn't an issue, perhaps only something to document.

[2021-03-04 17:24] csviri commented on #94
Agree,
if no objection, I would close this issue, it will serve as a nice note on this topic.

[2021-03-04 17:26] metacosm commented on #353
Requested the `quarkus-operator-sdk` repo in the Quarkiverse. See https://github.com/quarkusio/quarkus/issues/15478. /cc @adam-sandor

[2021-03-05 09:49] metacosm commented on #353
Quarkiverse repo has been created: the extension will live at https://github.com/quarkiverse/quarkus-operator-sdk.

[2021-03-05 09:51] metacosm commented on #354
I'm conflicted on this: on the one hand, it's better to make the SDK require as little permissions as possible but on the other hand, being able to check for the CRD's availability makes it possible to inform users in a more explicit way when they forgot to deploy their CRD.
What do people think? /cc @adam-sandor @csviri

[2021-03-05 10:05] metacosm opened #356 "Use Caffeine instead of homegrown cache for CustomResourceCache"
We need to provide a cache that can properly support eviction and we should avoid writing one ourselves. [Caffeine](https://github.com/ben-manes/caffeine) looks like a good candidate for that. /cc @csviri

[2021-03-05 10:09] csviri commented on #354
@metacosm IMHO the best way would be to push this decision to the user, so we could have this an optional feature, but by default don't require the CRD to be read.

[2021-03-05 10:13] csviri commented on #356
When I was implementing that , was thinking about caffein, but here we don't need automatic cache eviction and featured that caffein provides. In a normal service where you would limit the number of objects cached, and have a nice configurable way of doing caching caffein is the weapon of choice.
However here we actually want to always store the latest CR, so a concurrent hash map was a KISS solut

[2021-03-05 10:17] metacosm commented on #356
The problem is that the cache will keep growing indefinitely as it is. Imagine a scenario where an operator provisions lots of of long-lived resources which are not modified afterwards. In that scenario, the cache will grow to be quite big but contain resources that are not needed anymore.

The problem is that `CustomResourceCache` is called cache but it really isn't because the `EventHandler` act

[2021-03-05 10:19] metacosm commented on #354
Good idea. I will make it configurable with the check activated by default so that it stays informative for new users but advanced users will be able to deactivate the functionality.

[2021-03-05 10:42] ppatierno commented on #354
I am totally fine with it. At least having a way to disable would be really useful. Thanks!

[2021-03-05 10:56] csviri commented on #356
@metacosm yes, that is intentional. So that what I mean when we want to have automatic removal of object from cache there are other parts to change, so its not that trivial.

Although in practice this is not really a problem with not extreme amunt of CR's (thus there are no millions of CRs). Note also think about if that in case an operator restarts, we also reconcile all the objects to they will

[2021-03-05 11:08] jeratora opened #357 "Java Operator crashing on startup after upgrading to Quarkus 1.12.1"
Version of the Operator SDK : 1.7.2

Platform :
- Debian Buster
- openjdk version "11.0.9" 2020-10-20
- OpenJDK Runtime Environment GraalVM CE 20.3.0 (build 11.0.9+10-jvmci-20.3-b06

The steps taken to cause the bug :

1.  Upgrade from Quarkus 1.10.1 to 1.12.1
2.  mvn quarkus:dev

`2021-03-05 10:54:05,544 ERROR [io.qua.run.boo.StartupActionImpl] (Quarkus Main Thread) Error running Quarkus: java.la

[2021-03-05 15:10] metacosm commented on #357
Can you provide the output of `mvn dependency:tree` on your project, please?

[2021-03-05 15:21] jeratora commented on #357
(sorry attachment didn't work for me).

[INFO] --- maven-dependency-plugin:2.8:tree (default-cli) @ entitlement-operator ---
[INFO] com.fruit:entitlement-operator:jar:1.0.0-SNAPSHOT
[INFO] +- com.fruit:oda-security:jar:1.2.0-SNAPSHOT:compile
[INFO] |  +- io.quarkus:quarkus-rest-client:jar:1.12.1.Final:compile
[INFO] |  |  +- io.quarkus:quarkus-resteasy-common:jar:1.12.1.Final:compile
[INFO] |  |

[2021-03-05 15:23] csviri commented on #356
What we agreed on:
1. CustomResourceEvent source can cache the resources, and transparently get them from the server if there is a miss
2. The cache will be pluggalble, so anyone can specify a cache implementation (we will have a Cache interface) and replace it. And the default can be caffein with some reasonable defaults. (Evicting oldest object first)

[2021-03-05 15:43] metacosm commented on #357
I don't see anything obvious in the dependencies… I was thinking that maybe an older version of the client had somehow snuck in but this doesn't appear to be the case.
Try a full build, running `mvn clean compile quarkus:dev`?

[2021-03-05 15:53] jeratora commented on #357
For now, the only way I managed to make it work in a hackish way is

1. to exclude kubernetes-client / kubernetes-model / openshift-model from the dependencies
2. add them again with a lower version : 5.0.0.

Seems like the signature of the method has changed :

Before :
`public interface V1ApiextensionAPIGroupDSL extends Client {
  MixedOperation<CustomResourceDefinition, CustomResourceDefinition

[2021-03-05 15:56] metacosm commented on #357
Yes, the signature has changed but I don't understand why that's causing an issue if there are no conflicting versions of the lib in your dependencies…
So I take that a clean build didn't help?

[2021-03-05 15:59] jeratora commented on #357
No, unfortunately it did not.

[2021-03-05 16:00] metacosm commented on #357
🤔 Now that I take another look, it looks like your `mvn dependency:tree` output might be truncated, is this really the full one?

[2021-03-05 16:02] jeratora commented on #357
Yes, just missing the finally status line.

[INFO]
[INFO] ------------------< com.fruit:entitlement-operator >-------------------
[INFO] Building entitlement-operator 1.0.0-SNAPSHOT
[INFO] --------------------------------[ jar ]---------------------------------
[INFO]
[INFO] --- maven-dependency-plugin:2.8:tree (default-cli) @ entitlement-operator ---
[INFO] com.fruit:entitlement-operator:jar:1.0.

[2021-03-05 16:09] maxandersen commented on #357
just to exclude all options - you have done a mvn clean before doing mvn quarkus:dev?

just be sure its not some mixup of deps/old output .

[2021-03-05 16:12] jeratora commented on #357
I've just tried using the suggested command : `mvn clean compile quarkus:dev`.

Besides that, another colleague of mine has the same problem (similar environment).

[2021-03-05 16:16] metacosm commented on #357
Any way you could provide us with a sample repository we could use to reproduce the issue?

[2021-03-05 17:13] cortex93 commented on #357
Having the same behaviour. Checkouting 1.7.2-snapshot and upgrading kubernetes client version to 5.1.1 resolve the issue. I'll try to isolate in a repro project

[2021-03-05 17:38] cortex93 commented on #357
[example-operator.zip](https://github.com/java-operator-sdk/java-operator-sdk/files/6092224/example-operator.zip)

[2021-03-05 17:41] cortex93 commented on #357
[code]

[2021-03-05 17:47] cortex93 commented on #357
From the dependency tree, I see that
[code]

while the sdk is compiled against 5.1.0 and I think that the customResourceDefinitions is not compatible at runtime due to signature change.

[2021-03-05 18:34] metacosm commented on #357
That's what I was thinking initially but the dependencies didn't show a conflict…
That said, if you add the `kubernetes-client-bom` before the quarkus bom, it should override all the versions cleanly. That's the downside of things at the moment. I'm not sure how to make it cleaner.

[2021-03-05 18:51] cortex93 commented on #357
adding

[code]
works but it downgrades kubernetes-client regarding quarkus platform latest version.

Using quarkus 1.12.0 make use of 5.1.0 but then we encounter another issue

[code]

Would it be possible to release a 1.7.3 to align operator sdk on quarkus platform 1.12.1 and fabric.io 5.1.1 ?

[2021-03-05 20:22] #357 closed

[2021-03-05 20:58] metacosm commented on #357
1.7.3 should now be available.

[2021-03-05 21:19] cortex93 commented on #357
Work like a charm. Thank you.

[2021-03-06 20:55] b-slim opened #360 "Features comparison with new official Java Sdk"
Hi I wondering if you have a list of features or functionality that are absent/existing in the new official Java sdk https://github.com/kubernetes-client/java
I am about to start a new operator project and wondering what are the pros and cons of each of the SDKs.
Thanks

[2021-03-08 08:53] #354 closed

[2021-03-08 14:57] metacosm commented on #360
There's no "official" Java SDK for operator development. For that matter, there isn't one in go either (though the `operator-sdk` project is the de facto standard, there).

The project you reference is a java *client* for the Kubernetes API (essentially a wrapper around a REST client). On the other hand, this `java-operator-sdk` project aims to add more features on top of a client by providing hig

[2021-03-08 16:59] #330 closed

[2021-03-09 09:42] metacosm commented on #337
@cortex93 did that solve your issue? If yes, can you please close this issue?

[2021-03-09 12:20] lburgazzoli opened #362 "crd-generator: @Version vs generated CRDs"
I have a custom resource that looks like:

[code]

and I've added the `io.fabric8:crd-generator` to the dependencies which generates the following CRDs:

- META-INF/fabric8/myresources.acme.com-v1beta1.yml
- META-INF/fabric8/myresources.acme.com-v1b.yml

I'd expect to see the `v1alpha1` instead of `v1beta1`

[2021-03-09 12:22] lburgazzoli opened #363 "crd-generator: option to set where CRDs should be generated"
By default the crd-generator generates the yaml files in `target/classes/META-INF/fabric8` but it would be nice to have an option to specify where they should be generated so as example, one can check in the CRDs to the repository

[2021-03-09 12:25] lburgazzoli commented on #362
oh sorry, misunderstood

[2021-03-09 12:25] #362 closed

[2021-03-09 14:38] metacosm commented on #363
See https://github.com/fabric8io/kubernetes-client/issues/2842

[2021-03-09 14:41] metacosm opened #365 "Unable to connect to OpenShift cluster"
Getting `ERROR [io.jav.ope.Operator] (Quarkus Main Thread) Not connected to any cluster. Exiting!` despite the connection information being correct.

[2021-03-09 15:35] lburgazzoli opened #366 "SSLHandshakeException : PKIX path building failed"
I've rebuild the code from master to get rid of the issue fixed by 5cb514de94ea607d5f1cc13c9d515ea7aaf632cf, but now I see the following error when conencting to an OpenShift 4.6.x:

[code]

Some info:

**os:**
[code]

**oc:**
[code]

**java:**
[code]

**dependencies:**
[code]

**kubeconfig:**
[code]

**code:**
[code]

[2021-03-09 15:37] lburgazzoli commented on #366
Seems similar to https://github.com/quarkusio/quarkus/issues/8947

[2021-03-09 16:09] metacosm commented on #363
Where would you like to generate the CRDs for example? Note that the current implementation relies on annotation processing which restricts where the files can be generated…

[2021-03-09 16:12] lburgazzoli commented on #363
something like: `src/generated/resources/META-INF/fabric8`

[2021-03-09 17:44] metacosm commented on #363
We currently cannot generate in `src` but we could generate them in `target/generated-sources/annotations`. This is due to annotation processing restrictions. We plan on addressing this at some point but this is not a priority at the moment. See fabric8io/kubernetes-client#2836 for more details.

[2021-03-09 17:49] lburgazzoli commented on #363
understood however it would be very beneficial IMHO so you can apply a CRD from github directly, no need to build the operator just to get the CRD

[2021-03-09 17:59] metacosm commented on #363
Agreed but then, you can also generate the CRD and then commit them… This could probably be implemented as part of the build process…

[2021-03-09 21:06] cortex93 commented on #337
No, it doesn't. The env var works but only at build time. Setting a different value at runtime has no effect.

[2021-03-09 21:12] cortex93 commented on #337
From what I understand here https://quarkus.io/guides/writing-extensions#configuration-root-phases, the annotation here
https://github.com/java-operator-sdk/java-operator-sdk/blob/733138a5afdbe63eaa5ac7f9eb9cac12d2bb5dcf/operator-framework-quarkus-extension/runtime/src/main/java/io/javaoperatorsdk/quarkus/extension/ExternalConfiguration.java#L10

[code]
makes the config value sealed at build time.

[2021-03-10 05:42] lburgazzoli commented on #366
**kubeconfig:**
[code]

[2021-03-10 06:14] lburgazzoli opened #367 "SSLException: Socket closed on shutdown"
When stopping a quarkus based operator connected to a remote cluster, I see the following exception:

[code]

This can be safely ignored I guess but if so, it should not appear as a warning

[2021-03-10 15:57] metacosm commented on #367
This is a known issue. There's even a PR opened for it, we just haven't gotten around to fixing it properly :)
See #309.

[2021-03-10 19:16] metacosm commented on #353
Done!

[2021-03-10 19:16] #353 closed

[2021-03-10 19:35] being-vishal commented on #316
Hello, Greetings..! As it is a good first issue I would like to try out my hands on this issue. Can you help me in getting started?

[2021-03-11 15:45] lburgazzoli opened #368 "Add lifecycle hooks to EventSource"
The class `io.javaoperatorsdk.operator.processing.event.EventSource` does not provide any lifecycle method, so there is a chance a watch is registered and an event is received before an EventHandler is registered.

As example, the [memcached example](https://github.com/java-operator-sdk/memcached-operator-sample/blob/main/src/main/java/io/javaoperatorsdk/sample/memcached/DeploymentEventSource.java

[2021-03-11 16:36] lburgazzoli opened #369 "[resource controller] add an option to re-schedule a request"
The method `UpdateControl<R> createOrUpdateResource(R resources, Context<R> context);` has no option to reschedule a request. Usually you should rely on event source but sometimes it is much more simpler to reschedule a reuqest (which is possible in the golang based sdk).

Something like:

    UpdateControl.reschedule(delay)

Would IMHO, be useful

[2021-03-12 08:37] lburgazzoli commented on #369
To expand a little bit more: as part of the reconcile logic of my operator, I need to perform some interaction with an external HTTP service which of course can fail for a number of reasons so as today, the option I have to retry are:

1. throw an exception which would work but it does not give control about when the next reconcile will happen and you may want to implement some logic like back-off

[2021-03-12 08:53] metacosm commented on #360
Can we close this issue, @b-slim?

[2021-03-12 08:54] metacosm opened #370 "Investigate supporting webhooks"

[2021-03-12 14:40] metacosm commented on #363
There's a PR opened for this in the Quarkus extension: https://github.com/quarkiverse/quarkus-operator-sdk/pull/8. This requires the soon-to-be-released 5.2 version of the fabric8 client.

[2021-03-12 17:13] b-slim commented on #360
Sounds great thanks

On Fri, Mar 12, 2021 at 00:53 Chris Laprun ***@***.***> wrote:

--

B-Slim
_______/\/\/\_______/\/\/\_______/\/\/\_______/\/\/\_______/\/\/\_______

[2021-03-12 18:16] wtrocki commented on #166
I'm trying currently native builds. Is there any documentation/example (steps that we need in SDK itself) apart from following typical quarkus native build guide?

[2021-03-12 18:26] wtrocki opened #371 "UpdateControl.updateStatusSubResource(resource) is not updating status"
Hi

I have this really strange behavior in my operator:
Updates for status subresource stopped working

[2021-03-12 18:46] #360 closed

[2021-03-12 18:47] metacosm commented on #166
@wtrocki the only thing you should need is `mvn package -Pnative`.

[2021-03-15 06:42] lburgazzoli commented on #367
@metacosm given the related PR has been closed but not merge, should this issue be re-opened so it may get picked up later ?

[2021-03-15 08:15] metacosm commented on #166
@wtrocki the only thing you should need is `mvn package -Pnative`.

[2021-03-15 11:21] wtrocki commented on #371
Upon investigation I'm pretty sure that this is something to do with the operator itself.

[code]
is called but resource is never updated

[2021-03-15 11:21] lburgazzoli commented on #371
So I have a very simple control loop:

[code]

And I'm observing the same issue as @wtrocki

[2021-03-15 11:31] wtrocki commented on #371
Updated to 1.8.0 - seeing the same problem

[2021-03-15 11:47] metacosm commented on #371
Which version did you upgrade from, @wtrocki?

[2021-03-15 11:49] wtrocki commented on #371
We upgraded everytime version was released. I think bug started to appear in 1.7.2 (not 100% sure)

[2021-03-15 12:14] ruromero opened #372 "Controller to watch resources only where it is deployed"
Previously it was specified that by default the controller would watch only resources in the namespace it is deployed in. https://github.com/java-operator-sdk/java-operator-sdk/commit/456ea3c5877a79f01a47c00928af08d88ce169bd

I would like to ask for this feature to be implemented.

[code]

[2021-03-15 13:42] lburgazzoli opened #374 "[resource-controller] rename createOrUpdateResource ?"
`ResourceController`'s main entry point is `createOrUpdateResource(R resource, Context<R> context)` seems misleading as in fact the method operates on an already existing CR so not sure if `create` is actually an option.

Maybe `reconcile`  would be a better name ?

[2021-03-15 15:03] wtrocki opened #375 "Java Operator from Quarkiverse is not working"
Could not resolve dependencies for project com.operator:jar:1.0.0-SNAPSHOT: Could not find artifact io.javaoperatorsdk:operator-framework-quarkus-extension:jar:1.8.0.CR1 in central (https://repo.maven.apache.org/maven2)

It is not there (it might take time to populate)
https://repo.maven.apache.org/maven2/io/javaoperatorsdk/operator-framework-quarkus-extension/

I followed official docs

[2021-03-15 19:47] metacosm commented on #375
https://github.com/java-operator-sdk/java-operator-sdk#quarkus
The extension is now found at: https://repo.maven.apache.org/maven2/io/quarkiverse/operatorsdk/quarkus-operator-sdk/

[2021-03-15 19:47] #375 closed

[2021-03-16 09:51] wtrocki commented on #369
A good example would be operators interacting with API. We need to be able to reschedule requests.

Scheduler API provides this capability but that is global - we can check things at some time period.

@lburgazzoli
The workaround for now is to edit some made-up field in the metadata - then the operator will pick that as event and reschedule.

[2021-03-16 10:34] wtrocki opened #376 "Updating CR spec is not triggering update in SDK"
Making update in the CR Is not triggering update method in the operator.
Can be replicated on the sample application

[2021-03-16 11:31] wtrocki commented on #337
FYI `quarkus.operator-sdk.controllers.annotation.namespaces` doesn't work
but using ENV var with the name works.

[2021-03-16 12:25] wtrocki commented on #376
I'm about to close it. I ended up with this issue because I wanted to force the operator to reschedule my change - but updates in metadata are not triggering changes. Only updates in the spec.

If that is ok we can close this issue

[2021-03-16 12:39] metacosm commented on #337
You need to replace `annotation` by the name of your controller in the properties. So it's really: `quarkus.operator-sdk.controllers.<you controller name>.namespaces`. And, yes, there are env variables associated with each property.

That said, I'm working on enabling proper runtime support for controller configuration.

[2021-03-16 17:00] wtrocki commented on #371
Problem autoresolved itself after setting up dependencies again for kubernetes client etc.

[2021-03-16 17:00] #371 closed

[2021-03-16 19:20] metacosm commented on #371
Yep, was going to say that I couldn't reproduce it on my side… glad to hear it's solved.

[2021-03-16 21:35] metacosm commented on #376
Closing for now.

[2021-03-16 21:35] #376 closed

[2021-03-16 22:01] cortex93 commented on #369
Periodic reconciliation seems to be a very common use case, that it shouldn't be a big overhead to have the controller base class register it's own TimerEventSource.
I'm using Option 3 without trouble but being closer to the golang SDK would benefit to the whole ecosystem.

[2021-03-17 18:13] adam-sandor opened #379 "Intermittent test failures"
This test fails from time to time, not clear why: https://github.com/java-operator-sdk/java-operator-sdk/runs/2131801927?check_suite_focus=true

[2021-03-18 05:54] i8r opened #380 "Deactivating CustomResource implementations validation for spring-boot"
I would like to deactivating *CustomResource implementations validation* while using `operator-framework-spring-boot-starter` as I don't have the require privileges on production clusters. Right now, this doesn't seem to be easily achievable since [`OperatorAutoConfiguration`](https://github.com/java-operator-sdk/java-operator-sdk/blob/master/operator-framework-spring-boot-starter/src/main/java/io

[2021-03-18 15:25] #380 closed

[2021-03-18 20:26] #372 closed

[2021-03-22 10:51] i8r opened #384 "Make `ObjectMapper` in `CustomResourceCache` configurable"
The `CustomResourceCache` creates an internal `ObjectMapper` in order to clone objects. This causes problems if the default object mapper is not able to (de)serialize the sub-type of `CustomResource`. This happens for instance if the type has a field of Java 8 date/time types since `com.fasterxml.jackson.datatype.jsr310.JavaTimeModule` won't be loaded even if it is on the classpath.

I suggest to

[2021-03-22 14:42] metacosm opened #386 "Remove quarkus sample now there's a more full-fledged one in the extension itself."

[2021-03-23 20:44] #384 closed

[2021-03-23 20:46] metacosm commented on #352
I believe that this is now fixed with #385 merged. Please give it a try and re-open if this doesn't address your issue.

[2021-03-23 20:46] #352 closed

[2021-03-24 20:06] #386 closed

[2021-03-26 12:48] metacosm commented on #337
This has been addressed in the quarkus extension.

[2021-03-26 12:48] #337 closed

[2021-03-26 17:04] metacosm commented on #323
@jmesnil could you point me to the documentation on that topic, please?

[2021-03-26 17:36] lburgazzoli commented on #370
There are some cases where a web-hook may be useful, as example, supporting for upgrading custom resources when an operator gets updated or to do validation that go beyond what you can do with declarative validation. I don't have a clear idea how that should be implemented but it is not really different from a controller so as a developer, I'd expect to see something like:

[code]

And have `dekor

[2021-03-26 17:52] metacosm opened #389 "Remove CustomResourceFacade"
Its only purpose seems to be for testing purpose and we should probably use the mock server provided by the fabric8 client for that purpose: https://github.com/fabric8io/kubernetes-client#mocking-kubernetes

[2021-03-26 18:38] shawkins opened #390 "Access to CustomResourceCache"
We are looking to implement metrics over the custom resource managed by the operator and would like to avoid k8s api calls if possible.  It seems that the cache could be utilized either directly or indirectly for this purpose.  Directly would look like having access in the Controller, possibly via the init method - then we could use that to drive simple metrics count, and checks based upon the res

[2021-03-30 15:09] #389 closed

[2021-03-30 23:59] manusant commented on #352
Thank you guys for the effort. From the changes i can see that now it's possible to provide the object mapper from the outside. This will allow us to customize it if needed or use jackson extensions like the kotlin one.
Once again, great job.

[2021-04-01 14:59] shawkins opened #393 "The use of @Timed and @Counted seem to conflict with operator logic"
I'm trying to add micrometer annotations to the createOrUpdateResource and deleteResource methods.  However when I do that, the logs show:

2021-04-01 10:53:13,162 ERROR [io.fab.kub.cli.inf.cac.ProcessorListener] (pool-5-thread-1) Failed invoking null event handler: {}

Removing the annotations, everything works as expected.

Digging into the exception (which fabric8 is mostly swallowing) it appea

[2021-04-06 13:53] shawkins commented on #393
In our operator project we've worked around this by adding separating the controller logic into a bean with the Counted and Timed annotations, that is wired into another bean that is marked as the Controller.  Another possible fix here would be for the operator framework to provide similar metrics out-of-the-box.

[2021-04-08 20:59] shawkins commented on #393
Yes, sorry I should have specified.  I'll move this to the extension.

[2021-04-08 23:36] #393 closed

[2021-04-09 21:43] csviri commented on #374
@lburgazzoli I agree, reaised this actually too. The original idea was that we create or update resources managed by the controller so it's meant like that  (not creating or updating the CR). Or in event context handle createOrUpdate even of a custom resource. However we are currently also support different events from differnet events sources, so this naming does not fit at all IMHO. So the corre

[2021-04-09 21:49] csviri commented on #323
Hi @jmesnil we originally planned to use micrometer to expose metrics about the internals of the operator, see issue:
https://github.com/java-operator-sdk/java-operator-sdk/issues/64
It's a nice abstraction over metrics. Unfortunatelly I never get to that. I'm not very familiar with microprofile metrics, not sure how does it compare with micrometer.

[2021-04-09 21:53] csviri commented on #390
Hi @shawkins , it's an interesting idea, the cache is quite an internal thing, currently we are actually changing the implementation regarding to it. So it will be more extensible and replacable with custom implementation.
However not sure if that is the best place to imeplement metrics. I agree that observability could be better in general.
I think the best would be to implement metrics with micr

[2021-04-09 22:04] csviri commented on #368
Hi @lburgazzoli , yes this seems to be reasonable.

Not sure what you mean by " event is received before an EventHandler  is registered ".

But the current intention is that the EventSources are registered in the init method of the controller. At this point when an event would be produced it won't be missed by the system. Have to check , but you might be right that if the instantiation of the even

[2021-04-09 22:32] csviri commented on #64
Would be great to gather here the metrics we are interested in. I guess typical is:
- number of controller executions
- number of events processed
- controller execution durations
- number of custom resource managed

[2021-04-10 08:24] lburgazzoli commented on #368
So usually when an EventSource is created, you do something like:

[code]

But if the resource changes (in this case a deployment) before the `eventHandler` is set to the event source, there is a change either to miss the event or trigger an NPE (at least the memcached example would trigger an NPE). To solve this, in my code I do override `AbstractEventSource::setEventHandler` and I start watching

[2021-04-10 08:33] csviri commented on #368
Ahh I see how do you mean it, yes this seems to be a valid point, to avoid doing such workarounds.

[2021-04-10 18:27] shawkins commented on #390
Yes, that is the approach we are taking with the quarkus + micrometer integration.

Access to the cache was for things like:
- count of the custom resource
- other derived counts - number of resources with various condition states, such as ready.
See also what they are doing with https://cloudark.medium.com/kubernetes-custom-resource-metrics-2a947dd4d954

Related to #64 and #323 in general we adde

[2021-04-12 13:10] jmesnil commented on #323
@csviri I'm not sure whether using micrometer or MP metrics really matter as long as the operator sdk provides the configuration to specify the metrics endpoint that will be consumed by the `ServiceMonitor`.

[2021-04-16 16:05] secondsun opened #395 "CustomResource Controllers stop receiving updates after watch reconnect"
Sometimes our controllers stop receiving updates about their custom resources. We've seen that sometimes a watch will become disconnected, and the custom resource event source will try to reconnect but fail to do so. We think that this reconnect failure is causing this problem.

I've traced the reconnection and exceptions to here : https://github.com/java-operator-sdk/java-operator-sdk/blob/master

[2021-04-16 17:10] secondsun commented on #395
After thinking I have thought of two "easy" solutions that would work for my use case.
 1) if registerWatch in the onClose(WatchException) method throws an exception, call System.exit(1). This will restart the pod which will reestablish all connections.
 2) Alternatively, retry `registerWatch` with a exponential backoff.

Harder solutions would include adding events that are fired if a resource's

[2021-04-16 18:23] maledoux opened #396 "Resource status is NULL when using java-operator controller with kubernetes mock server"
I am trying to write unit tests for my java-operator using the kubernetes-server-mock.

I am using these versions:
[code]

My unit test simply create an operator with a controller, loads a CRD, and creates a resource for the CRD.

When I hit createOrUpdateResource() in the controller, the status of the resource is null, see image below.

![image](https://user-images.githubusercontent.com/20685776/

[2021-04-16 20:02] wtrocki commented on #395
@secondsun done some reading on why connection issue might happen:

1) cluster is unhealthy
2) cluster is overloaded
3) networking issues between nodes

Reason we seen this is because we got this OpenStack QA clusters that sometimes might get some bugs.

If we keep restarting pod on overloaded clusters we might contribute to the problem, however in this case kubernetes would do hard work on crash

[2021-04-19 14:17] secondsun opened #398 "JDK 16 Build Fails"
Currently the sdk fails to build on JDK 16 with the following error :

[code]

This seems to be a side effect of JEP 396

[2021-04-20 16:09] metacosm opened #399 "Make number of reconciliation threads configurable"

[2021-04-20 21:14] #399 closed

[2021-04-20 21:18] #395 closed

[2021-04-21 05:30] lburgazzoli opened #404 "Custom event filter for controllers"
By default the each controller implements a generation-based event filtering [1] thus a controller won't receive updates when i.,e. a status field is changed and if a controller need to react upon changes in the status field, the generation-based event filtering can be turned off i.e. by setting `quarkus.operator-sdk.controllers."${controller-name}".generation-aware = false` for quarkus based oper

[2021-04-21 10:21] lburgazzoli opened #405 "EventSourceManager interface"
the EventSourceManager interface defines a method that looks lika an internal one:

[code]

It looks like the only usage, is an internal implementation detail of the `DefaultEventSourceManager` so it may be safe to remove it.

[2021-04-21 11:34] lburgazzoli opened #406 "Make UpdateControl an enum"
The  method `ResourceController.createOrUpdateResource` should return an instance of `UpdateControl` to instruct the operator about if and what to update. The `UpdateControl` ckass, provides the following helpers:

[code]

Wonder if this could be reduced to an `enum` instead, like:

[code]

The `ResourceController` signature then would become:

[code]

The calling method then would use the custom

[2021-04-21 15:47] lburgazzoli commented on #368
I started having a look at this but I found that it is quite easy to add a `start` method but adding a stop one does not seems very simple as I do not see a clear shutdown process (i.e. there is a Operator.start but not Operator.stop/close).

@csviri how does the operator handle shutdown logic ?

[2021-04-22 05:25] lburgazzoli opened #408 "Operator start behavior"
The Operator.start method is implemented like:

[code]

I wonder if instead of doing a `System.exit(1)`, the start method should thrown an exception and let the caller decide what to do.

[2021-04-25 02:41] shawkins opened #409 "Status updates occurring close together result in an exeception"
We have a custom resource with several operands.  The current code will return UpdateControl.updateStatusSubResource on every call to ResourceController.createOrUpdateResource.  When several operand updates are processed close together we sometimes see:

[code]

I need to run in debug more to check if the operator sdk is retrying this - if it is retrying, then can this be logged at debug.  If it's

[2021-04-27 12:47] shawkins commented on #409
It does appear in debug that the retry handling is kicking in - the logic will look for any new events, and run the update again.  So this does appear to be benign.  @metacosm are you open to a change that would lower the amount of logging related to this exception?

[2021-04-27 13:00] metacosm commented on #409
Yep.

[2021-04-27 13:50] shawkins commented on #409
I've submitted a pr to change this to an info log without a stacktrace.

[2021-04-28 08:53] #368 closed

[2021-04-28 10:58] metacosm commented on #409
Can we close this issue then? Or are there still things that need to be investigated?

[2021-04-28 11:12] shawkins commented on #409
No, it seems that this is how it's expected to work.  The only alternative/addition would be to add locking per resource being passed to createOrUpate such that you could serialize it's processing - at least for the single operator case that would typically eliminate these conflicts.

[2021-04-28 11:14] shawkins opened #411 "Leader election"
Related to #409 are there plans to add leader election functionality similar to https://docs.openshift.com/container-platform/4.7/operators/operator_sdk/osdk-leader-election.html to the java operator sdk?

[2021-04-28 11:56] metacosm commented on #409
What do you think, @csviri?

[2021-04-28 13:18] csviri-form3 commented on #409
Hi @metacosm and @shawkins
Not sure if I understand the situation correctly: We have already serialized processing in terms of operator for a custom resource. If I understand correctly what happens is that an other process(es) changes the CR frequently, that lead to an optimistick locking error.

By locking I guess you mean pessimistic locking. I'm not aware that kubernetes supports such thing. I

[2021-04-28 13:21] csviri commented on #409
Hi @metacosm and @shawkins
Not sure if I understand the situation correctly: We have already serialized processing in terms of operator for a custom resource. If I understand correctly what happens is that an other process(es) changes the CR frequently, that lead to an optimistick locking error.

By locking I guess you mean pessimistic locking. I'm not aware that kubernetes supports such thing. I

[2021-04-28 15:16] csviri commented on #409
@shawkins just clarify 1 thing what do you mean by operand. Its a resource that is created by the controller and watched by an event source ?

Regarding to this comment:
https://github.com/java-operator-sdk/java-operator-sdk/blob/b4c6483ab3c4ddffcdf030681d03c4f3258556f8/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/processing/DefaultEventHandler.java#L211

This is an edge case,

[2021-04-28 16:11] shawkins commented on #409
That is correct.  Our cr that the operator is managing creates another custom resource, configmaps, secrets, deployments, etc.  We watch those resources via an informer and register them as event sources.

For a given resource R we see logs similar to:

2021-04-24 21:43:12,309 DEBUG [org.bf2.ope.eve.ResourceEventSource] Update event received for io.fabric8.kubernetes.api.model.apps.Deployment x fo

[2021-04-29 11:49] adam-sandor commented on #409
I checked in on this, and I agree with the opinion that you can't make the expectation that other processes won't be changing status. It's just how Kubernetes works. So optimistic locking with just an info log is the right solution imho.

[2021-04-29 12:31] csviri commented on #409
It's not restricted in any ways, it's just how it ment that only the controller updates the status.  But did not see this anywhere expicitly, (maybe will do a round around this on K8S Slack just out of curiosity). But if you have some nice reference about this pls share @adam-sandor.

The thing is that optimistic locking it won't help basically in any scenarios regaring to this, since it is anyway

[2021-04-29 16:13] metacosm commented on #322
Closing this as we recommend to use a more recent version. Please re-open if this is still an issue for you.

[2021-04-29 16:13] #322 closed

[2021-04-29 16:20] metacosm commented on #396
Is the status null after you set it? It's normal that status is initially null if the controller has never set it and the resource has just been created (i.e. it doesn't have a status on the server).

[2021-04-29 16:25] metacosm commented on #406
I think it makes sense, indeed.

[2021-04-29 16:27] metacosm commented on #289
This should have been fixed by 566e062ae839f7f93d1afbe494821c64ad15161d.

[2021-04-29 16:27] #289 closed

[2021-04-29 16:33] metacosm opened #414 "Extract Spring Boot starter and test starter into their own project"
This move will follow the similar one that was made a while ago to separate the quarkus extension from the core project. The issue here is that this will allow us to focus on the core and let the starter evolve at a different pace.
On a related note, we really need people to maintain the Spring Boot starter as it has a little fallen behind.

[2021-04-29 18:47] shawkins commented on #409
As best as I can tell we are observing this with

1. Custom Resource CR Revision 1 is in cache
2. ExecutionConsumer to update Custom Resource CR Revision 1 is queued
3. CR is updated to Revision 2
4. ExecutionConsumer runs and fails due to the conflict

This typically doesn't happen because there is little time between 2 and 4, but in some scenarios, such as rolling upgrades or mass deletions we s

[2021-04-29 19:07] csviri commented on #409
@shawkins , yes, this can naturally happen, its not necessary between 2 and 4. But actually can happen anytime the controller is is getting executed. And usually the controller execution is much longer then the time between 2 and 4 ( by 4 I mean its actually getting picked up by the executor thread.)

So if this is the case actually there is nothing to solve. This is expected. You are right that g

[2021-04-29 19:11] csviri commented on #409
And again the situation when we do retry, because of optimisit locking on status is more concerning. Because there we do retry, while we actually could avoid it and be still consistent. Typically in the situation when there is change on the CR but not on `.spec`.

[2021-04-29 20:10] metacosm commented on #409
Do you think we should re-open the fabric8 issue to support PATCH?

[2021-04-29 20:16] csviri commented on #409
@metacosm that issue was because of the finalizers mainly, since adding finalizer is always an "additive" operation we could do it by patching ("just add this finalizer to the finalizer list") request. But to be honest, I'm also quite happy with the current solution, maybe that would be a little bit nicer and straighforward.

The patch also increased the resource version, so we have to think about

[2021-04-29 20:18] csviri commented on #409
I will create a issue about the sub-resource update, I guess the k8s api does not require optimisitc locking there, (will verify). So we can disuss the pros and const regarding to that under the issue.

[2021-04-29 23:12] maledoux commented on #396
I created my resource the same way I would with the real Kubernetes client in a real cluster, so I would expect the status to be non-null.

I find it odd that version 5.1.1 does not behave the same way than version 5.3.0 with the server mock for this.

[2021-04-30 05:44] metacosm commented on #396
The handling of status and spec has indeed changed between 5.1.1 and 5.3.0. In 5.1, we were automatically instantiating these fields for Custom Resources but that turned out to  cause more issues than solve.

If a resource is applied to a cluster but no controller handles it, it's expected that it's status should be null because there's nothing to update that status, btw. So a null status is expec

[2021-04-30 11:27] shawkins commented on #409
This seems to require a resource version per the api server.  I've captured https://github.com/fabric8io/kubernetes-client/issues/3066 for fabric8 to consider this.

[2021-04-30 12:01] maledoux commented on #396
Ok, I just looked un the mysql schema sample and the status is actually created in the createOrUpdateResource().
 I will change my controller accordingly.

Have you looked at the other problem where updateStatusSubResource() triggers a call to the controller with a different UID everytime. This only happens with the mock server for my unit tests, otherwise it works fine using the production enviro

[2021-05-04 17:24] shawkins opened #415 "Ability to turn off adding a finalizer"
We would like an option to turn off adding a finalizer as we have no specially handling necessary upon deletion.  The current logic will treat no finalizer in the annotation as specifying the default.

I tried a workaround of setting an invalid name in 1.8.2, but that just produces a lot of exceptions.

[2021-05-04 23:33] shawkins opened #417 "Timing issue at start with AbstractEventSource"
This is a minor issue.  Event sources can start receiving events before the controller init is called.  This requires a null check of the eventHandler or you'll get npe exceptions for a while.  Perhaps AbstractEventSource could implement EventHandler and take care of the relevant null checks.

Related to this should the AbstractEventSource.eventHandler field be volatile?

[2021-05-05 01:23] shawkins commented on #396
I wanted to add a few things here.  It took some changes in fabric8 to get mock stuff working with the operator sdk.  https://github.com/fabric8io/kubernetes-client/pull/2946 and https://github.com/fabric8io/kubernetes-client/pull/2943 - those are both in 5.3.0.  If you use an older fabric8 things won't work at all because expected fields will be missing.  There is still https://github.com/fabric8

[2021-05-05 12:31] #414 closed

[2021-05-05 15:24] metacosm commented on #417
Is this still going on in the latest version?

[2021-05-05 16:10] shawkins commented on #417
I haven't checked.  The event source is an application scoped bean.  Events can start flowing as a side effect of a quarkus onStart hook.  Should the operator init be guaranteed to happen before that?  And/or do you want this as a quarkus specific issue?

[2021-05-07 08:43] lburgazzoli commented on #417
I think now you should override [EventSource.start](https://github.com/java-operator-sdk/java-operator-sdk/blob/master/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/processing/event/EventSource.java#L11) and [EventSource.close](https://github.com/java-operator-sdk/java-operator-sdk/blob/master/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/processing/event/Ev

[2021-05-07 17:12] metacosm commented on #417
Can we close this issue?

[2021-05-07 22:24] shawkins commented on #417
Yes.  Based upon our current code, we'll just stick with a null check.  We don't want to process any events until all of the informers have started/synced.

[2021-05-08 09:52] metacosm commented on #417
I'll add a null check to `AbstractEventSource` regardless. Thank you!

[2021-05-08 11:58] shawkins commented on #417
Do you mean have AbstractEventSource implement EventHandler and handle the null check in AbstractEventSource.handleEvent?

[2021-05-10 08:59] metacosm opened #421 "Make it possible to configure graceful shutdown of controllers execution threads"
Controllers launch threads to execute their tasks. When the operator is shut down, we should be able to configure how these threaded tasks get resolved; in particular, how long, if at all, do we need to wait for these threads to finish executing their tasks before the operator is actually shut down.

[2021-05-20 19:07] #415 closed

[2021-05-21 12:24] shawkins commented on #415
Looks good, hopefully I'll be able to try it soon.

[2021-05-21 13:43] #421 closed

[2021-06-03 16:22] lburgazzoli opened #430 "event source: use a predicate to select the custom resource for which a reconcile should be triggered"
If my understanding is correct, as today events triggers a reconcile on a CR matching by UID.

Sometimes is not possible to determine the UID because i.e. the reconcile should be triggered for an event outside kubernetes so it would be nice if events would be allowed to specify a predicate to filter out the CR for which a reconcile should ne triggered.

For backward compatibility an predicate base

[2021-06-08 21:22] metacosm commented on #430
Yes, it makes sense to me. Looking forward to your PoC! 😄

[2021-06-09 08:33] teszes opened #431 "No comprehensive Javadoc coverage"
Javadoc is used to document some areas of the code, extending this coverage to the entirety of the project would ease both reasoning about the code and the learning curve for new contributors.

[2021-06-11 14:49] metacosm opened #433 "If no namespace is explicitly set in the kube context, the operator will silently fall back to watch all namespaces"
There is no way around this but we should at least warn the users about this when the operator starts and document the problem.

[2021-06-13 08:13] lburgazzoli opened #434 "Don't install a shutdown hook by default"
When the Operator class is instantiated, it automatically registers a shutdown hook:

[code]

As the startup of the operator is responsibility of the operator developer, I think the shutdown should be left to the user otherwise there may be some conflict and undefined behavior because there may be the need to perform some logic before the operator shuts down.

I'm proposing to make this behavior e

[2021-06-13 09:00] lburgazzoli opened #436 "Event handler waits a long time before terminating"

[2021-06-13 11:51] lburgazzoli commented on #430
I've been looking at the code to implement a POC and I've added a method like the one below to the `CustoimResourceCache` class:

[code]

Then I started thinking about who should carry the predicate because as today, the `Event` carries also the UID of the `CustomResource` that is impacted by the event but with the predicate I was wondering if such information should be part of the event or a para

[2021-06-14 13:22] #436 closed

[2021-06-17 09:01] #433 closed

[2021-06-17 10:00] scootafew commented on #349
I agree, I have a use-case for which exactly this is required. Is there any plan to support this?

[2021-06-17 15:36] csviri commented on #349
@scootafew could you describe your use case pls?

[2021-06-21 10:59] teszes opened #442 "Raw use of parametrized classes"
IntelliJ is crying a lot about this, and I wonder if using the correct parametrized classes would make more sense than suppressing all the errors about it.

[2021-06-23 10:38] teszes commented on #408
I second this, this could just throw an OperatorException and go on from there. System.exit(1) won't even produce a clean halt, so it's just an unhandled (and unhandleable) exception with less information on the output.

[2021-06-23 10:46] teszes opened #445 "Array streaming to find namespaced resources"
This code is in CustomResourceUtils.java:17-22

`var namespaced =
        Arrays.stream(resClass.getInterfaces())
            .filter(classInterface -> classInterface.equals(Namespaced.class))
            .findAny()
            .isPresent();`

This would be equivalent to:

`var namespaced =
        Arrays.stream(resClass.getInterfaces())
            .anyMatch(classInterface -> classInterface.equal

[2021-06-23 10:53] teszes commented on #405
Wouldn't removing a public interface method mean a new major API version? I mean don't we have guarantees that public interfaces remain stable on minor versions with respect to only adding methods, not change or remove them?

I'm all for doing this if this is something we don't want people to build on.

[2021-06-24 15:50] metacosm commented on #408
@lburgazzoli do you have a specific use case or issue with the current handling? The idea here, which might be misguided, is that if the operator fails to start then that's usually a non-recoverable error and the pod the operator runs in should crash so that Kubernetes gets the opportunity to re-schedule a new pod at some later time.

[2021-06-24 16:15] lburgazzoli commented on #408
That's ok but it is not possible to intercept the error, so for example if we are using quarkus, I may want to use Quarkus.asyncExit() instead of using System.exit()

[2021-06-25 08:35] #445 closed

[2021-06-25 08:37] teszes commented on #431
As discussed at the weekly meeting, Javadoc should be expanded to the io.javaoperatorsdk.operator.api package, but no other packages. Am I correct in this?

I'm adjusting my PR accordingly.

[2021-06-25 10:15] teszes opened #446 "CustomResourceUtils single test case for four assertions"
The CustomResourceUtilsTest contains a single test case that tests for four different assertions, which fails if any of them fail. Wouldn't it be better to separate them into four cases that can fail individually?

- it would provide more fine grained information on failures
- it would also make test naming more informative

[2021-06-25 10:45] #446 closed

[2021-06-28 11:21] teszes commented on #366
It seems they weren't able to reproduce this at the client level, is this still reproducible on our end?

[2021-06-28 14:34] teszes commented on #406
How should we deal with the type parameter though? With an enum, we can't have `UpdateControl<T>` objects.

[2021-06-28 14:40] teszes commented on #316
By name, do you mean the string representation of the CR, so this:
`"CustomResource{kind='" + this.getKind() + '\'' + ", apiVersion='" + this.getApiVersion() + '\'' + ", metadata=" + this.metadata + ", spec=" + this.spec + ", status=" + this.status + '}'`

[2021-06-28 14:43] teszes commented on #316
Or is it `.getMetadata().getName()`?

[2021-06-28 15:05] teszes commented on #316
Also, there are helper methods in `KubernetesResourceUtils.java`, which simplify `resource.getMetadata().getProperty()` calls into `getProperty(resource)`. This is done for version and UID right now, I propose we extend it to other metadata properties for consistency.

[2021-06-28 15:13] teszes commented on #113
Closed by #119

[2021-06-28 15:13] #113 closed

[2021-06-28 15:31] teszes commented on #90
Submitted PR on samples repo, don't have rights to it

[2021-06-28 15:33] teszes commented on #211
Is this the same as #90 ?

[2021-06-28 15:34] teszes commented on #211
Closed as fixed except for the mysql one, issue #90 addresses that

[2021-06-28 15:34] #211 closed

[2021-06-29 08:48] metacosm commented on #316
- I was thinking about the CR name as defined by `metadata.name` which is the human-readable name for the CR
- Regarding utility methods, I don't think there's a need for that, it's just that some properties are accessed more often than others which might justify a wrapper (but I'm not even convinced that this is that useful either).

[2021-06-29 09:37] gunnarmorling opened #449 "Broken links on landing page"
The links to Tomcat.java, DeploymentEventSource.java, and QuarkusOperator.java on https://javaoperatorsdk.io yield 404s. I'll be happy to send a PR if you tell me where's the source of that page and where those links should point to. Thx!

// CC @metacosm

[2021-06-29 11:00] teszes commented on #449
Hi @gunnarmorling, thanks for pointing this out and the offer to help.

I think this is related to moving the samples to different repos.
DeploymentEventSource is now here:

https://github.com/java-operator-sdk/samples/blob/main/tomcat/src/main/java/io/javaoperatorsdk/operator/sample/DeploymentEventSource.java

Haven't seen the other files, the quarkus operator might be in the quarkiverse project,

[2021-06-29 11:01] #316 closed

[2021-06-29 12:02] teszes commented on #442
This is mostly caused by CustomResource from the Fabric8 API becoming CustomResource<S, T>.

[2021-06-29 13:10] teszes commented on #398
Could not reproduce as of now. Tried both targets "package" and "com.coveo:fmt-maven-plugin:2.10:format" on adopt-openjdk-16 v16.0.1, both succeeded.

What JDK are you using exactly? Also, the error seems to come from coveo itself.

[2021-06-29 15:45] secondsun commented on #398
FWIW I tried this with adopt openjdk's 16.0.1 build (both j9 and hs) and they both had the same issue.

[2021-06-29 17:28] teszes commented on #398
Reproduced the error, thanks, I'm looking for the root cause now.

[2021-06-29 17:36] secondsun commented on #398
The root cause is that the version of the formatter uses methods which jpms blocks. These methods are not available to classes outside of the JDK as of Java 16. For my project we moved off of this plugin. : https://github.com/redhat-developer/app-services-operator/pull/224/files#diff-9c5fb3d1b7e3b0f54bc5c4182965c4fe1f9023d449017cece3005d3f90e8e4d8

[2021-06-29 17:37] teszes commented on #398
Just came to the same conclusion, as a workaround you can remove the plugin from the POM, and that way it does compile for me.

[2021-06-29 17:38] teszes commented on #398
Will keep this issue open, I think we might need to make the same move, thanks for the suggestion.

[2021-06-29 17:38] secondsun commented on #398
Welcome. It was a headscratcher for me too when I first ran into it. Glad I could help.

[2021-06-29 19:39] teszes commented on #398
FYI Seems the guys over at fmt-maven-plugin are working on a solution.

https://github.com/coveooss/fmt-maven-plugin/issues/99

[2021-07-01 19:12] jmrodri commented on #64
@csviri How would something like this integrate with prometheus on kubernetes? Most operators output their metrics to be scraped by a prometheus service to expose their items to the console.

[2021-07-01 22:42] jmrodri commented on #105
@adam-sandor native as in native to quarkus and native to spring boot? or did you mean native as in native Docker?

[2021-07-01 22:48] jmrodri commented on #105
The [Operator Framework Operator SDK](https://github.com/operator-framework/operator-sdk/) (o-f/operator-sdk) scaffolds out Dockerfiles  . Here's the ansible project dockerfile template: https://github.com/operator-framework/operator-sdk/blob/master/internal/plugins/ansible/v1/scaffolds/internal/templates/dockerfile.go

We and kubebuilder took the Dockerfile approach. The idea being that you build

[2021-07-01 22:49] jmrodri commented on #105
The one thing I don't like about the current jib that we are using in the java-operator-plugins scaffolder is that it creates the image but you don't see how. So it's weird to figure out how to modify what will go into the image. Maybe we don't want that.

[2021-07-02 10:30] adam-sandor commented on #105
I meant native to Quarkus and Spring Boot. Quarkus has an extension that essentially wraps Jib, I'm not sure if SB has a "native" way to build images. You can configure what goes into the image using Jib's configuration, but obviously a Dockerfile is better understood by more people.

I'm not against using a Dockerfile at all, but there will be some tough choices to be made in that case:
1. We cou

[2021-07-02 16:39] csviri commented on #64
@jmrodri The idea is that we would make it very easy to integrate with a metrics endpoint, thus to expose the metrics to http.
Prometheus is supported by micrometer so I guess that would not be a hassle.

But ideally we would not be dependent on any framework (spring / quarkus / micronaut) but would make it very easy to integrate with them. So the controller is what exposes the metrics will be nat

[2021-07-05 07:18] loredanamoanga opened #451 "Overhaul current website"
Improving the current website look and feel for a better user experience

Steps that need to be taken:
- [x] remove unused stylesheet and js files
- [x] implement smaller library to take care of responsiveness
- [x] implement new theme and page layouts
- [x] automate navigation bar
- [x] refactor homepage
- [x] fix broken links
- [x] add automated releases page
- [x] gather the current documentati

[2021-07-06 05:11] lburgazzoli commented on #406
@teszes I don't think it matters as the ` EventDispatcher<R extends CustomResource>` is already aware of the type parameter and `ResourceController.createOrUpdateResource` is not designed to return a different type

[2021-07-06 05:19] lburgazzoli commented on #366
I had no time to check if the it is still happening, will do in the coming days

[2021-07-12 09:51] lburgazzoli commented on #430
@metacosm @csviri any preference ?

[2021-07-12 13:44] metacosm commented on #430
Sorry for the delay! I kind of lost track of t

[2021-07-12 14:28] lburgazzoli opened #453 "Option to limit CRs the operator watches"
We should be able to restrict what CRs an operator handles, as example, by using a selector:

[code]

This could be required when a canary deployment of operators is required so at certain point in time, there will be more than one operator running in a cluster each one is taking into account a subset of the CRs.

[2021-07-12 16:20] #408 closed

[2021-07-12 19:13] metacosm commented on #36
Not sure what this was about. Please re-open if still relevant.

[2021-07-12 19:13] #36 closed

[2021-07-12 19:14] metacosm commented on #37
What is this about? Could you add more details, please or close this issue?

[2021-07-13 06:56] laxmikantbpandhare commented on #64
/assign

[2021-07-13 08:23] lburgazzoli commented on #430
One of the use case I have is exactly to have one event to trigger the reconcile loop for a number of CRs. In my case I have some CRs that need to be reconciled when an some 3rd party CRs are updated so what I envision is:

- the event handler watches the 3rd party resources
- an event with a CustomResource selector is fires
- the event handler find the impacted CRs from the cache
- the event hand

[2021-07-13 08:32] metacosm commented on #430
OK, that makes sense.

[2021-07-13 12:27] lburgazzoli commented on #430
@metacosm created a draft PR https://github.com/java-operator-sdk/java-operator-sdk/pull/454, let me know what you think

[2021-07-13 13:40] #430 closed

[2021-07-15 15:13] csviri commented on #64
An important part of this would be extensibility. So anybody should be able to add own metrics. The simplest way to do that (the metrics about the Custom Resource processing ) is just expose the micrometer api to the controller. So the user can add custom metrics directly to the controller implementation.
What we should provide out of the box is probably metrics that are not necessary available fr

[2021-07-15 15:20] jmrodri commented on #34
/close

[2021-07-15 15:21] metacosm commented on #28
We probably will wait for: https://github.com/kubernetes/enhancements/pull/2310

[2021-07-15 15:21] metacosm commented on #34
Obsolete.

[2021-07-15 15:21] #34 closed

[2021-07-15 15:23] jmrodri commented on #38
/close

[2021-07-15 15:24] metacosm commented on #38
Closing this for now, will reopen if needed.

[2021-07-15 15:24] #38 closed

[2021-07-15 15:25] jmrodri commented on #39
/close

[2021-07-15 15:25] #39 closed

[2021-07-15 15:26] jmrodri commented on #64
/assign @laxmikantbpandhare

[2021-07-15 15:30] metacosm commented on #64
Another project to look into is https://opentelemetry.io/

[2021-07-15 15:43] jmrodri commented on #64
Another resources mentioned during community meeting: https://quarkus.io/guides/micrometer

[2021-07-15 16:00] csviri commented on #37
added describtion

[2021-07-16 20:20] metacosm commented on #64
Seems like Micrometer is indeed the framework of choice to deal with metrics in Quarkus. This shouldn't prevent us from looking at opentelemetry but it seems more focused on tracing than metrics.

[2021-07-16 22:58] laxmikantbpandhare commented on #64
Yes @metacosm - Micrometer is better choice as compare to OpenTelemetry. There are few differences like OpentTelemetry does not support dedicated times type, distribution summery type and also it does not have any naming conventions. OpenTelemetry is more focused on tracing  while micrometer is built specifically for getting the metrics/usage of an application. **OpenTelemetry would be useful to m

[2021-07-16 22:59] laxmikantbpandhare commented on #64
I am still looking for actual API's and services that both `OpenTelemetry` and `Micrometer` offers. I will share those details shortly.

[2021-07-21 14:04] lburgazzoli commented on #404
@metacosm working on a POC for this

[2021-07-22 15:21] jmrodri commented on #104
@metacosm please review and if it is obsolete please close.

[2021-07-22 15:54] jmrodri commented on #114
@adam-sandor can you elaborate more? @metacosm mentioned during our triage meeting that this might be covered by some other mechanism.

[2021-07-22 16:11] metacosm commented on #104
This issue is obsolete: CRD access is only needed if the user wants to validate that the CRD exists on the cluster or check that the proper scope is used for custom resources. Both aspects are controlled by a configuration option (`JAVA_OPERATOR_SDK_CHECK_CRD` system property for the plain java version) which allows to disable the feature if needed.

[2021-07-22 16:11] #104 closed

[2021-07-23 11:33] csviri commented on #114
@adam-sandor I think this is covered by event sources, so you can watch for changes there, possibly periodically checking the target system. Then omit an event execute the controller and reconcile the target state there.

[2021-07-23 11:40] adam-sandor commented on #114
Yes this is covered by event sources now. We can close it.

[2021-07-23 11:40] #114 closed

[2021-07-23 19:36] metacosm commented on #114
Thank you!

[2021-07-29 15:07] jmrodri commented on #149
@csviri does this issue still happen?

[2021-07-29 15:13] jmrodri commented on #164
Consider using the java-operator-plugins to get project scaffolding. https://github.com/operator-framework/java-operator-plugins/

[2021-07-29 15:13] #164 closed