[2021-07-29 15:15] jmrodri commented on #166
Using the quarkus extension `mvn package -Pnative` works for it. And there is another issue that covers building images: issue #96

[2021-07-29 15:15] #166 closed

[2021-07-29 15:25] jmrodri commented on #276
@ambye85 could this be finalizer related? Is the operator no longer running when you delete the example? Does this still happen?

[2021-07-29 15:28] jmrodri commented on #283
@jmrodri consider this issue for https://github.com/operator-framework/java-operator-plugins/

[2021-07-29 15:34] laxmikantbpandhare commented on #323
working on the similar issue #64

[2021-07-30 01:16] jmrodri commented on #338
Relates to issue #28

[2021-07-30 06:42] csviri commented on #149
@jmrodri  this is a very low priority issues IMHO, added here more like for documenting purposes that this can happen and would be possible handle it. But removing the finalizer manually  goes against the principles of the operator.
I would close it for now and reopen if this topic pops us in some discussions.

[2021-08-01 08:14] lburgazzoli opened #458 "Add x-kubernetes-preserve-unknown-field to a CRD"
I have a CRD where I need to include some unspecified fields, and I come up with something like:

[code]

However, as the generated CRD yaml, does not specify `x-kubernetes-preserve-unknown-field`, all unspecified fields are pruned so i.e. when I'm dogin `kubectl get myresource`, the only field that it is shown is `foo`.

Is there a way to declare that `x-kubernetes-preserve-unknown-field` should

[2021-08-02 07:30] #451 closed

[2021-08-02 08:40] metacosm commented on #237
As framework-specific code has been removed from the core SDK, it's up to each implementation to figure out how to implement externalized configuration. Please refer, therefore, to each implementation's respective documentation:
- https://github.com/quarkiverse/quarkus-operator-sdk
- https://github.com/java-operator-sdk/operator-framework-spring-boot-starter

There are two things of note:
1. While

[2021-08-02 08:41] #237 closed

[2021-08-02 14:29] metacosm commented on #458
Not at this point. One thing to note, though, `additionalProperties` is supposed to be mutually exclusive with the `properties` field in the CRD JSONSchema so I'm not sure how that would work out. I've created a fabric8 client ticket, which is where this would be dealt with.

[2021-08-02 14:33] metacosm opened #460 "If CRD validation is not activated, missing CRDs might not be correctly detected"
## Bug Report

When a CRD is not deployed, the operator fails with a 404 error when starting up. A `MissingCRDException` should be thrown when this happens, instead.

[2021-08-03 10:49] #460 closed

[2021-08-03 16:45] lburgazzoli opened #469 "Remove getEventSource() method from Event class ?"
The definition of an Event is:

[code]

Wonder if `getEventSource()` could be removed as looking at the code, it is only used for a [single test](https://github.com/java-operator-sdk/java-operator-sdk/blob/112a8268155a9f6262e1238b592e9813b09e1557/operator-framework-core/src/test/java/io/javaoperatorsdk/operator/processing/event/internal/TimerEventSourceTest.java#L51) but it is never used internall

[2021-08-03 17:28] lburgazzoli commented on #405
the EventSourceManager seems really an internal class, so yes it would break the interface but I looking at the code it does not seems to me that EventSourceManager/DefaultEventSourceManager can easilly be replaced

[2021-08-03 17:36] lburgazzoli opened #470 "EventSource: make eventSourceDeRegisteredForResource a default method"
The EventSource is defined as follow:

[code]

I think that eventSourceDeRegisteredForResource should be make as a default method.

[2021-08-03 18:47] metacosm commented on #470
Closed by #471

[2021-08-03 19:22] #470 closed

[2021-08-03 19:53] csviri commented on #469
@lburgazzoli since theoretically event source is not necessarily a singleton, this was added there. But might make sense to remove it, since if this info is necessary in some events, could be added just there by the user.

[2021-08-03 20:00] lburgazzoli commented on #469
@csviri yes, I think it would be better.

My reasoning behind this issue is that, the Event source exposes the following methods:

[code]

And I'm not sure if the event source instance should be exposed by default to the user implementing a controller (through Context.getEvents).

[2021-08-03 20:28] csviri commented on #469
@lburgazzoli since the user is registering the event source instance in the init method (and possibly implementing it), it does not seems to be avoidable. Also caching is meant to be happening in event sources so I assume the user will event store it as a loval variable ( in those those  cases ) .

[2021-08-03 20:29] csviri commented on #469
Maybe this is a good topic to discuss on weekly meetings also.

[2021-08-03 20:40] lburgazzoli commented on #469
To add more context, in my specific use case, some of the events sources are registered by a base class (like the timer source) so I'd like to hide them from the user space.

[2021-08-05 15:13] jmrodri commented on #326
Quarkus extensions will generate this. If we want it for spring boot or others we can revisit.

[2021-08-05 15:13] #326 closed

[2021-08-05 15:16] #334 closed

[2021-08-05 15:17] jmrodri commented on #335
Closing, stale.

[2021-08-05 15:17] #335 closed

[2021-08-05 15:21] asmacdo opened #481 "Add automation for lifecycling stale issues"
A bot to mark issues stale and close long-stale issues could help to keep the issue tracker from exploding too much.

[2021-08-05 15:21] jmrodri commented on #341
Solved already see https://github.com/java-operator-sdk/java-operator-sdk/blob/master/docs/documentation/getting-started.md

[2021-08-05 15:21] #341 closed

[2021-08-05 15:24] jmrodri commented on #349
Reviewed August 5th triage.

[2021-08-05 15:28] asmacdo opened #482 "Create architecture document"
Add documentation for how the various projects involved with java operators fit together. For initial implementation, this could just start in the "getting started" guide and be moved into its own section over time.

- fabric
- java-operator-sdk
- java-operator-plugins
- quarkus

[2021-08-12 13:41] lburgazzoli opened #488 "Prevent Operator star/stop procedure be performed twice"
As today the Operator start/stop methods do not have any barrier to avoid the methods to be invoked more than once and as example, since the introduction of the PR here https://github.com/quarkiverse/quarkus-operator-sdk/blob/main/runtime/src/main/java/io/quarkiverse/operatorsdk/runtime/StartupListener.java, I've observed that my operator did invoke start twice because I also had a startup listene

[2021-08-12 14:28] lburgazzoli opened #489 "[discussion] perform Operator::register when invoking Operator::start"
As today, once you call Operator::register, then watches are put in place and the reconcile loop may chick in before the Operator::start method is invoked.

I wonder if it would be better to move the registration steps to the startup phase so the lifecycle of the operator and the controller would be predictable and consistent.

[2021-08-12 15:20] theishshah commented on #482
@csviri

[2021-08-12 15:22] theishshah commented on #482
@laxmikantbpandhare

[2021-08-12 15:28] asmacdo commented on #481
Operator-SDK is using https://github.com/apps/openshift-ci/installations/new, and could be an option for us as well

[2021-08-12 16:17] laxmikantbpandhare commented on #64
Raised PR #486

[2021-08-13 09:48] lburgazzoli commented on #398
formatter-maven-plugin seems much more actively maintained and I'm using it on a number of projects, +1 for me to switch to formatter-maven-plugin

[2021-08-16 08:06] lburgazzoli opened #494 "Clone cutom resources before storing them to the cache"
In CustomResourceEventSource, when an event rleated to a customr resource is handled, then the resource is added to the cache and then the same reference is passed to the reconcile loop:

https://github.com/java-operator-sdk/java-operator-sdk/blob/aa126e7a47020ea6424df855e9581bd87c32238c/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/processing/event/internal/CustomResourceEvent

[2021-08-16 08:07] lburgazzoli commented on #488
@metacosm pr #491 may address this issues

[2021-08-16 08:07] lburgazzoli commented on #489
pr #491 may address this issues

[2021-08-16 08:12] lburgazzoli commented on #356
@metacosm @csviri on this topic, should the operator sdk leverage the informer provided by the fabric8 client ?

[2021-08-16 08:42] csviri commented on #356
@lburgazzoli yes it should, when we did the current implementation thge informers were not there yet.  Started to working on that with other improvements, but some changes will require quite major changes. Did not have the time.

[2021-08-16 08:45] attilameszaros-form3 commented on #494
@lburgazzoli we just clone it after it's read from the cache, so there reference is not the same in the reconcile loop.

https://github.com/java-operator-sdk/java-operator-sdk/blob/aa126e7a47020ea6424df855e9581bd87c32238c/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/processing/CustomResourceCache.java#L67

The complete re-work of caching is on roadmap, just have to find time.

[2021-08-16 09:06] lburgazzoli commented on #494
Ah yes, but still, the cached reference is [passed to the event handler](https://github.com/java-operator-sdk/java-operator-sdk/blob/aa126e7a47020ea6424df855e9581bd87c32238c/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/processing/event/internal/CustomResourceEventSource.java#L119-L131 ) as it is so any modification would still lead to an inconsistency right?

[2021-08-16 09:50] metacosm commented on #356
Looking at leveraging informers instead of homegrown cache is something I plan to explore soon.

[2021-08-16 13:54] csviri commented on #494
Yes, the thinking was that is part of the our code, so we know that we are not modifying it. Never reaches the custom code (thus the controller). We have to however clone when reading from cache because that custom resource might be changed by the controller implementation. I'm not saying though that cloning also there would be a bad idea.

[2021-08-16 13:59] #494 closed

[2021-08-16 16:22] #488 closed

[2021-08-16 16:22] #489 closed

[2021-08-18 09:57] lburgazzoli commented on #453
@metacosm I have some spare cycles this week so if you need any help on this feature , I'd be happy to take a stab

[2021-08-18 11:03] csviri commented on #453
@lburgazzoli This sounds awsome!

[2021-08-18 13:11] metacosm opened #496 "Use `ControllerRef` internally instead of `ResourceController`"
The idea is that there are many spots where we would like to access the controller's configuration without having to first inject the `ConfigurationService` to be able to retrieve it. An alternative would be to add a `getConfiguration` method to `ResourceController` but this idea has already been discussed and rejected on the ground that this would put undue burden on the `ResourceController`'s im

[2021-08-18 15:31] metacosm commented on #453
Ideally, however we implement this, it should boil down to generating a `Predicate`. Other aspects to keep in mind as well:
- I don't think it will be possible (nor desirable, for that matter) to use `LabelSelector` on the `Controller` annotation
- Whatever configuration we add to the annotation, it should be possible to have similar configuration in application properties as well

[2021-08-18 15:37] lburgazzoli commented on #453
I don't know if a predicate would be the best approach as then it would filter events after we receive them, instead a label selector (or anything similar) would configure the watcher to only watch some resources

[2021-08-18 15:58] metacosm commented on #453
Ah, right. Should we also filter on annotations?

I'd prefer the second option (which I think Quarkus supports out of the box, iirc).

[2021-08-18 16:07] lburgazzoli commented on #453
As far as I know, you can't use annotation to select objects, only labels can be used.

[2021-08-19 08:10] csviri commented on #453
Yep annotations are not indexed in etcd AFK, so we cannot filtern on them.

I particulary like the idea to the the filtering on server side (K8S API) if possible based on labels, this is much more efficient, then doing it with the predicate in the operator. Although it's limited to labels, so probably we need both.

An interesting thing is that admission controllers can do this based on namespaces

[2021-08-19 09:21] lburgazzoli commented on #453
@metacosm @csviri I'm working on a POC for this issue so we can discuss about code and wonder if we could add some tests based on the [KubernetesServer](https://github.com/fabric8io/kubernetes-client#mocking-kubernetes) in addition to the mocked tests as it simplifies things a lot.

[2021-08-19 09:28] metacosm commented on #453
I agree that we need to beef up our testing story and adding tests based on KubernetesServer would make sense to explore that space and see what we're missing in terms of testing support.

[2021-08-19 09:29] csviri commented on #453
Don't know much about that mock server, but worked with the one from kube builder - that was awsome. For development purposes I'm happy personally with minukube / kind. Very happy to discuss this, maybe on weekly, improving tests is always a good thing :)

[2021-08-19 10:23] #434 closed

[2021-08-19 15:15] jmrodri commented on #366
@lburgazzoli please re-open if this issue still exists. Closing for now as we are not able to reproduce it.

[2021-08-19 15:15] #366 closed

[2021-08-19 15:18] metacosm commented on #363
@lburgazzoli the CRD generation process doesn't really allow much flexibility in the way of where the files can be generated, unfortunately. The quarkus extension offers **some** flexibility but still is limited to outputting generated code in `target`. Closing this as won't fix, unfortunately, but more like can't fix… :(

[2021-08-19 15:18] #363 closed

[2021-08-19 15:25] asmacdo commented on #379
Next time this happens could you take a screenshot or copy the info? These logs expire after a while, it would be nice to see them here.

[2021-08-19 15:31] jmrodri commented on #379
Closing for now, if new tests fail, please open a new issue with the logs and error message.

[2021-08-19 15:31] #379 closed

[2021-08-19 15:33] jmrodri commented on #396
@maledoux could you try this out again, there was a change made that would likely fix this issue for you.

[2021-08-19 15:35] jmrodri commented on #398
This would be a good candidate for v2 because changing formatters would cause all the code to be reformatted. Reformatting will also make git history harder to trace with formatting changes.

[2021-08-19 15:38] lburgazzoli commented on #398
I guess that if we use the same rule, then the formatting should hopefully not change

[2021-08-19 15:43] metacosm commented on #404
@lburgazzoli can you provide an update on this, please? How does this relate to the work you're currently doing on #499?

[2021-08-19 15:46] lburgazzoli commented on #404
I have opened a PR some days ago: https://github.com/java-operator-sdk/java-operator-sdk/pull/457

[2021-08-19 17:09] laxmikantbpandhare commented on #398
But, if you push the changes on the GIT(java-operator-sdk) then GIT checks will fail for sure. One another workaround is to update java version to 15. This issue is only happening for Java 16.

[2021-08-20 07:33] lburgazzoli opened #504 "Java code style"
I've tried to switch from `fmt-maven-plugin` to `formatter-maven-plugin` to (see #398) and I have configured the plugin to use the eclipse configuration provided in `contributing/eclipse-google-style.xml` hover when the format is applied, some files have been re-formatted, as example:

![image](https://user-images.githubusercontent.com/1868933/130196509-103ab744-fed8-425a-970c-5d6aa0b74b16.png)

M

[2021-08-20 07:52] lburgazzoli commented on #504
I have tweaked a little the provided code style and and I opened a draft [PR](https://github.com/java-operator-sdk/java-operator-sdk/pull/505) to show the formatting that has been applied.

I think the new format is reasonable as:
- it mainly affect the javadocs & comments with a reasonable re-format
- the changes to the code are minimal and very reasonable to me

[2021-08-20 10:36] metacosm commented on #504
Yes, that's one thing that annoys me with the current set up: the formatting is not consistent across all implementations (IDEs vs mvn plugin) so it doesn't surprise me that there are discrepancies, unfortunately… 😞

[2021-08-20 16:47] #504 closed

[2021-08-23 09:07] metacosm commented on #269
Here's a failed run log: https://gist.github.com/metacosm/a4da733ab3658dfec2f5160f43d85492

[2021-08-25 07:08] steknowis opened #514 "Operator does not receive any events after startup"
## Bug Report

#### What did you do?

Started my operator (locally or in cluster) with Spring Boot. Startup logs looking good and all custom resources are processed once. But after startup no events at all are processed. I have a reconciliation TimerEventSource that should be triggered every 30s, but nothing happens. I change a CR, nothing happens.

1. Start (Spring Boot) operator in debug mode, w

[2021-08-30 07:56] lburgazzoli opened #519 "disable colors in test logs"
The log4j config is set-up to use color for loggers but it may lead to a very bad experience:

![image](https://user-images.githubusercontent.com/1868933/131305611-931f212e-8d81-4dd5-b3e3-5e7f81a6895b.png)

Should we removed color options from log4j config ?

[2021-08-30 07:59] csviri commented on #519
I don't have very strong opinion on this. If it's done right makes the logs readable, but it is also creating issues when reading the logs on a system that not support it. So I'm ok to turning this off.

[2021-08-30 08:03] metacosm commented on #519
I noticed recently that some logging was indeed barely readable. The recent change that introduced this configuration should be reverted, in my opinion.

[2021-08-30 08:05] lburgazzoli commented on #519
Before I re-based everything on log4j, the colored logging was only for unit tests
for integration tests it was a mess because there were both slf4j-simple and logback as logging engine so the issue was masked a little.

[2021-08-30 08:25] metacosm commented on #269
Integration tests are not immune to flakiness either 😢

[code]

[2021-08-31 09:33] #453 closed

[2021-08-31 16:04] #496 closed

[2021-08-31 16:05] metacosm commented on #514
Fixed by #517.

[2021-08-31 16:05] #514 closed

[2021-09-01 09:31] BenchengZhuo opened #522 "Can't receive any events about the watched CR after running serveral days"
## Bug Report

#### What did you do?

This issue is similar to [kubernetes-client/issues/2323](https://github.com/fabric8io/kubernetes-client/issues/2323). After my operator runing several days, it can't receive any event about the watched CR. At first, I thought my operator was down. So I added a test REST api for the operator. The test api worked fine while the same thing happened again.

#### W

[2021-09-01 11:07] csviri commented on #522
Hi @BenchengZhuo , thank you for the feedback. Yes the plan is to migrate to informers shortly, that should hopefully solve this problem.

[2021-09-02 12:08] csviri opened #525 "Using patch when updating status sub-resource (or update without optimistic locking)"
Currently when we update status subresource of a custom resource we do optimistic locking. So if there was an update on custom resource while the controller was reconciliation, the resource version of CR will be changed and consequently the update of the status will fail on conflic.

In case of a successful reconciliation we would like to update the status, even if the custom resource spec  is cha

[2021-09-02 12:26] csviri commented on #356
One another thing to think about what would be the nices way to share the caches between event source, somthing like:
https://pkg.go.dev/k8s.io/client-go@v0.22.1/tools/cache#SharedIndexInformer

[2021-09-02 14:29] csviri commented on #356
Looking on related issue: https://github.com/java-operator-sdk/java-operator-sdk/issues/522
We might want to do this in 2 steps:
1. Migrate CustomResourceEventSource to Informers (this should be failry quicky & easy )
2. Implenent improved caching (this might take longer)

[2021-09-02 15:22] jmrodri commented on #417
/assign @jmrodri

[2021-09-02 15:27] jmrodri commented on #431
It seems that what needs discussion here is whether we want to javadoc EVERYTHING including internal classes that are not meant to be a public API. It seems like what definitely needs to be there is javadoc for the public API that users will be interacting with. So I think one of the issues is "what does comprehensive" mean in this context.

[2021-09-02 15:31] jmrodri commented on #449
This has been addressed. If you still find an issue please re-open.

[2021-09-02 15:31] #449 closed

[2021-09-02 16:28] joelanford commented on #525
Just from my perspective doing this with Go and controller-runtime for a few years, I think we need to be careful about adding library code that encourages operator authors to write to a primary status block and then expect to read from that same status to understand state.

The example brought up where this kind of pattern seems useful is when a reconciler creates some off cluster resource and do

[2021-09-02 20:29] csviri commented on #525
@joelanford thank you very much for this feedback! This is pure gold.

I've just realizes that we are mixing actually  two things in this issue:

1. managing state after reconciliation,
2. the way we are updating status - basically update with optimistic locking versus patch.

(1) Regarding state management : Creating a separate custom resource (with all the related CRD, permission management etc)

[2021-09-13 18:56] flavioschuindt opened #533 "Operator task suddenly shutdowns and not receiving any events after that"
## Bug Report

#### What did you do?

* Created a simple operator that manages kubernetes jobs;
* In the beginning, everything works good. Tried multiple performance tests: 3k, 5k, 8k and 15k CustomResource creations and operator worked very good;
* Then, tried one last one with 30k CustomResource. Everything again works great, but then suddenly I see this on my operator stack trace:

[code]
* Aft

[2021-09-14 05:57] csviri commented on #533
hi @flavioschuindt , thanx for the bug report, we will try to take a look asap.

[2021-09-14 12:41] #519 closed

[2021-09-14 21:42] flavioschuindt commented on #533
Thanks, @csviri. Just to add more information: I am running more tests here in batches of 10k. So far, I ran 3 batches of 10k, i.e., 30k CRs in total. All good. Now, I went to the fourth batch. I didn't see the above stack trace in this batch yet, but at certain point in time the events of the CR are super slow on my code, it takes forever...This really impacts the overall processing of the operat

[2021-09-15 09:51] metacosm commented on #533
Would it be possible to give us access to your testing code?

[2021-09-15 09:55] metacosm commented on #533
Another thing: have you tried increasing the reconciliation pool size? You can configure it by changing the value returned by `ConfigurationService.concurrentReconciliationThreads`.

[2021-09-16 07:24] flavioschuindt commented on #533
Hi, @metacosm.

Unfortunatelly, I can't put the test code here as there is IP involved. But what I can tell you is that the code is simple and entirely based on the [sample](https://github.com/java-operator-sdk/java-operator-sdk/blob/master/samples/spring-boot-plain/src/main/java/io/javaoperatorsdk/operator/sample/Config.java#L27) you guys provided in the repo. In a nutshell:

* Same as highlighte

[2021-09-16 10:44] lburgazzoli opened #537 "Reducing object allocations"
While looking at the event handling I noticed that there a number of object allocation that happening, as example:

    new Event -> new ExecutionScope -> new Context(new EventList)

Looking at the code, it seems to me that the `ExecutionScope` and `Context` are in essence the same same object as they carry the same information so wonder if we should reduce the number of object we allocate by havi

[2021-09-16 11:54] csviri opened #538 "Removing events from Context"
Currently the event(s) triggered the controller execution is accessible from the Conext object. There is already a consensus that using these events is an antipattern in operators. Controller Runtime does not expose these event either.

Removing them will have two benefits:

- The intended usage is more obvious, so we won't even allow users to use events, so the mentioned anti-patter is not even p

[2021-09-16 11:55] csviri commented on #537
@lburgazzoli I also created an issue which is realted to this, pls take a look.
https://github.com/java-operator-sdk/java-operator-sdk/issues/538

[2021-09-16 12:01] lburgazzoli opened #539 "Add impsort-maven-plugin"
the formatter-maven-plugin takes care about formatting rules but import sorting is not implemented which lead to some unwanted changes in case the import order is changed by the IDE.

We could add [impsort-maven-plugin](https://code.revelc.net/impsort-maven-plugin/) to solve the issue

[2021-09-16 12:02] csviri opened #540 "Using only one instance of ScheduledExecutorService"
Currently we are using `ScheduledThreadPoolExecutor` per controller. It would be better to control threading and related configurations if it would be shared between controllers. So there are no more such services created.

[2021-09-16 12:02] csviri commented on #540
see also: https://github.com/java-operator-sdk/java-operator-sdk/issues/533

[2021-09-16 12:24] lburgazzoli commented on #538
Would fix also: https://github.com/java-operator-sdk/java-operator-sdk/issues/469

[2021-09-16 13:18] metacosm opened #542 "Make it easier to override default `ConfigurationService` values"
We should be providing a `ConfigurationServiceOverrider` similar to what we already do for `ControllerConfiguration`.

[2021-09-16 13:20] metacosm commented on #533
No problem! 😃

Yes, you would need to pass your own implementation of `ConfigurationService` in that case. This is indeed not trivial to do and should be made easier. I created a PR for this: #543 which also contains an example of how to use it.

If you're using the Quarkus extension, you can also configure this via `application.properties` using the `quarkus.operator-sdk.concurrent-reconciliation

[2021-09-16 13:27] #293 closed

[2021-09-16 13:31] csviri commented on #542
Just a question, is there a partical reason why the configuration isn't an ordinary POJO?
If I remember it correctly the reason to do it in the current way was related to qarkus. Cannot be the tranlation between the service and POJO done on quarkus side?

[2021-09-16 14:02] metacosm commented on #542
Well, there is a POJO: `DefaultConfigurationService` but we don't want to be using that implementation in the Quarkus extension. That implementation actually generates controllers' configuration on the fly from the controller's class annotations if it's not found in the service already and that's not a behavior we want in the Quarkus extension, which is why we have an interface. Spring Boot also u

[2021-09-16 14:50] metacosm opened #544 "Automatically generate Service Binding metadata?"
It would make sense to automatically provide metadata so that services created by SDK-created operators are more easily bindable: https://github.com/k8s-service-bindings/spec

[2021-09-16 15:21] jmrodri commented on #544
This issue is a tracker, needs more information.

[2021-09-16 15:47] lburgazzoli commented on #540
eventually the executor service can also been injected i.e. it can use the same thread pool as quarkus

[2021-09-17 07:05] flavioschuindt commented on #533
Thanks for the inputs, @metacosm. So, I was able to patrametrize the number of threads:

[code]

But the end result still the same...I tried with multiple number of threads...20, 30, 100. Just to give an example, see this particular CR instance:

[code]

This means this CR was created in the cluster 18 minutes ago and still the first line of the code in the operator didn't even executed. Something

[2021-09-17 07:18] metacosm commented on #533
Thanks for checking. I will look into it. May I inquire about your use case? It's always interesting to hear from users and what they use the SDK for… 😄

[2021-09-17 07:25] flavioschuindt commented on #533
Sure. My use case is to build an operator that can start and monitor a Kubernetes Job execution on user behalf. In a nutshell:

* User drop the CR in the cluster containing some metadata, including the job spec;
* Operator receives the CR definition, reads the spec and start the job in the cluster;
* Operator registers a SharedInformer so it can receive Job Events;
* When the job is done (regardle

[2021-09-17 14:28] #542 closed

[2021-09-17 17:10] metacosm opened #547 "Do not run tests when releasing a snapshot"
Tests are already run before the release attempt occurs so there's no need to run them again.

[2021-09-17 17:12] metacosm opened #548 "Replace Java 16 by 17 in the CI runs"

[2021-09-19 12:07] csviri commented on #547
Does this harm, I usually prefer to run tests as often as possible :)

[2021-09-20 12:45] lburgazzoli commented on #539
What do you think about ordering imports like:

[code]

[2021-09-20 14:06] metacosm commented on #547
The tests are run twice when we release: first as part of the regular PR checking process with the whole matrix, then once again for the actual release build. If the tests passed during the first step, there is no need to run one of them again during the release process. This also can be seen when PR tests work but then the release snapshot fails because of a test flake…

[2021-09-20 14:09] csviri commented on #547
Ahh ok, sorry, this is how it meant. Kk sounds good :)

[2021-09-20 14:12] metacosm commented on #533
Based on the error you get, it seems that the `ThreadPoolExecutor` is getting shut down for some reason. I suspect an out of memory issue but it's hard to tell simply from this. Are you able to see such errors when you run your operator? Could you give #546 a try to see if this helps?

[2021-09-21 10:11] #539 closed

[2021-09-21 21:35] #540 closed

[2021-09-22 05:16] lburgazzoli opened #552 "Misleading MissingCRDException exception"
If an event source fails to start and the error code is 404, the `DefaultEventSourceManager` wraps it with a `MissingCRDException` [1] which the `ConfiguredController` re-wrap and include details about the CRD of the controller resulting in a misleading message as the exception will report that the CRD of the controller is missing but it may not be the case.

[1] https://github.com/java-operator-s

[2021-09-22 05:28] lburgazzoli opened #554 "ConfiguredController behavior"
I see that the ConfiguredController has an [init](https://github.com/java-operator-sdk/java-operator-sdk/blob/master/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/processing/ConfiguredController.java#L106-L110) method in which does:

[code]

So the underlying controller is initialized with the manager that is passed as an argument. But then the [start](https://github.com/java-o

[2021-09-23 21:12] #552 closed

[2021-09-24 07:49] metacosm commented on #554
I don't really like this method, to be honest. It feels like abstraction leaking out. That said, there shouldn't be an issue because the `init` method is only called internally as a way to pass the `EventSourceManager` implementation to the controller implementations so that they can register their `EventSource` implementations and `ConfiguredController.init` should actually never be called. Maybe

[2021-09-24 11:06] #554 closed

[2021-09-27 09:07] csviri opened #563 "Automatically handle `.status.observedGeneration`"
It's a common practice in controllers to save observed generation in status sub-resource, thus to save the `.metadata.generation` that was last time reconciled to `.status.observedGeneration`.
The sdk could support this out of the box.

One way to do it, is to just check if the status POJO, on the resource has this field, and before we make the updateStatus call on API we just update it automatica

[2021-09-27 10:30] csviri opened #564 "Support Informers by Event Sources"
In order to manage dependent k8s resources easily, ideally we would utilize Informers. Since there is already a implementation for informers in fabric8 client, we can provide an EventSource implementation for them. Effectively this will be Informer adaptor to the event source architecture.

See also:
https://github.com/fabric8io/kubernetes-client/tree/master/kubernetes-client/src/main/java/io/fabr

[2021-09-28 08:19] csviri commented on #405
The EventSourceManager interface it just really about what we expose in the controller, so the user does not see the implementation and other methods. So its about interface segregation principle. I agree that `deRegisterCustomResourceFromEventSource` should be removed. Since we don't se any dynamic registration and deregistration happening in the controller (just once in init method)

[2021-09-28 08:28] csviri commented on #370
If I understand correctly this is about admission controller is general:
https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/

Just some notes:

-  I this not necessarily should be part of the Operator part of the SDK, probably a new project. Since admission controllers are all about exposing a web-service interface. We could facilitate that, so make it very ea

[2021-09-28 08:38] csviri commented on #356
For now it seems that we will just migrating to informers would be good enough. Having a cache with some smart eviction functionality would mean that we cannot use Informers as our backbone for `CustomResourceEventSource`. Which would mean basically reimplementing Informers in a different way.

[2021-09-28 13:12] csviri opened #566 "Registering event sources in `EventSourceManager` without a name"
Naming an instance of event source when registering it in EventSource manager feels quite unnecessary, since usually implementations anyway works with a reference variable. This is a small api change for v2 to remove this smell.

See:

https://github.com/java-operator-sdk/java-operator-sdk/blob/a9ddde0f13d5b35b284ed13615c0725d6a5ad4d9/operator-framework-core/src/main/java/io/javaoperatorsdk/operat

[2021-09-28 13:31] csviri opened #567 "Use Informer as a backed for CustomResourceEventSource"
Using informer instead of a simple Watch in the custom resource event source will make the CustomResourceEventSource more reliable. Also it will serve as a cache for, replacing our current approach for caching.

Notes:
- For this we will have to make few significant changes to the the framework. One of them is how we address internally custom resources, for now it's by UID. We will have to change

[2021-09-28 13:32] csviri commented on #567
This will make the following issue obsolete: https://github.com/java-operator-sdk/java-operator-sdk/issues/356

[2021-09-28 14:30] #169 closed

[2021-09-28 16:48] #564 closed

[2021-09-28 23:05] MovieMaker93 commented on #548
To clarify the issue, do you mean to modify the master-snapshot-release.yml file? Would you mind giving more information?
I would like to try to resolve this issue. Thanks

[2021-09-28 23:08] MovieMaker93 commented on #547
Should I remove the test in the master-snapshot-release.yml?

[2021-09-29 07:18] csviri opened #570 "Improved UpdateControl API to Reschedule Controller Execution"
Add method to `UpdateControl` to easily reschedule execution. For now this is possible only by creating an additional TimerEventSource, schedule it from the controller implementation. Supporting this explicitly will make the API much more developer friendly.

[2021-09-29 07:48] csviri opened #571 "Add API to re-schedule controller execution also for `DeleteControl`"
See the same for update control: https://github.com/java-operator-sdk/java-operator-sdk/issues/570
Delete control is now an enum so will need an API change.

[2021-09-29 10:11] #570 closed

[2021-09-29 11:08] metacosm commented on #547
We could probably remove them there indeed. However that would mean we need to always create PRs instead of committing to master directly as we do once in a while… I was more talking about `release.yml` but I'm actually not sure if we can not run the tests with the `samuelmeuli/action-maven-publish` action.

[2021-09-29 11:19] metacosm commented on #548
@MovieMaker93 our github action set up uses several different configuration, all of which require java to be set up and used to run maven in particular. As part of this set up, we were using a combination of both Java 11 and Java 16 on both Temurin and OpenJ9 distributions. Now that Java 17 is available, it would make sense to test on it instead of Java 16 since it will be the next long-term suppo

[2021-09-29 11:35] csviri commented on #269
With the `updateCustomResourceAfterSubResourceChange` is strange it seems the event is not received from the server. Will increase the wait time there.

[2021-09-29 12:32] metacosm commented on #567
We might end up exposing the informer's cache for configuration at some point, though… 😄

[2021-09-29 12:35] lburgazzoli commented on #567
This issue on fabric8 client may also be relevant https://github.com/fabric8io/kubernetes-client/issues/3472 so we can customize the key and index function if/when it make sense

[2021-09-29 13:06] csviri commented on #269
In the PR above I address some issues with the DefaultEventHandlerTest fails. On the integration test side, there was lately an improvement, now we are running those more isolated. So for now would close this issues after the PR merged, and open new one if one of them happens again.

[2021-09-29 13:52] #269 closed

[2021-09-29 14:22] #404 closed

[2021-09-29 14:24] csviri opened #573 "Generic cloner interface"
TODO

[2021-09-29 14:45] csviri commented on #567
I guess that will be v3 :)

[2021-09-30 15:48] metacosm commented on #544
Some feedback from @iocanel to help Service Binding consumers:
1. produce resources with owner references (it can be helpful to correlate CR with binding secrets)
2. populate statuses that have explicit references to the binding secret / configmap names (again it can be used for correlation)
3. Make use of the Service Binding annotations (which may or may not be placeable on the CRD itself).

[2021-09-30 17:23] synox opened #575 "Implement periodic rescan"
I would like to be able to configure a resyncPeriod, as it is possible to configure on https://github.com/kubernetes-client/java/blob/master/util/src/main/java/io/kubernetes/client/informer/SharedInformerFactory.java#L120 in the k8s java client.

One use case could be to reconcile an external resource (lets say database) once per hour, as we can't listen to changes to it.

Let me know if there is

[2021-10-01 07:23] csviri commented on #575
Hi @synox , thx for the question.
you can create an informer like:
[code]

There is a constructor for InformerEventSource:
[code]

where this can be passed.

Is this what you need / good enough? :)

[2021-10-01 07:43] csviri commented on #575
But another way you can do this is just schedule an execution of the controller. See the `UpdateControl.reSchedule` on master. (Not released that.). For you purpose would be much clear.

Also what you can do, if you don't want to execute the whole reconciliation loop, you can implement a custom `EventSource` that will poll the the DB locally, and produce an event when needed. This might be not tri

[2021-10-01 18:36] flavioschuindt commented on #533
Hi, @metacosm.

Looking at grafana dashboards with data collected by Prometheus I don't see any memory issue. In which version of the library #546 is available?

[2021-10-01 19:46] metacosm commented on #533
#546 should be available in 1.9.7. That said, if you're not seeing any memory issue then I'm not sure why the `ThreadPoolExecutor` is getting shut down… :(

[2021-10-01 19:51] metacosm opened #576 "Provide a no-dependency `Metrics` class implementation"
We should separate the `Metrics` class from micrometer so that users who are not interested in monitoring don't carry the dependency. This would mean creating a separate module for the micrometer-based implementation.

[2021-10-02 15:00] synox commented on #575
Thanks a lot @csviri  for your support.
I found a usage example for the informer: https://github.com/java-operator-sdk/java-operator-sdk/blob/master/operator-framework/src/test/java/io/javaoperatorsdk/operator/sample/informereventsource/InformerEventSourceTestCustomResourceController.java#L38

`UpdateControl.withReSchedule` seems perfect.

For both options, I will need to wait a while until this b

[2021-10-02 15:08] csviri commented on #575
Hi, yes, sorry, forgot to mention, this is the way in the current release. The `withReSchesule` actually doing the same in the background.

[2021-10-02 15:09] #575 closed

[2021-10-04 09:42] csviri commented on #576
I'm just wondering if this is worth it. I mean what we get when we don't have micrometer core on classpath?
its around ~600kB, but when we build the app with dependencies its already ~25MB, so it's an overhead in size but not significant. The classes are not loaded by the class loader if they are not used.

So are you sure if this change has that much added benefit?

[2021-10-04 09:44] csviri commented on #576
Also thinking is we could trick this without a new module, if somebody is not using it. So build it with "provided" dependency, but if somebody will jus tset an empty metric class with not dependency on actual micrometer, it could work. Not sure though.

[2021-10-04 11:04] lburgazzoli opened #578 "DefaultEventHandler should not fire events if the handler is being closed"

[2021-10-04 20:40] csviri commented on #533
Today this happened to me, thus the executor was shut down. In this case it was in a integration test, and the reason was probably that to process running the unit test was about to exit.

So it might be the case that K8S tries to kill the pod for some reason, on a sigterm this can happen.

[2021-10-04 20:52] flavioschuindt commented on #533
Quick update: I was able to test with 1.9.7 this weekend and the previous test (30k jobs) passed this time. I am quite not sure what improved in 1.9.7 or if that was just coincidence, but at least that was the first time I was able to run my 30k CRs. I went further after this and tried two 30k CRs in parallel and then this didn't work tough. However, this one I think I exagerated and made the clus

[2021-10-05 08:39] metacosm commented on #533
1.9.7 has switched to a shared thread pool across all controllers instead of having one per controller, which should make it easier to reason about threads and save some memory. Hopefully, there's also better logging as to what is going on when the executor is shut down. Do you have any more information in the logs?

Yes, it's difficult to tell why the executor gets shut down if you're not observi

[2021-10-05 08:55] #578 closed

[2021-10-05 09:12] #576 closed

[2021-10-05 19:23] cortex93 commented on #571
Is it for when deleteResource returns DeleteControl.NO_FINALIZER_REMOVAL, so the controler can decide to reconcile later (e.g. when a non transient error occured) ?

[2021-10-05 19:23] cortex93 commented on #369
@csviri should this be closed by #570

[2021-10-05 20:31] csviri commented on #369
yes, will close this.

[2021-10-05 20:31] #369 closed

[2021-10-05 20:35] csviri commented on #571
@cortex93 usually its a special  case. We had use cases when non-k8s resources were managed, and was waiting for events from those systems, while not all the external systems were cleaned up properly we returned `NO_FINALIZER_REMOVAL` so we don't block the Thread. In other words it's kinda for async cleanup usually for external systems.

[2021-10-06 11:24] iocanel opened #583 "Allow creating an Operator without an instance of the KubernetesClient."
It would be nice if we allowed the creation of `Operator` instances without having to pass an instance of the `KubernetesClient`, which in most cases is `new DefaultKubernetesClient()` anyway.

This would make the code slightly simpler to use.

[2021-10-06 11:39] iocanel opened #585 "We might want to avoid closing the client when we close the Operator."
Currently, the `KubernetesClient` instance is passed externally to the `Operator`. I am wondering if its a good idea to close it when we close the `Operator`, given that its created externally and we can't possibly know who else is using it.

For example, in a test one may close the operator and use the client to perform some cleaning up afterwards, which could possilby lead to issues.

I don't ha

[2021-10-06 11:50] iocanel opened #586 "Make samples more standalone"
It would be nice if samples were standalone.

By standalone I mean:
- have documentation directly in the project directory
- able to run outside the context of the project (e.g. remove parent).
- contain internally all resources they require

The reasoning is pretty simple, one should be able to just copy the sample directory and be able to get started, without having to mess with parents etc.

[2021-10-06 11:51] csviri commented on #585
Agree, here the principle holds as for example on streams, so it should be closed on the layer where opened.
We could make it more explicit, like have a flag to close it or not. That might be a compromise. (Being aware that we have now a constructor without a client :) )

[2021-10-06 14:20] csviri opened #588 "Caching just Updated Custom Resource Optimization alternatives"
In case we execute a controller and update the custom resource at the end, it can take time while we receive the custom resource event from the server and gets into the informers cache in `CustomResoureEventSource` .  This causes problem in case when there are already events received during the execution. In next reconciliation , what happens instantly, we use an old custom resource, and the next

[2021-10-06 15:59] metacosm commented on #588
Shouldn't event only occur when the informer is updated, though? In which situation would there be events that are not associated to an informer update?

[2021-10-06 16:02] metacosm commented on #586
Yes, the samples are really simple ones more meant to be smoke-tests for changes made in the core than real examples.

[2021-10-07 15:21] csviri opened #590 "Move samples back to main repository"
We agreed that the main sample will be moved back to the main (this) repository.

- [x] Tomcat operator
- [x] MySql operator
- [x] WebApp operator

[2021-10-08 14:49] shawkins opened #595 "Status update triggers reconciliation with finalizers disabled"
## Bug Report

When using ```@Controller(finalizerName = Controller.NO_FINALIZER)``` an update to just the status of the primary resource will itself cause another reconciliation - which is a fairly tight processing loop.  With the finalizer enabled no event loop is seen.

#### What did you expect to see?

The status update will not trigger an immediate reconciliation.

#### What did you see inste

[2021-10-08 18:42] shawkins commented on #595
I tried upgrading just the sdk dependency to 1.9.8 and confirmed that things worked as expected.

[2021-10-09 08:40] csviri commented on #595
Hi @shawkins , thank you for the report!
The finalizer should not be relevant to this.
The status update, although its a subresource, updates the custom resource also in sense, that the `resourceVersion` is updated for example. So naturally an event should be received. However to prevent reconciliation we filter on `metadata.generation`, in this case the generation is not increased and (if this no

[2021-10-09 11:24] shawkins commented on #595
If you are good with the explanation of why it was occurring and what has addressed it, yes it can be closed.

[2021-10-11 07:13] #595 closed, assigned to nobody

[2021-10-11 07:35] metacosm commented on #588
One possible option, though a tricky one to implement would be to delay updating the resource on the server until all the events are processed. Another option would be to have an ephemeral cache of the resource that would only span the current interaction (though I guess defining that interaction might be tricky as well).

[2021-10-12 12:02] csviri opened #598 "Review Metrics for V2"
Currently there are more TODO's associated with Metrics implementation. We should review it if it can be improved for v2.

[2021-10-12 12:05] lburgazzoli commented on #406
I think we can close this issue

[2021-10-13 13:34] csviri opened #601 "Ensure to have always only one retry or re-schedule event in place for a CustomResource"
Currently it can happen that there are multiple events scheduled from `reSchedule` funtionality. This should not happen, there should be at most one, possibly the earliest keeped in such case. In addition to that we have a automated retry functionality, so we have to think about how this two should work together.

Ideally there is always only 1 of these to is scheduled types scheduled. But also in

[2021-10-13 13:37] #405 closed

[2021-10-13 14:48] csviri opened #602 "Warn user if registering a controller with `deleteResource` implemented but without using finalizer"
Implementing `deleteResource` without a finalizer is not correct. A Log message (or Exception?) would be sufficient now, to notify the user that this should not be done.

Reflection is needed here, quarkus support might not be trivial.

[2021-10-14 13:47] wtrocki opened #605 "Connectivity to kubernetes API for clusters without valid certificate"
## Bug Report

Hi

We have been using operator SDK with various test environments some of those do not have valid cert.
When running operator on that environment we get the error:

[code]

We did not specify ` https://172.30.0.1` anywhere in our operator, but I was wondering why https and not HTTP is being used?
Is there any way for us to prevent this from happening?

I see fabric kubernetes clien

[2021-10-14 15:14] jmrodri commented on #605
@wtrocki do you have a complete stacktrace  of the error?

[2021-10-14 15:39] #537 closed

[2021-10-15 07:27] csviri opened #608 "Design/Create and agree on format of skeleton of comprehensive documentation"
White it's quite easy to start working with the sdk using the samples. Some of the behavior, like retries, finalizer support,  and other aspects are not documented not trivial. Also there are some design choices we made needs to be documented.

We should agree on format of a more comprehensive documentation, and maintain the docs as part of the issues we implement.

[2021-10-15 07:29] iocanel commented on #544
I will pick this up.

[2021-10-15 07:57] flavioschuindt commented on #533
Hey @jmrodri, yeah, as I said above looks like I have better results now. I will close this issue then and in case I observe any other issue related to this I can reopen it. Thank you guys for all the help!

[2021-10-15 07:59] #533 closed

[2021-10-16 16:06] foal commented on #349
E.g to automatically create Istio CR objects based on `io.fabric8.kubernetes.api.model.networking.v1.Ingress`

[2021-10-19 14:23] sclorng opened #612 "withReSchedule should return typed UpdateControl to avoid linter warning"
Acutally withReSchedule returns an untyped UpdateControl and this rises linter warning "Type safety: The expression of type UpdateControl needs unchecked conversion to conform to UpdateControl<T>Java(16777748)" (vscode at least).

With :
[code]

[2021-10-19 18:41] metacosm commented on #573
Do we really think there'll be other cloner implementations, though?

[2021-10-20 07:02] csviri commented on #573
To run the Operator using Kotlin required different implementation. Basially a different object mapper. So the idea is that if we need already to and it's quite easy to make this generically replacable this way.

[2021-10-20 10:39] #612 closed

[2021-10-20 14:54] #601 closed, assigned to csviri

[2021-10-20 14:54] #588 closed

[2021-10-21 11:57] heesuk-ahn opened #615 "Question & Opinion) ResourceController's init(EventSourceManager) method feels a bit vague."
HI, all
I was wondering how to register eventSource in Controller, so I looked at the code.

https://github.com/java-operator-sdk/java-operator-sdk/blob/2e8f219437e53b9ca58f146a24397dbf38f0bfb8/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/api/ResourceController.java#L55

Looking at this method, it looks like I can create and use my own `EventSourceManager`.

However, in realit

[2021-10-25 09:40] pandrez opened #619 "[Enhancement] - Explicitly exclude some namespaces from the Watcher"
Hi Guys!

I believe it would be really useful to allow the exclusion of some namespaces from the watcher. That way, we could specify the watcher to watch all namespaces except the ones that are defined as excluded. I have a use case in my project that would benefit a lot from this.

If you think this is useful, I would be available to contribute for this.

[2021-10-26 09:34] #619 closed, assigned to nobody

[2021-10-26 10:24] csviri opened #623 "Cover all LabelSelector for v2"
Because of the recent changes in v2 we are not able to handle all label selector just a very specific subset. This should be fixed to have all the label selectors covered.

[2021-10-26 11:56] #598 closed, assigned to metacosm, csviri

[2021-10-26 14:27] lordpengwin opened #625 "OkHttp ConnectionPool leaks"
## Bug Report

I'm using version 1.9.4 of the java-operator-sdk with corresponding version of the quarkus-operator-sdk and I'm constantly getting the following warnings:

[code]
 I'm using the fabric8 kubernetes client (5.7.3 i think) to create and manage custom resources, so i don't really have access to the underlying requests so I'm not sure what code would be responsible for closing the respon

[2021-10-26 16:53] metacosm opened #626 "It shouldn't be possible to register several controllers for the same custom resource"
## Bug Report

Right now, it is possible to register several controllers that use the same custom resource. It's not a good practice and should be forbidden.

[2021-10-27 08:15] #626 closed, assigned to metacosm

[2021-10-27 12:32] metacosm opened #629 "Replace `Closeable` interface by explicit `stop` method on interfaces/implementations that require it"
The issue is that we have an asymmetry between `start` and `close` method. We also don't leverage the `try-with-resource` functionality afforded by `Closeable` so making things explicit might be better by having an interface that would have both `start` & `stop` methods so that we have to handle that `start` scenario explicitly as well.

[2021-10-27 12:57] metacosm opened #630 "`EventHandler` is not properly restarted after a watcher disconnection"
When an error occurs that leads to watchers being closed, we also close the event handler so that events are not processed anymore. However, when we attempt a reconnection, we don't currently have any means to restart the event handler resulting in events not being processed anymore after a disconnection occurs.

[2021-10-28 09:11] csviri opened #635 "Performance and Longevity Tests"
We should create performance and longevity tests. In the past we've seen issues related to mainly longevity (like the `resourceVersion` too old issue).

[2021-10-28 11:05] #630 closed, assigned to metacosm

[2021-10-28 15:30] #629 closed, assigned to metacosm

[2021-10-28 19:04] metacosm opened #637 "It should be possible to add controllers for different versions of the same CustomResource"
The change introduced in #626 is too restrictive and will fail if we try to add several controllers for different versions of the same CustomResource.

[2021-10-29 07:50] #637 closed, assigned to metacosm

[2021-10-29 11:18] #605 closed, assigned to jmrodri

[2021-10-30 19:57] metacosm commented on #615
We could indeed rename `ResourceController` to `Reconciler` to be more in line with `controller-runtime` but I think that renaming `DefaultEventHandler` to `Controller` would be confusing because the `EventHandler` doesn't really match well with what the a golang `Controller` is doing.

[2021-10-31 14:10] heesuk-ahn commented on #615
@metacosm

I agree with your opinion. In my opinion, Controller is a higher level concept than EventHandler.

[2021-11-01 08:16] csviri commented on #615
Well, if you take a look on the implementation it is not far either:
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/internal/controller/controller.go

- Basically manages the queues - in our case it's basically the executor.
- It calls the Reconciler, what we do too, just adding an additional layer by the dispatcher to implement some higher level logic.
- Reconcile handler (

[2021-11-01 08:53] metacosm commented on #615
Ultimately, it doesn't matter, indeed since `DefaultEventHandler` is an internal class. Renaming `ResourceController` makes sense, the rest, not so much.

[2021-11-02 08:34] csviri commented on #615
Started to working on this, two related questions:

1. Should we rename the `createOrUpdateResource` to `reconcile`, and `deleteResource` to `cleanup` ? (see linked issues). For now renamed the to plural ( to `createOrUpdateResources`), because in the current way it feels like we are creating the custom resource itslef.

2. We have also a `@Controller` annotation, which actually contains more cont

[2021-11-02 08:47] lburgazzoli commented on #615
hijacking a little the discussion but here we could think to rename it to `DefaultEventHandler` to `EventHandler` as it does not seems to me we support pluggable `EventHandler` (I think there are other cases where we have an interface whit a single and not user customizable interface).

[2021-11-02 09:22] csviri commented on #615
Will do it, just we have an `EventHandler` interface, and here the purpose with that is not to have a replaceable implementation but to provide an interface to the users to work with. This is used in the  EventSources, so if somebody propagates the event it does it agains the `EventHandler` interface not to the class, which has other public methods.

So we have to find a good naming to DefaultEven

[2021-11-02 09:44] csviri commented on #615
For now renamed `DefaultEventHandler` to `EventProcessor`.

[2021-11-02 13:36] csviri commented on #615
Back to the original topic. We have to bear in mind that the EventSources needs to accessible from the (now) Reconciler, since the caching states of the related reasources are happening in the EventSources.

Given this constraints it's hard to separate these two completely, not even if we have a completely separate caching layer under the hood of the kubernetes client, since there can be non K8S d

[2021-11-03 07:37] #37 closed

[2021-11-03 07:39] csviri commented on #586
Will close this issue, after this, it should be covered mostly:
https://github.com/java-operator-sdk/java-operator-sdk/issues/590

[2021-11-03 07:39] #586 closed

[2021-11-03 08:27] csviri commented on #442
This has been fixed in v2 for CustomResource

[2021-11-03 08:27] #442 closed

[2021-11-03 12:56] csviri opened #651 "Create a Generic Polling Event Source"
Polling an external system for statuses and propagating event if its state changed is something that we can support in a generic way with an Event Source that handles the polling and caching part.

Some aspects to discuss:

1. There are 2 ways a polling could happen. Generic poller (not making a request per custom resource), like listing some changes from an API.  The other approach is polling per

[2021-11-04 10:30] metacosm commented on #533
@flavioschuindt could you open an issue with the details regarding your most recent problem, please?

[2021-11-04 15:07] csviri opened #654 "Fix flaky Integration Tests on V2"
Can be seen on almost every build now, just it is retried automatically and do not fail again usually so it is not visible.

[2021-11-04 15:43] csviri opened #655 "Summary of Proposed Changes for Naming and Related Refactoring for V2"
Based on comments and other remarks, but also from the usage experience, for v2 we plan to do changes in the public and Internal APIs, mainly some structural and naming changes on the main classes. Some of these changes are also result of the functional changes of v2 (like removing events from context). This issues is a summary of current planned renamings and the related open questions. (see also

[2021-11-05 02:07] laxmikantbpandhare commented on #396
The older version of `Fabric8` (`5.1.0`) used to set the fields of Custom Resource. The newer versions of `Kubernetes client` (`5.3.0`) does not set fields of Custom Resource automatically as explained earlier. Below are the examples for reference where you can create `status` in Controller according to your needs.

https://github.com/java-operator-sdk/samples/blob/main/mysql-schema/src/main/java/

[2021-11-05 02:07] #396 closed

[2021-11-05 10:09] csviri commented on #615
Created a separate issues where described the current changes, please take a look, we can continue the discussion there:
https://github.com/java-operator-sdk/java-operator-sdk/issues/655

will close this issues for now.

[2021-11-05 10:09] #615 closed

[2021-11-05 10:09] csviri commented on #374
Created a separate issues where described the current changes, please take a look, we can continue the discussion there:
#655

will close this issues for now.

[2021-11-05 10:09] #374 closed

[2021-11-05 10:50] wtrocki opened #657 "After updating Operator operator doesn't seem to reconnect properly on kubernetes clusters"
## Bug Report

We have been using Operator SDK in real production like scenarios. With +200 000 secrets on single kube cluster etc.
In that scenario we have noticed that Operator connection can be unstable and disconnect very often.

@secondsun have done[ fix to restart operator](https://github.com/java-operator-sdk/java-operator-sdk/pull/397) when connection is dropped but it looks like in recent

[2021-11-05 10:51] wtrocki commented on #657
CC @metacosm

[2021-11-05 13:09] lburgazzoli commented on #655
+1 with me

[2021-11-05 14:01] secondsun commented on #657
It is possible that this got fixed in 1.9.11 / 2.0.0 (java/quarkus sdks).

We were running with quarkus 2.0.0.CR2 which was based on an older version of the java SDK which had a bug with watches not being recreated after a timeout. I think this issue might be from that bug, in which case we can test and close/verify.

[2021-11-05 14:02] metacosm commented on #657
Which version is causing the issue? We've fixed an issue with watchers not being able to reconnect to the server in 1.9.11.

[2021-11-05 14:04] secondsun commented on #657
We were using quarkus-sdk 2.0.0.CR2 which was before 1.9.11 was released. 2.0.0 looks like it is based on 1.9.11, correct?

[2021-11-05 15:19] metacosm commented on #657
Yes, 2.0.0 is using 1.9.11.

[2021-11-05 15:23] secondsun commented on #657
@wtrocki, @metacosm  I will close this issue. I think that it is a duplicate of the bug that 1.9.11 fixes. If we see this with the 2.0.0 quarkus operator sdk we can reopen.

[2021-11-08 09:16] csviri opened #660 "It should be doable to register a Reconciler without `@ControllerConfiguration` annotation"
The behavior should be the same as if there were an annotation without attributes specified

[2021-11-08 09:34] csviri commented on #655
`@Controller` renamed to `@ControllerConfiguration` at the end, since it's in different package then the `ControllerConfiguration` interface, it should be that confusing maybe not at all that we have an annotation and an interface. Actually, the 2 are related, basically filling the controller configurations from the annotation.

[2021-11-08 12:51] csviri opened #661 "Add recently added samples also v2"
The results of the following PR (tomcat example):
https://github.com/java-operator-sdk/java-operator-sdk/pull/659
should be added also to v2. This might not be trivial to do because of recent changes).

[2021-11-08 13:51] metacosm commented on #657
Closing for now. Please re-open if you find that the issue is still present with the latest version.

[2021-11-08 13:51] #657 closed

[2021-11-09 04:17] heesuk-ahn opened #664 "[V2] Is `resyncPeriod` disalbed in V2 InformerEventSoruce?"
**Question) Is `resyncPeriod` disalbed in V2 InformerEventSoruce?**

https://github.com/java-operator-sdk/java-operator-sdk/blob/0494505de8dcbd14e67ef2a803803b14d9a3ede2/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/processing/event/internal/InformerEventSource.java#L36-L37

ResyncPeriodMills seems to be disabled as 0 in InformerEventSoruce to be added to v2.

<img width="514"

[2021-11-09 04:22] heesuk-ahn commented on #655
I think The V2 model appears to be a more intuitive and understandable architectural model. 👍

[2021-11-09 10:10] csviri commented on #664
Hi @heesuk-ahn , will take a look again into this more in depth, but checking the implementation of informer before (in fabric8 client), the thinking was the following:

We should always receive the event when it is propagated from the the watch, either its create,update or delete. If you check the implementation of the `processorStore`, on `listWatch` the replace is called from reflector. There i

[2021-11-09 16:51] csviri commented on #664
@heesuk-ahn I confirmed this with developers of fabric8 client (thank you @shawkins and @manusa ), and it should be as I mentioned before, no events are missed if resync period is 0, resync is mostly there because of compatibility with go-client.
So it's actually correct to have there 0.

Will close the issue for now if no objections, we can re-open it in case there are still questions to clarify.

[2021-11-09 16:51] #664 closed

[2021-11-10 09:11] csviri opened #665 "CustomResource lifecycle notifications for EventSources"
Currently the event sources are already aware when a custom resource is delete, we have a callback which is currently called for example for `TimerEventSource`, to cleanup all the timed events for the resource if it's not exists anymore.

Similar situation could happen for polling event source: https://github.com/java-operator-sdk/java-operator-sdk/issues/651
Where in the variant where we would po

[2021-11-10 09:23] csviri opened #666 "Accessing CustomResource Cache from EventSources"
In event sources there are cases - especially when we want to associate the dependent resource with the main custom resource - when we want to search or have access to information to related custom resource, see:

https://github.com/java-operator-sdk/java-operator-sdk/blob/7eb3aa7f26e72ab59be04d87a8937440935d3945/sample-operators/tomcat-operator/src/main/java/io/javaoperatorsdk/operator/sample/Web

[2021-11-10 11:19] csviri commented on #259
this is done, see InformerEventSource,
see usage: https://github.com/java-operator-sdk/java-operator-sdk/pull/659

[2021-11-10 11:19] csviri commented on #325
this is done, see: #659

[2021-11-10 11:19] #325 closed

[2021-11-10 11:23] csviri opened #667 "Support any Kubernetes Resource not just Custom Resources"
We had multiple request and/or questions if the framework is able to reconcile well known k8s resources not just custom resources, for now this is not possible. But could be implemented.

disclaimer: I know there was already an issue for this just cannot find it :-/

see also: https://kubernetes.slack.com/archives/CAW0GV7A5/p1637154599129900

[2021-11-10 12:39] csviri opened #668 "Improve generics handling on UpdateControle and DeleteControl"
From @lburgazzoli
I've updated to the latest sdk and now there is a small issue with the UpdateControl generics

Like this method does not compile:
[code]
To make it working you have to make the generic type explicit:
[code]

[2021-11-10 12:53] csviri commented on #654
This fixed this: https://github.com/java-operator-sdk/java-operator-sdk/pull/646/commits/725fb06819fe1c6307160ca10becc0daecaf255d

the problem seems to be with CRD registration, if there is no time gap between the crd apply and operator start it fails.

[2021-11-10 12:53] #654 closed

[2021-11-10 12:59] csviri opened #669 "Support Retry Last Attempt Explicitly"
In case there is a retry currently in the reconciler it can be checked if this is the last retry attempt, however to set an error message or other flag on status, that the custom resource is in "error state" after few attempted retries, is still quite cumbersome. Since in this case there needs to be a try-catch block to capture all the controller logic, within the cache check if it's the last atte

[2021-11-10 13:45] csviri opened #671 "Docs: Migration Guide from v1 to v2"
Update web page with a migration guide from v1 to v2. And fix docs so its compatible with v2 refacotring

[2021-11-10 14:03] #655 closed

[2021-11-10 14:59] csviri opened #673 "Create InboundEventSource to Support External Events"
In order to make it easy to receive external events typically from webhooks or message queue-s we can provide an this event source that will implement the shared behavior for such event sources

[2021-11-10 17:10] metacosm commented on #259
This isn't addressed by the `InformerEventSource`. This issue is about providing generic event sources for native kubernetes resources such as `Deployment` or `Secret`. The `InformerEventSource` makes it easier but this isn't really what this issue is about… at least, if I understood properly. 😄

[2021-11-10 18:02] csviri commented on #259
Sorry, you are right, I just read the title probably closed it and 10 minutes later I actually created an issue for this topic  because I was not able to find this issue :D

[2021-11-10 18:03] csviri commented on #667
Duplicate see #259

[2021-11-11 09:56] csviri commented on #259
Ohh sorry checked on this again, but I think it is. Take a look here, we are covering this way all the k8s resources:

https://github.com/java-operator-sdk/java-operator-sdk/blob/f23a78d009a4d693d5bff6a7ba2dfdb51c094c6b/sample-operators/tomcat-operator/src/main/java/io/javaoperatorsdk/operator/sample/TomcatController.java#L45-L58

[2021-11-12 08:48] csviri commented on #668
Well, yes, this is a unfortunate issues with the generics, but if we don't put it there (I mean the generics part of `withReschedule` )the IDEs like Intellij will complain about the generics. So not sure there is a win-win situation. Remember this happens only for `noUpdate` not for the other methods.

[2021-11-15 13:22] csviri opened #683 "Add automatic observed generation handling into the samples"
Observed generation is not supported out of the bix by the framework, its a nice optimization, should be added to -at least some of the samples, but ideally all.

[2021-11-15 19:37] metacosm commented on #669
Sounds reasonable.

[2021-11-16 16:55] lburgazzoli opened #686 "Misleading warning about ClusterRoleBinding"
## Bug Report

#### What did you do?

I've upgraded the operator related libraries to the latest version:

[code]

And when the operator is built, I notice:

[code]

But that's not correct as in my `application.properties` I have:

[code]

where `foo.namespace` is resolved at runtime and set either by a configmap or an env var

#### What did you expect to see?

No warning should be reported

[2021-11-16 22:57] metacosm commented on #686
Closing this since this is specific to the Quarkus extension. See quarkiverse/quarkus-operator-sdk#154.

[2021-11-16 22:57] #686 closed

[2021-11-17 14:14] heesuk-ahn opened #687 "[Refactoring Suggestions] refactored Operator.register api in v2"
## Motivation

Operator register api of v2 can remove the part that passes `null` as a parameter through method overloading.

In this case, we can remove the logic to protect null from the logic inside the register api.

This can make register api code more readable.

## Proposal

* Change deprecated `kubernetesClient.getVersion` to `KubernetesClient.getKubernetesVersion`
* Pass a non-null value a

[2021-11-17 14:16] heesuk-ahn commented on #687
I created a pull request to show an example. :)

https://github.com/java-operator-sdk/java-operator-sdk/pull/688

[2021-11-18 08:39] csviri commented on #687
Makes sense to me , also PR looks good. Thank you!

[2021-11-18 14:17] #661 closed

[2021-11-21 09:04] adam-sandor opened #690 "Switch main branch from master to main"
I'd say V2 is the perfect time to switch to using main branch instead of master.

[2021-11-22 08:04] csviri commented on #690
yes, agree. For late this week the M1 is planned to be released, will do the switch that time if not objections.

Also @metacosm is working on fixes for quarkus extension AFAIK, do you tink we will need a release for the SDK itself for that?

[2021-11-22 09:00] metacosm commented on #690
Yes, we probably should release a version of 1.9.x as well.

[2021-11-22 10:06] #669 closed

[2021-11-22 10:07] #667 closed

[2021-11-22 12:42] csviri commented on #623
@metacosm can we close this? AFAIK this is done

[2021-11-23 08:42] csviri opened #695 "Automatic observed generation handling and `UpdateControl.noUpdate()` behavior"
Currently in V2 if automatic observed generation handling in place, the observed generation in status is automatically updated only if the controller returns `UpdateControl.updateStatus` or `UpdateControl.updateResourceAndStatus`.

This can be a little contra intuitive since if the controller is reconciled successfully  with the actual generation and `UpdateControl.noUpdate` is returned, we still

[2021-11-23 08:46] csviri opened #696 "Fix flaky integration test on namespace cleanup"
Currently the integration test sometimes failing, it seems that the problem is with the namespace cleanup:
https://github.com/java-operator-sdk/java-operator-sdk/runs/4296723886?check_suite_focus=true

[2021-11-23 11:05] #623 closed

[2021-11-23 13:28] #683 closed

[2021-11-23 15:32] csviri commented on #696
It seems that it takes time to clean the pod of the deployment, this is why the test timeouts. Interesting is that only if I run all the tests not just the single test.

[2021-11-24 04:03] laxmikantbpandhare opened #699 "ClusterRoleBinding is missing for the ClusterRole."
## Bug Report

Created Memcached operator using the steps from this tutorial.

#### What did you do?

Created Memcached operator using the steps from this [tutorial](https://github.com/operator-framework/java-operator-plugins/blob/main/docs/tutorial.md).

I compiled the project successfully but Quarkus created only one ClusterRoleBinding for ClusterRole. There are two ClusterRole get created after

[2021-11-24 08:30] #696 closed

[2021-11-24 08:37] csviri opened #700 "Update CI to be able to release both v2 and v1"
This assumes v2 will be the main branch, we might want to however address critical bugs for v1, and make a release from v1 branch.

[2021-11-24 08:38] #695 closed

[2021-11-24 16:29] metacosm commented on #699
This should be actually addressed with the `2.0.1` release of the Quarkus extension. More RBAC fixes are coming in `2.0.2` as well.

[2021-11-24 18:30] laxmikantbpandhare commented on #699
That's really great then. Let's wait for next version of `Quarkus`

[2021-11-25 08:10] #700 closed

[2021-11-25 09:27] csviri commented on #690
Accidentally released 1.10.0, I mean to test it  but turns out the workflow is picked up from the branch where the tag is selected from. [facepalm]
But renamed master to main. Now main is the default branch.

[2021-11-25 09:57] metacosm commented on #690
Not sure if we can get `1.10.0` removed from Maven central…

[2021-11-25 09:59] metacosm commented on #690
Then again, the release is there so… 🤷🏼
This issue should be closed now, though, correct?

[2021-11-25 10:01] csviri opened #712 "Main (and v1) Branch Protection Rules and PR enforcement"
Currently the main branch is not protected, so users with write access can directly push to `main` and `v1`. We could enforce to have PRs always (what we anyway do now), but the release action would not be able to do pom.xml version updates directly neither. This is one issue to solve / discuss.

The other part to discuss below this issue is it would be an idea to force approvals from code owners,

[2021-11-25 10:18] csviri commented on #690
Me neither. Maybe @adam-sandor ?

Sure will close the issue.

[2021-11-25 10:18] #690 closed

[2021-11-25 10:33] csviri commented on #431
As far as I remember we agreed that we will have javadoc for the public APIs (which we already have). And document the non obvious behavior / APIs for internals. Will close this issue for now.

[2021-11-25 10:33] #431 closed

[2021-11-25 12:55] csviri opened #713 "Update `observedGeneration` also on `UpdateControl.updateResource`"
Currently if `UpdateControl.updateResource` returned from reconciler, the observed generation is not update. However, this would likely (probably always)  results in a new reconciliation after the event from the update is received.

On the other hand the generation was observed, and the users intention is to update the resource. So the observed generation should be set.

[2021-11-25 12:56] csviri commented on #668
After discussed with @metacosm , we don't see how this could be done nicer, will close this issue for now.

[2021-11-25 12:56] #668 closed

[2021-11-25 13:37] csviri opened #714 "Simplify Github Landing Page (`/readme.md`)"
The github landing page should just provide the basic information of the project and link to the complete documentation on the web site.

[2021-11-26 08:25] #687 closed

[2021-11-26 11:10] #671 closed

[2021-11-29 09:14] laxmikantbpandhare opened #719 "PKIX failure on running the quarkus memcached operator with minikube cluster."
## Bug Report

Getting PKIX failure on running the quarkus Memcached operator with minikube cluster.

#### What did you do?

Created a `Memcached-quarkus-operator` using this [tutorial](https://github.com/operator-framework/java-operator-plugins/blob/main/docs/tutorial.md). Tried to run the operator in the cluster with these [steps](https://github.com/operator-framework/java-operator-plugins/blob/

[2021-12-01 08:02] heesuk-ahn opened #727 "Can the default eventsource `ControllerResourceEventSource` in operator v2 be improved to use `resync` of informer?"
## Can the default eventsource `ControllerResourceEventSource` in operator v2 be improved to use `resync` of informer?

### Motivation
***

`ControllerResourceEventSource` is the default eventsource and is created together when `EventSourceManager` is created.

ControllerResourceEventSource watches a specific Resource Type through Informer API.

Let's assume the Resource Type is `kind: Tomcat`.

I

[2021-12-01 08:43] csviri commented on #727
Hi @heesuk-ahn , not sure if following but how this is different functionally speaking from invoking `UpdateControl.rescheduleAfter(time)`?

[2021-12-01 09:06] lburgazzoli commented on #727
This need to be used with care as my understanding is that it would re-trigger the reconcile for all the resources which may be very costly if you have a large number of resources to deal with as opposite to re-trigger the reconcile only for those that have effectively been modified outside the reconcile loop.

That's said, I think this is possible but need to be carefully take into account.

This

[2021-12-01 09:17] heesuk-ahn commented on #727
II don't know about `UpdateControl.rescheduleAfter(time)` API. :)
If I use this, is it used to re-trigger the latest resource at regular intervals?

[2021-12-01 09:24] csviri commented on #727
Yes, exactly, I mean the actual resource.

[2021-12-01 09:29] heesuk-ahn commented on #727
I agree with your opinion. It seems recommended to set `resync-period` to several minutes. 🤔

[2021-12-01 09:34] csviri commented on #727
Well it depends, if you have informers for every dependent resource, it not might be necessary. Since you get triggered if any change happens on dependent managed resources.

[2021-12-01 09:49] heesuk-ahn commented on #727
You're right. 👍
I was worried about whether to create an eventResource for dependent resource every time. 🤔

[2021-12-01 09:57] lburgazzoli commented on #727
Usually I do create an event source per kind with a filter on labels

[2021-12-01 11:27] kanedafromparis commented on #727
Therefore I wonder, what do you think of adding a methode
"createRessource(HasMetadata resource)" which will add labels and
ownerReference, and Event to the eventResource created by the operator ?

something like that?

[code]

Do you think this belongs to the framework or to the Operator created with
the framework ?

Le mer. 1 déc. 2021 à 10:57, Luca Burgazzoli ***@***.***> a
écrit :

[2021-12-01 12:17] lburgazzoli commented on #727
My feeling is that this is really business specific so I see this to be part of the specific operator codebase rather than generic one

[2021-12-01 13:17] csviri commented on #727
I see more this like an utility for label, maybe for recommended label, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels/
But agree with @lburgazzoli  others can be quite domain specific.

[2021-12-01 14:24] heesuk-ahn opened #728 "How can we de-couple Reconciler and EventInitializer?"
## Motivation

---

One of the changes in operator v2 is the `EventInitializer` interface.

`EventInitializer` is an interface to create `EventSource` used in `EventSourceManager`.

To create and register EventInitializer, `EventInitializer` must be implemented by inheriting interface from Reconciler.

[code]

ReConcilier is a class where the business logic defined by the user is located, and I do

[2021-12-01 15:24] csviri opened #729 "Umbrella Issue for improved and Utility EventSources provided for V2"
Event Sources provides functionality to get notifications, thus trigger reconciliation if a dependent resource changes. Withing this issue the topic is revisited, and will try to improve and provide implementation of event sources that would help to cover most of the use cases to a certain level of abstraction.

The goal is to have "batteries included", so users could use and/or easily implement t

[2021-12-02 04:22] heesuk-ahn commented on #727
Perhaps I should close the issue if there is no other special discussion here. :)

[2021-12-02 07:58] csviri commented on #727
Yes, I think we can close it.

[2021-12-02 07:58] #727 closed

[2021-12-02 09:34] csviri commented on #729
@metacosm @lburgazzoli @adam-sandor @heesuk-ahn if you have time pls take a look, and let me know what do you think.

[2021-12-02 12:55] csviri commented on #728
Hi @heesuk-ahn , thx for the issues. I think this should be decoupled, so the idea is good, I'm totally align.

Some comments:

1.
[code]
here it should be one initializer, not a List, where all the initialization happening.

2. regarding the idea `1-2`:
[code]

this is basically that we wanted to avoid with the current approach, so mostly you always want to have access to these event source in or

[2021-12-02 13:24] lburgazzoli commented on #728
I'm +1 to what @csviri said and in general to use interfaces as marker as it make it easy to add additional feature in the future without breaking the APIs

[2021-12-02 15:26] metacosm commented on #728
Note that this is likely to change with the dependent resources work that I'm working on. See for example: https://github.com/java-operator-sdk/java-operator-sdk/pull/726/files#diff-897a97d4dc7895b7f9f215c27d328be7b024c1267ef07b989af23e3052047bc6R143-R167, the idea here being that people should rarely need to implement `EventSourceInitializer` anymore.

[2021-12-02 15:30] csviri commented on #660
The main obstacle in this issue is that we generate Reconciler -> CustomResource mapping with an annotation processor.

[2021-12-03 09:13] heesuk-ahn commented on #728
1. Oh right, EventSourceInitlizer is not a List, and multiple EventSources can be registered in it.  :)

2. I agree, I think the Cache should not be accessed only from within the Reconcile. IDEA 1-3 seems to be similar. 🤔

Currently, the Cache of ControllerResourceEventSource is injected inside the framework, so to access it from the Reconciler, it must be accessed through `EventSourceRegistry.get

[2021-12-03 09:28] heesuk-ahn commented on #729
This seems like a good first step. 👍

It is good that the user can directly create a Custom EventSource through the abstraction layer, or that Cache or Filter can be directly injected from the user through the constructor.

This point is considered to be an advantage in that it is possible to access Cache or Filter outside of the framework during development.

It is not yet clear how each EventSou

[2021-12-03 10:20] csviri commented on #729
Next step will include these to examples.

[2021-12-06 10:44] csviri opened #733 "Fix suddenly failing e2e test"
Seems to issues with TLS handshake:

https://github.com/java-operator-sdk/java-operator-sdk/runs/4428864179?check_suite_focus=true

[2021-12-06 11:00] #733 closed

[2021-12-07 13:18] csviri opened #738 "Improving `ErrorStatusHandler` to be able to set status on every retry (not last one)"
Currently `ErrorStatusHandler` is called just if the last retry attempt is failed. We might consider to call it on all failed retry attempt even on first fail.

[2021-12-07 13:23] csviri commented on #590
Now the samples are back, will work long term to improve them.
https://github.com/java-operator-sdk/java-operator-sdk/tree/main/sample-operators

[2021-12-07 13:23] csviri commented on #590
Will close this issues, to complete e2e tests will create a new one.

[2021-12-07 13:24] #590 closed, assigned to jmrodri, csviri

[2021-12-07 13:30] csviri opened #739 "Implement E2E tests for sample operators (WebPage, MySQLSchema)"
The samples are moved back to this repo. But we agreed to implement end-to-end tests just like in case of `TomcatOperator` sample.
- [x] MySQL Schema Sample
- [x] WebPage Sample

[2021-12-08 11:44] #738 closed

[2021-12-08 12:29] csviri opened #743 "Support for Server Side Apply"
Add server side apply api to UpdateControl.

https://kubernetes.io/docs/reference/using-api/server-side-apply/

issue in fabric8 client: https://github.com/fabric8io/kubernetes-client/issues/3334

[2021-12-08 13:39] #713 closed

[2021-12-13 09:27] csviri commented on #739
After this issues is implemented, we should archive this repo: https://github.com/java-operator-sdk/samples

[2021-12-14 15:21] poikilotherm commented on #699
I just stumbled over the very same issue using Quarkus Extension 2.0.2 (Sorry, code not yet pushed)

Is this going to be fixed in a future version or should this have been fixed (so a possible fix doesn't work)?

Thanks for this great library to build on!

[2021-12-15 09:32] #729 closed

[2021-12-15 09:59] csviri commented on #651
closing, implemented under mentioned umbrella issue and PR: https://github.com/snowdrop-zen/java-operator-sdk/issues/121

[2021-12-15 10:00] #651 closed

[2021-12-15 10:01] csviri commented on #666
see also: https://github.com/java-operator-sdk/java-operator-sdk/issues/729
In short turned out this is still relatively simple to do without a explicit support

[2021-12-15 10:01] #666 closed

[2021-12-15 10:01] csviri commented on #665
Implemented under: https://github.com/java-operator-sdk/java-operator-sdk/issues/729

[2021-12-15 10:01] #665 closed

[2021-12-15 14:33] csviri opened #755 "Support for Knative based Serverless Operators"
Under this issue we would like to open the topic of supporting Serverless operators. Tried to scratch out how it would look like and what are the basic problems and possible solutions. So it can start as starting point for discussions:

https://csviri.medium.com/exploring-serverless-kubernetes-operators-for-josdk-8a6f6c67fbc2

[2021-12-15 15:28] metacosm commented on #699
@poikilotherm could you elaborate on the issue you're seeing? There should be a `RoleBinding` generated for this role (and my understanding is that you don't necessarily need a `ClusterRoleBinding` to associate the role to your operator for this purpose).

[2021-12-15 20:58] metacosm opened #756 "We shouldn't require a full `javax.cache.Cache` implementation"
Adding that dependency makes it more complex to consume the API as it requires a complex cache implementation when we only need a subset… In particular, using a simpler Cache interface could potentially allow us to make `InformerEventSource` a `CachingEventSource` and could allow us to propagate changes to the informer's caches directly from the SDK instead of having to wait for them to come from

[2021-12-16 07:58] csviri commented on #756
Agree. For now will remove it from the new event source implementations. Original idea was, that there caches could have eviction, limits and other features that we could use. But at the end even the logic in `CachingEventSource` kinda assumes that the values are caches forever.

[2021-12-16 09:27] poikilotherm commented on #699
Hi @metacosm,

yes - there is a role binding generated for this:

[code]

Yet starting the operator on recent Minikube (K8s 1.22.3) resulted in error that `dvopa` could not access the CRD. Adding the following `ClusterRoleBinding` resolved the problem:

[code]

[2021-12-17 13:49] metacosm commented on #699
OK, one thing to know, though, is that this role is only needed if you want the operator to check that the CRD is properly deployed on your cluster before starting your controllers. Typically, this is only useful when developing your controller because this used to lead to unhelpful errors. This particular aspect has been improved (the operator now throws a `MissingCRDException` instead of an obsc

[2021-12-17 17:53] metacosm commented on #699
I've implemented some improvements in particular, you can now specify the `quarkus.kubernetes.namespace` property to provide the target namespace so that the `ClusterRoleBinding` will be properly generated. Otherwise, if the namespace is missing, a warning will be output and the binding will be generated without the namespace, thus failing when deployed.

[2021-12-18 02:02] heesuk-ahn opened #762 "Q) Is the `shouldUpdateObservedGenerationAutomatically` logic working as intended in the post-processing of update Control?"
## Description

While looking through the update Control post-processor code, I found something a bit ambiguous.

https://github.com/java-operator-sdk/java-operator-sdk/blob/5955ecd1dd1ff0886aabee5a441e2664b392ca5e/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/processing/event/ReconciliationDispatcher.java#L154-L156

[code]

In this code, you checked observedGeneration for `upd

[2021-12-20 08:43] csviri commented on #762
Hi @heesuk-ahn
this is intentional,  we don't want to do anything that is against the intention of the user, here the user intends to update the custom resource but not the status sub-resource. However the status POJO might or might not have changed during the reconciliation. So if we would update the observedGeneration on that status there might be a side effect that update the status with actual

[2021-12-20 08:49] csviri opened #766 "Support for Reactive Programing Model"

[2021-12-20 16:04] metacosm opened #771 "Dependent resources initial support"
Most operators need to deal with dependent (also called secondary) resources. The goal of this feature is to support common use cases as simply as possible, in particular using a declarative API.

Right now, dependent resources are implemented using `EventSources`. This introduce complexity because the `EventSource` interface doesn't provide any hint as to what it might be used for. The feature is

[2021-12-21 22:31] metacosm opened #772 "Update release action?"
https://docs.github.com/en/actions/publishing-packages/publishing-java-packages-with-maven#publishing-packages-to-the-maven-central-repository

[2021-12-21 23:08] metacosm commented on #728
There are some API changes in #760 that offer some improvements on that front that might help with these ideas.

[2022-01-03 12:27] andreaTP opened #781 "Reconciling loop breaks if the kubernetes-client perform a get."
## Bug Report

Using the `kubernetes-client` and doing a `GET` directly in the reconcile loop cause this exception to be thrown.

[code]

#### What did you do?

Using a simple controller similar to:
[code]

#### What did you expect to see?

No exceptions to be thrown.

#### What did you see instead? Under which circumstances?

Always produces this exception:
[code]

#### Environment

**Kubernetes

[2022-01-03 13:36] csviri commented on #781
thx @andreaTP will try to take a look asap.
cc to @manusa @shawkins

[2022-01-03 15:21] manusa commented on #781
https://github.com/fabric8io/kubernetes-client/issues/3697

[2022-01-03 16:43] #762 closed

[2022-01-03 16:55] csviri commented on #781
@metacosm probably we should wait with v2 release, until this is fixed

[2022-01-03 16:56] metacosm commented on #781
Yes. Weird that we haven't seen it in our testing… 😢

[2022-01-03 16:58] csviri commented on #781
yep, but probably because we use everywhere informers, as you normally would.

[2022-01-04 14:31] csviri opened #787 "Using SonarCloud"
This seems to be free for FOSS projects:
https://github.com/marketplace/sonarcloud
would be good to use it.

[2022-01-04 14:45] csviri opened #788 "Syncing Event Source on Startup Before Event Processing Starts"
Consider the following scenario (from the mysql sample):
When there is already a custom resource that represents a schema and the previous reconciliation already created the schema, just the operator crashed after, so neither the status or observed generation were updated. Now: the operator restarts, we check that if the schema is there within the `EventSource` cache, but the cache was not filled

[2022-01-05 21:41] metacosm commented on #771
I'm re-working the implementation since the changes that were made in the mean time made it too difficult to merge back and also made me reconsider some things. See #785.

[2022-01-05 22:30] scrocquesel commented on #781
5.11.2 is released and fixes the issue.

[2022-01-06 09:09] csviri commented on #771
See also #794 this basically solves the problem. But would be better to have an explicit `SyncingEventSource`, that would be quite big change for now.
Also we could improve the current one to start the `ControllerResourceEventSource` to start first, then parallel way start other event sources. Would be more efficient startup, if there are lot's of event sources..

[2022-01-06 09:10] csviri commented on #788
See also #794 this basically solves the problem. But would be better to have an explicit SyncingEventSource, that would be quite big change for now.
Also we could improve the current one to start the ControllerResourceEventSource to start first, then parallel way start other event sources. Would be more efficient startup, if there are lot's of event sources..

[2022-01-06 21:29] sclorng commented on #481
You may use a github action https://github.com/actions/stale

eg:

[code]

[2022-01-06 21:39] sclorng commented on #625
@metacosm should be closed with 1.10.2

[2022-01-07 07:46] metacosm commented on #625
Indeed.

[2022-01-07 07:46] #625 closed

[2022-01-07 09:01] csviri commented on #481
thank you @sclorng

[2022-01-07 10:01] #481 closed

[2022-01-07 13:32] csviri commented on #370
Created a simple prototype please let us know what do you think:
https://github.com/java-operator-sdk/admission-controller-framework

[2022-01-07 14:28] andreaTP commented on #458
This feature have been actually implemented in the `kubernetes-client`:

https://github.com/fabric8io/kubernetes-client/pull/3684
https://github.com/fabric8io/kubernetes-client/pull/3691

[2022-01-07 14:33] andreaTP commented on #28
For some reasons I completely missed this issue, some initial progress in this direction have been done in the `kubernetes-client`:

https://github.com/fabric8io/kubernetes-client/issues/3642
https://github.com/fabric8io/kubernetes-client/pull/3693

(I'm a fan of contract first too @csviri 😛  )

[2022-01-08 16:33] metacosm commented on #585
@csviri should we change this for v2?

[2022-01-10 08:21] csviri commented on #482
Created this doc, with the diagram, hope it helps:
https://javaoperatorsdk.io/docs/architecture-and-internals

will close this issue for now.

[2022-01-10 08:21] #482 closed

[2022-01-10 08:31] csviri commented on #91
This is done.

[2022-01-10 08:31] #91 closed

[2022-01-10 08:32] csviri commented on #522
V2 should solve this, also there was a fix for v1, will reopen if this happens again.

[2022-01-10 08:32] #522 closed

[2022-01-10 08:34] csviri commented on #121
I think we have now this covered with E2E tests. Will close if no objections.

[2022-01-10 08:34] #121 closed

[2022-01-10 08:52] csviri commented on #268
The update and rechedule can be done at the same time now using `UpdateControl`, not it extends [BaseControl](https://github.com/java-operator-sdk/java-operator-sdk/blob/main/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/api/reconciler/BaseControl.java) what has the `rescheduleAfter` method in v2, but similar exists in v1.

[2022-01-10 08:52] #268 closed

[2022-01-10 08:52] csviri commented on #585
Yes, we can have it in v2 IMHO

[2022-01-10 08:55] csviri commented on #90
this is fixed (now we mostly generate the CRD)

[2022-01-10 08:55] #90 closed

[2022-01-10 13:36] csviri commented on #94
This popped up again, consider a migration path from v1 to v2 of CR and related Reconciler:

1. Implemented an operator for version v1  CR v1
2. CR v2 is developed and deployed with a conversion hook (does not matter which one is the storage version)
3. The Operator will have a separate reconciler/controller which already asks for resources (maybe filtered by label) with version v2.
4. After v2 wi

[2022-01-10 13:38] csviri commented on #94
pls let me know what do you think @metacosm @adam-sandor

[2022-01-10 13:41] csviri commented on #728
Will close this now, we can reopen in case new ideas are popping up

[2022-01-10 13:41] #728 closed

[2022-01-10 16:19] andreaTP commented on #94
I completely agree with this last statement @csviri .
More specifically Kubernetes does allow to `serve` multiple CRDs versions while only one will be marked as `storage`.

I do believe that the `operator-sdk` should provide the infrastructure to handle this situation to end-users:

 - Guarantee the alignment with the version marked as `storage` comparing the installed CRD versions and the code
 -

[2022-01-10 18:24] dennisfischer opened #806 "Provide Gradle sample projects"
Currently there are no working example projects which use Gradle. The documentation states that Gradle can be used. However, none of the existing samples showcases how development with Gradle does work.

There are a few options that can be considered:
- Have a dedicated sample for Gradle
- Have a Gradle configuration alongside the existing Maven configuration for some / all samples
- Provide suffi

[2022-01-10 18:41] dennisfischer opened #807 "Apply CRDs on startup of operator"
CRDs can be generated by using `io.fabric8:crd-generator-apt` as an `annotationProcessor`. The CRDs need to be applied manually to the cluster every time they change. This results in a bad development experience.

The `quarkus-operator-sdk` already deals with both tasks ([Generating CRDs](https://github.com/quarkiverse/quarkus-operator-sdk/blob/main/core/deployment/src/main/java/io/quarkiverse/ope

[2022-01-11 14:29] csviri commented on #585
Added a flag to be able to avoid this, IMHO this is now the common behavior, how users use it. So the default remains to close the client.

[2022-01-11 15:02] csviri commented on #276
Checked this, it works on the current `main`. Will close the issue.

[2022-01-11 15:02] #276 closed

[2022-01-11 17:06] metacosm commented on #807
Use the quarkus extension 😉
More seriously, though, this could be done from the SDK itself. Interested in taking a stab at it?

[2022-01-11 17:09] metacosm opened #810 "CRD checks should be bypassed when reconciling native Kubernetes resources"
Right now, the SDK might check that the CRD associated with resources handled by a given `Reconciler` are indeed present on the cluster. This, however, only makes sense if we're reconciling custom resources as it will fail for native Kubernetes resources.

[2022-01-11 18:30] metacosm opened #812 "Resource names are not currently properly generated"
## Bug Report

Resource names for historic resources such as `Pods` or `Secrets` are not currently properly generated. This is fixed in fabric8 client 5.12 but we need a workaround until we can use that version.

#### What did you do?

Creating a reconciler for historic resources leads to failures because the associated resource name is not properly generated. This occurs in particular for automat

[2022-01-11 20:06] metacosm commented on #812
Additionally, with the empty group issue, even if we address the issue of the trailing `.`, the finalizer string still won't be valid because the part before the `/` won't constitute a valid domain name.

[2022-01-12 08:39] metacosm commented on #728
For reference, here's how the dependent resources work on this aspect.

You specify which dependent/secondary resources your primary resource depends on by using annotations on your controller:

[code]

For Kubernetes-native resources, such as `Secret` in the example above, you don't need to deal with event sources at all.  For other resources, such as `Schema` above, your `DependentResource` impl

[2022-01-12 10:33] metacosm opened #815 "Remove Kubernetes server version query when Operator is starting"
There isn't much purpose to it and it has caused issues in the past.

[2022-01-12 13:07] #585 closed

[2022-01-12 13:07] #787 closed

[2022-01-12 13:15] #810 closed

[2022-01-12 15:34] #812 closed

[2022-01-12 16:07] metacosm opened #818 "ReconcilerUtils.isFinalizerValid should take NO_FINALIZER value into account"

[2022-01-12 19:55] metacosm commented on #815
Fixed by #817.

[2022-01-12 19:55] #815 closed

[2022-01-13 08:06] ZhangChaoming opened #823 "No adapter available for type:class io.fabric8.kubernetes.client.AppsAPIGroupClient"
## Bug Report

Operator run with expcetion.
[code]

#### What did you do?

I use this sdk to build a custom k8s operator.

#### What did you expect to see?

The operator accpets CR them creates a job cluster.

#### What did you see instead? Under which circumstances?

Throw exceprions.

#### Environment

- sdk: operator-framework 2.0.0-M1
- java: 11

#### Possible Solution

I dont't  know.
#### Ad

[2022-01-13 08:28] #818 closed

[2022-01-13 08:50] csviri opened #824 "Returning a list of Objects in `Optional<R> ResourceEventSource.getAssociated(P primary)`"
It can happen that multiple resources are created related to one event source, the current api of ResourceEventSource is not covering this.

[2022-01-13 08:51] csviri commented on #824
@metacosm we could probably take a look on this before v2

[2022-01-13 08:58] metacosm commented on #824
Could we have an example of why this is needed? And yes, we should probably do it before 2.0 if that's the case.

[2022-01-13 09:01] metacosm commented on #824
I'd argue, though, that this use case might actually need to be handled via different event sources… which is why there was originally a `qualifier` concept (now replaced by event source name).

[2022-01-13 09:02] csviri commented on #824
@andreaTP had a use case, maybe he will describe it more precisely, that for example you might create multiple `Jobs` and want to watch their status. But I guess can happen with any k8s resources, like managing more `Deployments` that we want just one informer not notify us about their status change.

[2022-01-13 09:05] csviri commented on #824
AFAIK also @lburgazzoli is using it this way, like watching all the resources of same kind with one event source. It completely makes sense imho. Especially if the resources can be nicely captured by label selectors.

A new event source would create a new watch, what is much less efficient in terms of network resources.

[2022-01-13 09:06] metacosm commented on #824
It makes sense but this would be a significant change and then I'd rather postpone it until after 2.0. This should be done with the same scope as dependent resources, imo.

[2022-01-13 09:08] csviri commented on #823
Hi @ZhangChaoming could you try ir with RC1, but this seems to be a strange issue. Aren't you override the version of fabric8 kubernetes client used in the project?

[2022-01-13 09:11] csviri commented on #824
btw I think the same applies for the `public interface Cache<T> ` interface.

[2022-01-13 09:21] metacosm commented on #824
Then let's do dependent resources as well to make sure everything works together.

[2022-01-13 09:25] metacosm commented on #824
What do you mean? There can be only resource associated with a given `ResourceID`. In any case, if we're going to do these changes, I'd argue that we should push the dependent resources at the same time. The change has been waiting for more than a month now and if we're going to change things significantly at this point, we might as well add the dependent resources support at the same time so that

[2022-01-13 09:28] csviri commented on #824
ok, let's do that. There is still the workaround for this case to have the informer in a property and query it directly.

[2022-01-13 09:33] metacosm commented on #824
I'd still like to see a detailed use case of why this is needed to see how it impacts the dependent resources work.

[2022-01-13 09:33] csviri commented on #349
this is supported in v2

[2022-01-13 09:36] csviri commented on #94
@andreaTP  @metacosm I think we also do this after v2, checked and would like then create an e2e test for it, that would require a conversion hook etc, so this is not just for few hours to do it in good quality. Since it's not an API change will do it after v2.0.0 released, and will be one of the issues in v2.1.0 if you agree.

[2022-01-13 09:37] csviri commented on #94
A workaround for now is to implement both the controllers in the code base, put there a feature flag which one to register and deploy two instances of the operator, where the feature flag is the difference.

[2022-01-13 09:39] csviri commented on #824
@andreTP could you describe you use case pls?

But IMHO this is quite trivial requirement, to allow for an operator to create multiple instances of same kind.

[2022-01-13 09:43] csviri commented on #824
An other approach would be just to remove the `getAssociatedResource` from the context now for v2.0.0, but I'm fine to change it later since it's a miner thing also we can make a separate method that returns list.

[2022-01-13 09:55] metacosm commented on #824
Having `getAssociatedResource` on the context makes things a lot cleaner for simple use cases. We do need to take more complex ones into account, though, but I'd like to see if maybe they could be implemented differently than requiring a change of this part.

[2022-01-13 10:20] foal commented on #349
@csviri Is it in 2.0.0-RC1?

[2022-01-13 11:48] csviri commented on #349
yes, should be there, but v 2.0.0 will arrive probably tomorrow, if you can wait a little longer, there are some additional fixes.

[2022-01-13 12:08] andreaTP commented on #824
Use case in Keycloak is tackled here: https://github.com/keycloak/keycloak/pull/9535

TL;DR:

The operator has 2 controllers, one for the actual Deployment and another for "operating" the operand (in this case importing data).
The Controller for the "imports" can spawn multiple `Jobs` related to the single target Deployment.
Those Jobs needs to be monitored to reflect the status in the `Status` fi

[2022-01-13 12:19] andreaTP opened #826 "Feature: tight up the integration with extra eventSources"
A controller can define additional eventSources as shown e.g. [here](https://github.com/java-operator-sdk/java-operator-sdk/blob/29b05468b5f439473e750a5080428446bf4c1219/sample-operators/tomcat-operator/src/main/java/io/javaoperatorsdk/operator/sample/TomcatReconciler.java#L54)

there are 2 improvements we can investigate:

- the watched resource should be easily accessible in the reconcile loop
-

[2022-01-13 12:28] csviri commented on #826
Hi @andreaTP
1.the watched resource is accessible in multiple way, if you hold reference to the informer (variable), you can just pass read it using the resource id of the custom resource, see:
https://github.com/java-operator-sdk/java-operator-sdk/blob/001cbaf38bc91332f0bced22649e3e7a465857ee/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/processing/event/source/informer/Inform

[2022-01-13 12:42] andreaTP commented on #826
have you already evaluated to expose this functionality from the `Context`? it might result in a nicer UX I think.

[2022-01-13 12:44] csviri commented on #826
sure, currently its limited, since the dependent resources might have impact on this, for now see:

https://github.com/java-operator-sdk/java-operator-sdk/blob/001cbaf38bc91332f0bced22649e3e7a465857ee/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/api/reconciler/Context.java#L9-L13

[2022-01-13 13:03] metacosm commented on #826
Generally speaking, I think it's a bad pattern to expose the underlying implementation if we can avoid it. We switched from Watcher to Informer, we might switch to something else again. We shouldn't have to expose this to the users.

Similarly, we now send a list of event sources to be registered and people shouldn't hold onto them unless really needed. Event sources are an implementation detail t

[2022-01-13 13:05] csviri opened #827 "Remove ability to watch multiple namespaces (its either all or one namespace)"
Currently the framework allows to watch either all-namespaces or one namespaces, but also a list of namespaces. The problem is that when we watch a list of namespaces we create a informer for each namespace. This however would anyways complicate things with informers (`InformerEventSource`), so the reconciler would also need to create informers for each namespace. This is problematic, since we can

[2022-01-13 13:08] csviri commented on #826
Maybe we should create a separate issue for this, and discuss where this should be done, not sure if this is quarkus extension, then rather here in the JOSDK, or actually by Operator SDK Plugin.

[2022-01-13 13:11] csviri commented on #826
This is true for K8S resource, we can make a good API to access those, the non-k8s resources is a different story, for now we created the event sources which should be the base for those, to see how we could make a unification.  See the `CachingEventSource` and other event sources which extends it.

[2022-01-13 13:12] csviri commented on #827
would be good to hear opinions: @metacosm @adam-sandor @andreaTP @lburgazzoli

[2022-01-13 13:48] metacosm commented on #827
It would definitely simplify things so I'm in favor of it and I indeed haven't run into use cases where this was needed. Maybe @shawkins or @ppatierno might, though?

[2022-01-13 13:52] lburgazzoli commented on #827
+1 to watch either a single namespace or all

[2022-01-13 14:20] andreaTP commented on #827
it's fine to watch a single namespace or all.

But, thinking about OLM and future development, we should have an additional layer of filtering (e.g. by `label`s)

[2022-01-13 14:20] shawkins commented on #827
I gather since it's accounted for in OLM that some users have pushed for it, but we have not needed to use that feature.

[2022-01-13 14:24] lburgazzoli commented on #827
AFAIK, in 1.x there were a way to add a label selection when configuring a controller.

[2022-01-13 14:24] csviri commented on #827
filtering by labels is already there.

[2022-01-13 14:27] andreaTP commented on #826
That's a good comment, we should be able to register "Watched resources" and they should be easily accessible from the public API without bothering about the implementation details.

[2022-01-13 15:16] andreaTP commented on #259
I think this issue is still relevant, and having to manually deal with injecting `ownerReferences` manually when creating resources and extracting them in the Informer is something that the SDK can, eventually, take care of.
Probably by somehow not injecting the plain `kubernetes-client` but wrapping it into an higher level abstraction.

This would enable multiple conveniences, e.g.: injecting lab

[2022-01-13 15:20] metacosm commented on #259
The dependent resources PR takes care of owner references automatically for example.

[2022-01-13 15:48] andreaTP opened #829 "[feature] Easy way to detect external modification to owned resources"
When a reconcile loop is triggered because of the change of one of the owned resources it should be easy to detect if the change was done by the operator itself or someone manually modified the resource.

A concrete use case is the following:
 - the controller read a CRD and create a `Deployment`
 - the `Deployment` gets manually patched in the cluster
 - the operator should easily detect the situ

[2022-01-13 16:57] jmrodri commented on #806
We could add a Gradle build file to one of our samples to satisfy this issue.

[2022-01-13 17:44] vmuzikar opened #830 "InformerEventSource throwing NPE if the watched resource is deleted"
## Bug Report

#### What did you do?

1. Configured the event source:
[code]
2. Created the secondary resource (Deployment) in a reconciliation loop.
3. Deleted the Deployment manually to simulate user unintentionally deleting it.

#### What did you expect to see?

No NPE. ;)

#### What did you see instead? Under which circumstances?

[code]

#### Environment

**Kubernetes cluster type:**

vanilla

[2022-01-14 08:44] metacosm commented on #829
I'm not sure I understand the issue here. When the `Deployment` is updated, your reconciler will get triggered and then you use the desired state as recorded by the custom resource the SDK passes to you to decide what needs to be done. Concretely, if the `Deployment` is manually patched, then its state won't match the desired state as defined by your CR spec. Your reconciler is supposed to check a

[2022-01-14 08:45] metacosm commented on #823
A more detailed exception stack would help as well and maybe a way to reproduce the issue?

[2022-01-14 09:05] csviri commented on #830
For now was not able to reproduce this locally will try further. Putting @manusa @shawkins on cc,

What happens that the new object is null on update:
https://github.com/java-operator-sdk/java-operator-sdk/blob/62ce303e107108a2acdf05249f3105b0eda5d758/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/processing/event/source/informer/InformerEventSource.java#L88

Is this a bug or a

[2022-01-14 09:08] metacosm commented on #830
I think the question is why `onUpdate` is called when the object is deleted. Shouldn't the informer only call `onDelete` in that case?

[2022-01-14 09:09] csviri commented on #830
true, it should be delete called.

[2022-01-14 09:21] andreaTP commented on #829
@metacosm that's very correct, but, at the moment the operator developer should "manually" roll out the diff checking, and I do believe that there is space for improvement there from the SDK side.
For example the SDK can provide utilities to compare desired state and actual state and return the diff.

[2022-01-14 09:25] csviri commented on #829
Maybe we could rename the issue or close this one and create a new for the utility of diff checking, to forgo the misunderstanding.

[2022-01-14 09:34] manusa commented on #830
Following the watcher logic (no idea if this is what happened on the Informer side), for regular deletes, the first step is to add the `deletionTimestamp` field. So at least a modified event should be received prior to the deletion.

[2022-01-14 09:34] csviri commented on #827
I think this issue is also about the permission, currently it is also possible to filter even by namespace *.
So if we want to 100% sure that the operator does not have access to other namespaces (thus cluster wide permissions) this might be a useful feature.

* not using the capabilities of Kubernetes API but a custom filter, that receives all the events but filters out the ones which are not for

[2022-01-14 09:37] csviri commented on #830
yes, but the old and new object pair should be still there, the new object will be in this case what is  "marked for deletion". At least this is what I saw before.

[2022-01-14 09:46] andreaTP commented on #283
I started collecting ideas about how to make the structure in `target` more easily integrated with a kustomize workflow, so far:

 - copy all kubernetes resources from `src/main/kubernetes` to `target/kubernetes`
 - generate the resources in subfolders of `target/kubernetes`, such as `target/kubernetes/crds`, `target/kubernetes/deployment`, `target/kubernetes/rbac` etc.

those will already make us

[2022-01-14 09:47] manusa commented on #830
From the watcher perspective yes. But I'm not sure if the Informer might be merging events.
The only explanation it occurs (without checking the informer code), is that the resource is deleted from the cache **before** the update event is emitted. i.e. modified + delete event are received by the informer watcher, when the modified event is composed+emitted, the resource was already deleted because

[2022-01-14 10:00] csviri commented on #830
ok, thank you!!
created a PR, with a fix and integration test on our side - what did not reproduce it, so it might be a concurrency issue, not sure.
will investigate further a little bit later.

[2022-01-14 10:15] metacosm commented on #827
Indeed, we need to take into account the permission aspects where for many organization giving cluster-wide permissions to an operator is a no-go…

[2022-01-14 12:12] csviri commented on #829
By the desired state I mean the `.spec` of the resource. So the workflow is:

1. get the cached resource - in our sample the `Deployment`
2. calculate the Deployment that we we would create if this deployment would not exists
3. Compare the spec part of the 2 resources
4. if its different apply the calculated Deployment

[2022-01-14 12:15] metacosm commented on #829
The problem is that you cannot do step 2 at the moment. There's no support for this. Like I said the dependent resources work helps there.

[2022-01-14 12:18] csviri commented on #829
Absolutely, what we can do now is just a simple utility,
`Util.compareAndApplyIfDifferent(currentDeployment,targetDeployment,kubernetesClient)`
maybe with suppliers etc or other fancy variant  :)

[2022-01-14 12:31] metacosm commented on #829
Yes, the problem is computing `targetDeployment` in this example. However, like I said this problem is solved by the dependent resources work with the `Builder` interface which role is exactly to create a representation of the desired dependent resource based on the state of the primary one.

[2022-01-14 13:40] shawkins commented on #830
It's not generally possible for the newObject to be null.  The incoming event is processed by the reflector.  There is an explicit null check there: https://github.com/fabric8io/kubernetes-client/blob/9e8ae39711143648158f555757296c613175c819/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/informers/cache/Reflector.java#L122

That same object reference will be passed all the way to you

[2022-01-14 13:59] csviri commented on #830
thx @shawkins !
@vmuzikar could you retest it with the current snapshot version?
Also share the code which are you using for testing?

[2022-01-14 14:06] andreaTP commented on #829
As I understand it `targetDeployment` will come from the user business logic.

[2022-01-14 14:09] csviri commented on #829
Yes, that is anyway, the case, regardless this is part of dependent resources or not. Such utility methods are helpful, also for the future if somebody won't use dependent resources for example, just the current API.

[2022-01-14 14:33] metacosm commented on #830
Maybe we should split the line on which the NPE occurs so that we have a better idea of what is null?

[2022-01-14 15:53] metacosm opened #835 "[CI] Do not run tests on documentation / web site changes"

[2022-01-14 16:09] #714 closed

[2022-01-15 18:08] sclorng opened #836 "Operator crashes at startup with NPE on MicrometerMetrics.reconcileCustomResource"
## Bug Report

#### What did you do?

I start the operator.

#### What did you expect to see?

Operator running

#### What did you see instead? Under which circumstances?

2022-01-15 17:48:30,163 ERROR traceId= [io.qua.run.Application] (main) Failed to start application (with profile prod): java.lang.NullPointerException
        at io.javaoperatorsdk.operator.monitoring.micrometer.MicrometerMetric

[2022-01-15 18:11] sclorng commented on #836
Looking at the code, seems retryState for the marked event source ResourceID don't exist. Don't know if it's normal at startup. Nevertheless maybe MicrometerMetrics.reconcileCustomResource should not assume retryInfo couldn't be null.

[2022-01-15 22:22] scrocquesel commented on #836
`EventProcessorTest.startProcessedMarkedEventReceivedBefore` would produce the NPE if micrometers implementation was used instead of `Metrics.NOOP`

I was proposing this fix in micrometer implementation

[code]

but I think that changing signature for `Optional<RetryInfo>` is worthwhile. Still it would be a breaking change.

On testing, there is no test on the micrometer implementation, so I opt f

[2022-01-17 02:52] ZhangChaoming commented on #823
I found another version of fabric8 kubernetes client in my dependency. @csviri @metacosm  Thanks .

[2022-01-17 02:52] #823 closed

[2022-01-17 08:36] #836 closed

[2022-01-17 17:00] vmuzikar commented on #830
The issue still persists for me but with a little bit more debugging I believe I found the root cause:
https://github.com/java-operator-sdk/java-operator-sdk/blob/09180abaeb93646bd7bbe8e924fd2336e61808f8/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/processing/event/source/informer/InformerEventSource.java#L94-L95
Happens when `oldObject.getMetadata().getResourceVersion() == nu

[2022-01-17 17:33] shawkins commented on #830
So this is happening due to modifications to the cached resource.

It might not even be the operator logic making the modification.  This was touched on in #3078 but not really addressed.  Essentially the logic in createOrReplace, replace, or patch is allowed to modify the passed in object - in particular the resourceVersion.  For example using an item directly from the cache in createOrReplace wi

[2022-01-17 17:48] metacosm commented on #830
Thanks for the updates!

[2022-01-17 17:49] andreaTP opened #843 "Evaluate an higher level abstraction on top of the Reconcile Loop"
The Reconcile Loop provides a basic building block that allows writing simple operators.

When an operator starts to perform some "more advanced" operations the logic can easily become messy, here I would like to explore what the SDK can offer to help structuring the code of more complex workflows.

To start the discussion I can put on the table an early experiment I ran to model the Reconciliatio

[2022-01-17 20:00] csviri commented on #843
What I claim that we need is very similar to the constructs of terraform (analogy is not that nice since terraform has sync execution). So easily and as declaratively as possible support an Directed Acyclic Graph (DAG) of resources, which migh depend on each other. And based on that the reconciliation can be executed easily by a scheduler in the background.
But basically yes a state machine in the

[2022-01-17 20:08] csviri commented on #843
One think maybe to add, regarding the state, it does not needs to be stored (it actually should not be), we should reconcile all the resource we manage all the time. And build up the state machine in memory. Maybe just store the current result after a reconciliation into the status, but not use it as an input.

[2022-01-17 20:14] andreaTP commented on #843
The idea of a DAG is super intriguing, especially if the operator needs to reach a stable "desired state" without executing "workflows" which, unfortunately, was not my POC primary use case.

I agree that this is a big change and we should start experimenting, possibly, in end user codebases to properly evaluate pros/cons before integrating on the SDK.

Pretty happy to have a discussion about the

[2022-01-18 07:50] metacosm commented on #843
Please take a look at the dependent resource PR which adds another layer on top of the reconcile loop. Status handling is next in the list of features to go through.

[2022-01-18 08:13] lburgazzoli commented on #843
As I have implemented a state machine in camel-k that does exactly what is described here (well, not with a nice framework but the concept is the same), I'd say that there there's no single answer to know where/when/how keep track of the status:

1. if you rely only on k8s resources, then you may be able to derive the status from the platform but ins some cases, especially for technical/transition

[2022-01-18 09:27] csviri commented on #843
Just a little comment on this, we had discussions in the past with multiple people about where to store such state. (From OperatorSDK developers and Kubernetes Operator Slack), the conclusion was that an alternative and generally preferred pattern is to put such state in a ConfigMap, Secret or a dedicated CustomResource (for validation). So the status is only a kinda derived value from the last ex

[2022-01-18 09:32] andreaTP commented on #843
Providing alternative options for storing the `State` seems to be highly feasible, almost a technical detail, e.g. a `StoreProvider` might have several implementations built on the use-cases:

 - no store (ephemeral)
 - ConfigMap
 - Secret
 - State
 - ...

[2022-01-18 09:33] lburgazzoli commented on #843
I recall that :) and I have the same feeling as you for a number of reasons.

Anyway it does not change much the logic as in fact the status is persisted somewhere in a resource so, it is just a matter to give to the "state" enough freedom.

[2022-01-18 13:18] csviri commented on #827
Posted this on Operators channel on Kubernetes Slack: https://kubernetes.slack.com/archives/CAW0GV7A5/p1642511565114100

[2022-01-18 13:57] metacosm commented on #827
The dependent resource branch deals with this (it has added some generalization around generating informers for each namespace)… As much as I would like to remove this feature since it simplifies things, I think we need to keep it because it helps users who don't want to or cannot deploy their operator with cluster-wide access…

[2022-01-18 14:15] csviri commented on #827
As mentioned in the slack in that case it's deployed in every namespace (what is not great, not terrible). But I agree to leave this, if it don't complicate things too much.

[2022-01-18 14:52] metacosm commented on #827
How is that done, though, if you have dynamically created namespaces in a multi-tenant environment? Or do you need an operator to automatically deploy your other operator to your namespaces? :)

[2022-01-18 14:59] csviri commented on #827
Not sure what you mean by dynamically. In my experience, usually a product team does not have the rights to create namespaces. But the platform team creates for them upfront. In that case event the team could deploy the operator to their namespace(s), if they have the permissions.

[2022-01-18 18:24] metacosm commented on #827
Consider the OpenShift sandbox use case for example: you sign up, the platform generates a couple of namespaces for you automatically, there's no manual process involved here.

[2022-01-19 10:21] csviri opened #847 "Implement CICD Pipeline for Spring Boot Starter"
- run build + tests (on PRs too)
- get the artifacts to maven central

[2022-01-19 11:43] csviri opened #848 "Periodic Reconciliation - Able to Set Max Interval Between Reconciliations"
In some cases, like when managing external resources, or just having a simple controller that we want to periodically reschedule it would be handy to be able to define that  "I want to have maximum delay [X time] between reconciliations".
This would be much better than fixed rate, since that can easily lead to very close executions after each other, what is not the intention in these use cases.

O

[2022-01-19 11:47] andreaTP commented on #848
I think that `@ControllerConfuguration(periodicReconiliationMaxDelay=8 ...` with sensible defaults works perfectly for this use-case.

[2022-01-19 12:18] metacosm commented on #848
I'd favor a configuration option as well. It makes more sense that way than having to remember to call a reschedule on `UpdateControl`…

[2022-01-19 12:28] csviri commented on #848
see also: https://kubernetes.slack.com/archives/CAW0GV7A5/p1642594910160600

For the record, I think discussed before, if you have informers in place and correct code, this is not needed. It's really a fail safe.

[2022-01-19 13:11] sclorng commented on #848
That would help for testing. Actually, and especialy true on quarkus side, tests are more integration tests than unit testing the Reconciler. Then, it is not easy to test if a reschedule has been set.

Informers can help detecting change but for time based behaviour, I guess we still need to use either TimedEventSource or reschedule.

[2022-01-20 08:13] csviri commented on #370
Although the framework is as very thin layer, supporting testing and other aspects like generating yaml for Webhook configuration really could increase the productivity, mainly the initial step. So will continue examining it,

[2022-01-20 08:13] #370 closed

[2022-01-20 14:14] csviri opened #850 "Depends On and Conditions to describe workflows Dependent Resources"
## Problem statement

1. If for a resource we need an input what is an output (or status in K8S of the other resource). (Ideally these would be detected automatically? probably that is not feasable)
2. When we want to make sure that something happens after an other resource is ready. Like if database is deployed, and want to create a specific default schema.

## Solution

Both of these issues, can

[2022-01-20 14:31] metacosm commented on #850
How could they be detected automatically? This processing needs to happen at build time so unless you perform static analysis I don't see how it would be possible…

[2022-01-20 15:12] csviri opened #851 "Custom action for dependent resources"
## Adding a custom action into workflow for dependent resources.

With introducing [`dependsOn`](https://github.com/java-operator-sdk/java-operator-sdk/issues/850), in the background there will be a plan created from the DAG of resources, and subsequently executed. Not everything can be modeled resource oriented way. So to be able to hook on the execution, propose a special "action dependant". (Th

[2022-01-20 16:55] csviri opened #853 "Pre-conditions Dependent Resources"
todo

[2022-01-20 16:59] csviri commented on #853
@andreaTP could you pls describe your use case with the workflow (and the once action). Thx! Will udate the description after.

[2022-01-20 21:15] metacosm opened #854 "WebappReconciler doesn't work"
Events are filtered using `CustomFilter` which rejects all events (always return false).﻿

[2022-01-21 08:09] #854 closed

[2022-01-21 12:21] metacosm opened #857 "Expose dependent configuration for the case where we have several dependents of the same type"
How do dependents work when we have more than one secondary resource (like having 3 deployments) ?

_Originally posted by @sebastienblanc in https://github.com/java-operator-sdk/java-operator-sdk/pull/785#discussion_r787438396_

[2022-01-21 12:55] csviri opened #858 "Architectural Decision/Discussion: Layering Architecture Regarding Dependent Resources"
## Introduction

We started to prototype and prepare the first iteration of Dependent Resource.
See Initial [issue](https://github.com/java-operator-sdk/java-operator-sdk/issues/771). And other related upcoming features / issues [here](https://github.com/java-operator-sdk/java-operator-sdk/labels/dependent-resources-epic)
(This [issue](https://github.com/java-operator-sdk/java-operator-sdk/issues/

[2022-01-21 14:13] csviri commented on #858
@lburgazzoli @andreaTP @adam-sandor @ppatierno  and others. Would be happy to hear you opinion on this topic. Hope it's clear what is desrcibed here.

@metacosm feel free to add cons / pros, probably I did not listed everything we talked about.

[2022-01-21 14:18] andreaTP commented on #850
This is a good starting point to model state transitions!

Something that I'm not sure about is if it should be modelled as an `Annotation` at the Reconciler class level, are you going to not run the reconciling loop if the condition is not met?
This approach can probably lead to a number of edge cases ...

Another comment is around `Conditions`, it would be ideal if they can be more abstract than

[2022-01-21 14:45] andreaTP commented on #858
For the long term I would be more inclined toward the second approach, but, I think that we can incrementally tend to it e.g.:

__3. variation:__ is to not change the current layer as released in v2.0.x, implement it as a special Reconciler(same as in variation 2) but have it in the `core` to have full access to the internals and shorten the release cycle of such an important feature.
Eventually e

[2022-01-21 14:59] csviri commented on #850
I guess we won't, that mean the resource A  is somehow make sense to reconcile if the resource B is in a certain condition.

Agree, probably needs to be the target resource but maybe the whole context accessible from a condition API.

This use case would be perfectly covered with this design.

The use case you mentioned on community meeting, that there might be a job that is created and executed o

[2022-01-21 15:01] csviri commented on #853
The use case we defined should be solvable with the custom action, will close this issue for now.

[2022-01-21 15:01] #853 closed

[2022-01-21 15:14] andreaTP commented on #850
I might be missing something, but I think that resource A reconciler should be triggered anyhow, with appropriate parameter/s(`ready = false` or something), even if resource B haven't reached the specific condition.
This will enable:
 - waiting for multiple conditions
 - monitoring the status (and eventually reporting it in the `Status` field)
 - handle possible recovery actions (timeouts, retries

[2022-01-21 15:16] andreaTP commented on #850
This would be great ❤️

[2022-01-21 18:03] scrocquesel opened #860 "showcase how to test operator"
Actually, tests are E2E integration tests and require external dependencies (database instance, k8s cluster). In some CI environment, it may not be possible to do so.

We should be able to unit test with mock for those dependencies. This would allow to add more tests as we have more control on the state of those dependencies.

See related works on quarkus extension to unit test mysql schema operat

[2022-01-23 02:09] #74 closed

[2022-01-23 02:09] #168 closed

[2022-01-23 02:09] #298 closed

[2022-01-23 02:09] #299 closed

[2022-01-23 02:10] #547 closed

[2022-01-23 02:10] #635 closed

[2022-01-23 18:44] metacosm commented on #547
Fixed by #859

[2022-01-24 10:17] metacosm opened #862 "Consider using a marker interface to mark internal `Reconciler` implementations"
The issue is that tooling (in particular, the Quarkus extension) that consider `Reconciler` implementations should only consider user-provided implementations and not take the SDK internal versions into account. While it's obviously possible to list all these internal implementations and ignore them, the approach is fragile because that list needs to be updated whenever needed and it's also not re

[2022-01-24 23:45] scrocquesel commented on #827
Hope I'm not too late.

In our organization, the cluster is multi-tenant and each tenant has only access to a few namespaces. The one given to the tenant and the ones the tenant is able to create on its own.
We can't deploy cluster wide operator.

Currently, we do not use Informer and like @ppatierno we do periodic reconciliations and fetch dependent resource each time.
While it should be possible

[2022-01-25 13:53] #862 closed

[2022-01-25 15:04] metacosm commented on #827
This use case should be covered by the dependent resources work. If you look at the tomcat sample, you'll see that the `TomcatReconciler` defines dependent resources, one for a `Deployment` and another for a `Service`:
https://github.com/java-operator-sdk/java-operator-sdk/blob/06893df73395a5a2c9d5803c24663159960c53a3/sample-operators/tomcat-operator/src/main/java/io/javaoperatorsdk/operator/sampl

[2022-01-25 15:14] csviri commented on #827
@metacosm @scrocquesel As we discussed before the dependent resources (what is in incubation phase now has this support). But this should be also "elegantly" supported without the dependent resources.

[2022-01-25 15:18] csviri commented on #858
Started to prototype this with a separate module to clearly see the boundaries. It is pretty much just a skeleton of the design, but will progress on it in coming days:
https://github.com/java-operator-sdk/java-operator-sdk/pull/866

[2022-01-25 16:20] metacosm commented on #858
Regarding the first approach: the code is not that much more complex as the majority of what it does is just wiring existing things together. There's just one additional layer of complexity to allow `InformerEventSource` implementations to watch several namespaces at once but that's the extent of it: we don't touch the complex part of the logic which is the dispatcher. So I don't really agree with

[2022-01-25 17:22] metacosm commented on #827
I would suggest that we wait before extracting this feature because I think this makes sense pretty much only in the context of dependent resources. So I would suggest people try it out and let us know how it works for their use cases before investing efforts in extracting that feature and backporting it to the older 2.0.x branch.

[2022-01-25 17:54] metacosm commented on #858
Another issue with a layered approach which would probably involve either an abstract `Reconciler` implementation or a completely separate interface is that it might make (at least in first approximation) looking up user provided implementations more complex for the Quarkus extension and the Spring Boot starter because they will have to handle the specific implementation used by the user.

If a la

[2022-01-25 19:16] csviri commented on #827
Why wouldn't it make sense without dependent resources? The lower level API's are meant to be more generic then dependent resources.

[2022-01-25 19:25] scrocquesel commented on #827
Yes, looking at the code, it does. Is there an easy way to tell to watch the same namespace as the primary controler ? I think that in the vast majority of use case, dependent resources will be in the same namespaces as the primary resource. So, by default, I would link both configuration. In Quarkus, there is an application.properties to configure namespace of the a controler, and this will avoid

[2022-01-25 19:36] csviri commented on #858
I agree, but it's not about the API, as mentioned I really like it. Looks nice with the annotations. It's about how to implement this. (I have only little worry that annotations might be limiting for some use cases, and parametrizations when it comes to reusablity, but that is a different topic). But yes, users should give feedback, already can do with the current implementation.

While this is tr

[2022-01-25 19:44] csviri commented on #858
Regarding the current approach, I'm fine doing it this way, and continue in the core if:

1. The low level API is not changed and are fully available as a super-set of features, behind dependent resources. (So we continue to support it as the primary API).
2. The integration tests as were now will be implemented on top of low level API (now some migrated), and we will add new integration tests for

[2022-01-25 21:24] scrocquesel opened #867 "Dependent resources namespaces are autodiscovered"
Following discussion around one or all namespaces, I have an edge case scenario where I don't know at deployment time in which namespaces the dependent resources will be, and I can't deploy a cluster wide operator.

This assume :
- A namespaced operator with a controler watching one namespace.
- A CRD for a fictious CR like allow for cross namespace reference
[code]

Basically, I will deploy the o

[2022-01-26 08:52] csviri commented on #867
Hi @scrocquesel ,
tbh this sounds like a quite exotic use case for me, it's basically configuring operator with custom resources on runtime, if I understand it correctly.

The question is why just not create the operator that handles AutodiscoverTargetNamespace with the informers where the operator has already permissions. If the permissions change change the operator configurations (this can be d

[2022-01-26 08:54] #847 closed

[2022-01-26 09:17] csviri opened #870 "Filtering Event of Informers After Watched Resource Update"
## Problem Statement
In case we during the reconciliation update a dependent resource, we receive a new event regarding the change of the dependent resource from the informer. In general this even can be skipped since we know that the state of the target resource is already the desired one. The way to do this would be compare `resourceVersion` of the resource of the received event with the resourc

[2022-01-26 13:57] metacosm opened #872 "SDK shouldn't warn of missing resource id in cache on CR deletion"

[2022-01-26 18:35] scrocquesel commented on #867
The operator may have access to a dozen of namespaces, and only a few of them are actually used. But then, the operator will create a dozen of informer just to watch nothing. I don't if it's costly for k8s, but it seems to me that each informer opens and maintain one connection to k8s api server.

For the configuration, yes, we may add an another operator that will watch in each namespace he knows

[2022-01-26 18:50] csviri commented on #867
Hmm, the thing is currently dynamic informer registration is not doable, to be honest probably it's not a good idea, because how the syncing of event sources / informers works on startup.

So just thinking / brainstorming how to solve this. I would probably collect the target namespaces on startup (before operator starts) (either by listing custom resources in the namespaces or adding labels on th

[2022-01-26 18:53] scrocquesel commented on #870
Regarding concurrency issue would a semaphore mechnism allows to update the resource while blocking the evensource until the `resourceVersion` is propagated.  ? The drawback is that the informer will not be able to process new events, so maybe it can retain events concerning only the resource being edited.

This should have no impact because we are still in the reconcile loop and imho, we should r

[2022-01-26 19:01] csviri commented on #870
This is not really feasible, because there might be other events, meanwhile, and the controller might fail or other errors might happen etc, that would need special care etc. Also the event can be lost in some corner cases.

I think the proposed solution is good enough, btw we already do something similar with the custom resource, that seems to be work fine.

Ideally yes, there should be kinda "sn

[2022-01-26 19:13] scrocquesel commented on #867
I see, I was just thinking about a running operator. But not the starting phase.

The sidecar approach is the good one, the informer can watch for namespace and apply configuration changing on demand.
Unfortunately, this will not work in my case. The cluster is using [kiosh](https://github.com/loft-sh/kiosk) for multi-tenancy, and it [is not possible to watch namespace](https://github.com/loft-sh/

[2022-01-26 19:13] #867 closed

[2022-01-27 17:22] csviri opened #877 "Scaling Operators"
DISCLAIMER: Note that need for scaling operators disputable problem, putting it here, since this is a quite simple solution that is feasible to implement. We do not plant to implement this, it's rather part of discussions and explore the topic, also as part for the options we have on table regarding performance improvements and scaling.

## The Problem
Currently we can run only 1 instance of opera

[2022-01-27 21:11] shawkins commented on #877
We talked about sharding approaches on https://github.com/fabric8io/kubernetes-client/issues/3587#issuecomment-1014652601 and the related pr.

Instead of a webhook we were talking about a "coordinating" operator being responsible for assigning indexes to the resources.  The idea was the same, you need something to monitor create / update to ensure the necessary index label is applied.

Some of the

[2022-01-28 09:28] andreaTP opened #878 "[feature] Easy way to set OwnerReferences in operands"
It's an extremely common practice while developing operators to leverage the k8s GC to remove resources.

Usually when a user creates a new CR the relevant operands created by the operator will be referencing it as `OwnerReference`, it's a best practice and widespread in operators development.

Examples:
- [Keycloak](https://github.com/keycloak/keycloak/blob/f70a22f58316b434178b8e3c59b1e45255e9fd1

[2022-01-28 09:29] #872 closed

[2022-01-28 15:56] csviri opened #882 "The invalid (not de-serializable) Custom Resource Should Not Crash the Operator"
todo

[2022-01-28 16:40] csviri commented on #877
thx @shawkins for response!

The hashing is over ResourceID because that is always at hand (note that these are not necessarily only Kubernetes resources), but can be external resources. And this is how the primary resource addressed internally.

This is definitelly the way to go when scaling up or down, on creation probably safer with the mutation hook. Maybe the combination of both is the ideal

[2022-01-28 23:46] metacosm commented on #878
Note that owner references are automatically handled by the dependent resources support by default. You can also configure your dependent to opt-out of being owned if needed.

[2022-01-29 10:53] lburgazzoli commented on #877
I think we should better describe what is the problem we are trying to solve and where the bottleneck is.

As example, it is not clear how having multiple replicas as described in option 1 would help, it looks to me it can even exacerbate the problems (but I may have not understood well the solution so, pardon me if what I'm saying is wrong) as:

1. the k8s api server has to notify N more clients

[2022-01-29 15:30] scrocquesel opened #885 "PollingEventSource should trigger reconcile when a secondary resource is missing"
## Bug Report

I'm was using `PerResourcePollingEventSource` but when having a lot of primary resources, it can lead to a lot of presure on the external system.
I refactor around a `PollingEventSource` to batch external resources get but the difference of behavior make it is not a drop in replacement.

#### What did you do?

1. Create an operator that will create an external secondary resource wit

[2022-01-30 15:26] csviri commented on #877
@lburgazzoli thanks for the feedback!

I agree that using only the part 1 of the approach would need some careful measurement, and definitely does not sound that nice without the part 2.

With the second part made a little addition, IMHO the only little more problem there is with the dependent resources re-indexing, changed the wording, it's actually does not need stop, rather a skip in the other

[2022-01-30 16:18] scrocquesel commented on #843
Does `State` mean also the observed spec ? Actually for external dependency, it is not always possible to set a reference to the CR. Thus, if the CR spec change while the operator is down, you can lose track of a previously created dependency.

What i'm doing is to push a copy of `spec` in `.status.observedSpec`, and when polling per resource, I will fetch the dependent resource that match first t

[2022-01-30 19:18] scrocquesel commented on #857
Thinking about this, I see two kinds of multiple dependents of same type:
- fixed : the number of dependents is know at build time and a discriminating name should be enough. Dependents may be optional if the spec do not require it.
- dynamic : the number of dependents is known at reconcile time and depends on the spec of the CR. This is often the case when a CR is a group. After having done such

[2022-01-30 20:36] csviri opened #886 "Limited Cache Sizes"
Currently informers and other provided event source implementations cache all the received resources. This could lead to very high memory consumption. In that case what could be done is limit the cache sizes and/or how long a resource is cached.

Ideally an approach for cache limiting like one supported by caffein could be quite efficient. Like evicting the objects which were not accessed (like re

[2022-01-30 20:37] csviri opened #887 "Dependent Resource Standalone Building Blocks"
todo

[2022-01-31 07:52] lburgazzoli commented on #877
I  understand, no worries :)

I guess here we need to define what we mean by memory utilization because it is true that with sharding you can reduce the memory consumed by a single operator but overall, you may end up requiring more memory as each operator has it s own memory overhead :).

To be clear, I have nothing against this exploration and eventually with an implementation (quite the opposit

[2022-01-31 08:23] metacosm commented on #857
Yes, I tend to think that we should limit ourselves to the fixed case as a start and see how it goes and if we need to make it more dynamic.

[2022-01-31 09:51] csviri commented on #877
Made it more clear that it is a memory utilization of a single instance of operator, not the overall memory usage.

[2022-01-31 10:31] csviri opened #888 "Cross Cutting Event Filtering (Aware of Caches?) Before Execution Reconciliation"
Within this issues we should investigate a need and use cases for a cross-cutting event filter. That is able to filter out events from all the event sources registered.
Note that v2 although we have a very simplified event handling, so events are propagated are usually just in simplest form, basically just wrapping the target custom resource `ResourceID`, but this could be easily changed, to put m

[2022-01-31 11:48] csviri commented on #843
As you describe `observedSpec`, it makes sense to solve this in general. But you can set also just specific information that is needed to be able to reconcile the external resources. But as mentioned there are different views on this, that if the state actually should be part of status or rather an other resource.

This works, I think. Not sure if it's a generally desired pattern. But I have no st

[2022-01-31 12:08] csviri commented on #885
Hi @scrocquesel

This is an expected behavior, event should be propagated if a dependent resource is deleted. It's not clear for if you meant this as a problem?

Do I understand correctly, you mean that basically a triggering event should be propagated on startup, since the dependent resource was deleted meanwhile in the backgroung?

(Sorry just try to understand what do you mean.)

[2022-01-31 14:04] #848 closed

[2022-01-31 17:05] jonathanvila opened #890 "InformerEventSource crashes with NPE on Tests"
## Bug Report

We have a test suite, that needs a new namespace for everytest. For that we use a new instance of the Operator on every test, assigning a client and a configuration pointing to the recently created test namespace.

With the "usual" conf , without a QuarkusMain class starting the operator.... we get an NPE on the InformerEventSource .

`2022-01-31 16:56:16,387 ERROR [io.fab.kub.cli.i

[2022-01-31 17:20] #94 closed

[2022-01-31 18:25] andreaTP commented on #860
I was looking at the provided E2E tests and I found a good foundation for what I was trying to build.
Specifically I'm completely happy to have "real" resources in the cluster (as opposed to mocks) as long as the lifecycle of such resources is managed by the testing infrastructure.

Those are the "missing features" I found:

- decide if the resources are created on each test or on each testing cla

[2022-01-31 22:03] scrocquesel commented on #885
No this is indeed expected.

Yes, otherwise it is not possible to recreate the missing dependent resource. The only way to trigger reconciliation is to update the primary resource.

[2022-02-01 08:57] csviri commented on #890
Hi @jonathanvila , this rings a bell, could you pls update to the newest version?  of sdk 2.0.2?
cc @metacosm

[2022-02-01 09:08] metacosm commented on #890
Why are you using 3.0.0-SNAPSHOT? Can you try with 3.0.2, please?

[2022-02-01 09:09] csviri commented on #885
@scrocquesel one way would be to not use observed generation. So on startup it will be reconciled.

The problem is that this would not even be consistent with the Informers (Neither with PerResourcePollingEventSource) . So if an operator is down, and a k8s resources is deleted meanwhile. On startup the informer does not propagate an event. So basically what you are saying is not equivalent to: on

[2022-02-01 09:13] csviri opened #892 "Transforming Object in Informers Before Storing it to Cache"
The idea is the don't cache the whole objects just the relevant parts

This was recently added to k8s, see:
https://github.com/kubernetes/kubernetes/pull/107507

[2022-02-01 09:34] jonathanvila commented on #890
Tried with Quarkus Operator SDK 3.0.2 ( JOSDK 2.0.2 ) , with same result :

`2022-02-01 10:33:25,557 ERROR [io.fab.kub.cli.inf.cac.SharedProcessor] (OkHttp https://192.168.39.20:8443/...) Failed invoking io.javaoperatorsdk.operator.processing.event.source.informer.InformerEventSource$1@4c1c8397 event handler: null: java.lang.NullPointerException
	at io.javaoperatorsdk.operator.processing.event.sou

[2022-02-01 10:30] andreaTP opened #893 "JUnit Extension: Namespaces controlled by an operator gets stuck in Terminating state on Test Error"
## Bug Report

Often when a Controller fails(e.g. during tests) leaves orphan finalizers and the relevant Namespace cannot be removed.

#### What did you do?

Running operators and having failing test runs.

#### What did you expect to see?

Resources are correctly Garbage Collected by Kubernetes

#### What did you see instead? Under which circumstances?

Namespaces are in `Terminating` state fore

[2022-02-01 10:45] andreaTP commented on #890
This issue could be coming from the Quarkus distribution, looks like that Application Lifecycle Events are fired up even during the Tests.

I found a possibly relevant PR: https://github.com/quarkusio/quarkus/pull/15144
According to it we should set: `quarkus.arc.test.disable-application-lifecycle-observers=true` by default, but it doesn't look to be enough.

cc. @metacosm

[2022-02-01 11:09] jonathanvila commented on #890
As per our conversation , the problem was related to this line :
`     SharedIndexInformer<Deployment> deploymentInformer =
                client.apps().deployments().inAnyNamespace()     <----------
                        .withLabels(Constants.DEFAULT_LABELS)
                        .runnableInformer(0);`
That has been solved with this code :
`       SharedIndexInformer<Deployment> deploymentIn

[2022-02-01 11:40] #890 closed

[2022-02-01 15:34] csviri commented on #882
Added a test. Works as expected.

[2022-02-01 15:37] csviri commented on #882
@andreaTP mentioned that the error is logged on ERROR level, that is polluting the logs for him. See:

Was thinking about this, but mainly it should not happen that the controller receives such Custom Resource.
So not sure if we want to change the log level. Or maybe split it into just one line on error, and with stack trace on debug. I have no strong opinion on this.

The logging is happening in

[2022-02-01 15:43] andreaTP commented on #882
@csviri apart from the log the SharedInformer keeps working as expected?

[2022-02-01 15:45] csviri commented on #882
yes, it seems to. Processes the next event properly.

[2022-02-01 15:49] andreaTP commented on #882
Thanks for checking @csviri ! 👍

If this is the behaviour, should we filter the exceptions from `AbstractWatchManager`?
This might hide other issues unfortunately ...

[2022-02-01 15:55] csviri commented on #882
I'm not sure, so this is not something that should normally happen, and indicates something not in place on the cluster. So not sure if we need to hide an error such this, since you normally want to fix it. @andreaTP

[2022-02-01 15:57] andreaTP commented on #882
fair enough 👍

[2022-02-01 16:34] csviri commented on #886
todo check the options for controller runtime: https://pkg.go.dev/sigs.k8s.io/controller-runtime/pkg/cache#Options

[2022-02-01 17:41] metacosm opened #897 "NPE when initializing the operator if there's no explicit namespace set in Kubernetes config"

[2022-02-01 19:51] scrocquesel commented on #885
Was pretty sure it was the case for `PerResourcePollingEventSource`. But i'm not reproducing it with only the `PerResourcePollingEventSource` . But when used with an InformerEventSource on Secret, the reconcile is triggered at startup while the secret do not change.

[code]

As you said, this is the expected behavior when `generationAwareEventProcessing` is false. It shouldn't be a big overhead to

[2022-02-01 20:15] scrocquesel commented on #885
[// we only propagate event if the resource was previously in cache
    if (cachedValue.isPresent()) {
      getEventHandler().handleEvent(new Event(relatedResourceID));
    }
](https://github.com/java-operator-sdk/java-operator-sdk/blob/14403fb1908773afe439835406970c2f1bcf5a0b/operator-framework-core/src/main/java/io/javaoperatorsdk/operator/processing/event/source/CachingEventSource.java#L56-L66

[2022-02-02 10:12] csviri commented on #885
yes, because the secret was there. If it would be deleted meanwhile, it would not trigger the reconciliation.

Maybe for missing dependent resource at startup, we should make a difference between nothing in the cache and an empty Optional.

The problem is that you don't know if it was deleted or it's just not created yet. The modified works because it's there, basically that is reported. TBH I don

[2022-02-02 10:39] csviri commented on #411
see https://kubernetes.slack.com/archives/CAW0GV7A5/p1643798302258639?thread_ts=1643796946.554699&cid=CAW0GV7A5

[2022-02-02 10:44] csviri commented on #885
This is loosely related: https://github.com/java-operator-sdk/java-operator-sdk/pull/901

[2022-02-02 11:53] sclorng commented on #885
From the reconcile pov, it make no difference. We are not doing reconciliation based on add/delete/modify delta operation. And it will not be possible to pass such an operation when calling reconcile. to me, handleDelete and handleEvent are only for managing the cache and decide if the reconcile should be triggered. I see three use case:
- we know for sure something change (being added, modified,

[2022-02-02 12:28] csviri commented on #885
@sclorng I completely agree, form the comment before.

@sclorng @scrocquesel  So again not sure we are understand each other,(happy to make a call on our discord server or somewhere to discuss, them make a summery under this issues), but:

Made a change under this PR: ​#901

So from now on startup PollingEventSource will synchronize, that means that if you check the resource on the reconciliation

[2022-02-02 13:31] sclorng commented on #885
For the manual step, this is the same issue as https://github.com/java-operator-sdk/java-operator-sdk/issues/870. Even if we don't put it in the cache, it will latter poll and eventually reconcile to sync. The important thing to document is that the cache should be called once per unit of work for each resource as it can't keep track of what's being done during this unit of work. UoW = reconcile o

[2022-02-02 13:43] csviri commented on #885
Yes, it is very similar, but it serves also a different purpose. In #870 it is mainly to not propagate the event. On polling event source this is an aspect too. Bu in PollingEventSource is an also more probabilistic situation in place.  If you don't populate itmanually, there can be a new reconciliation between the current reconciliation and the next poll (note the time period) that will actually

[2022-02-02 13:44] csviri commented on #885
Will update the docs too.

[2022-02-02 14:04] sclorng commented on #885
I was thinking of doing that only the first call to the cache. Then, a flag would say it has poll at least once so subsequent call will rely on this state (or the update one by the timer). So it is just delaying the first `getStateAndFillCache` until it is really needed. Then, all others call will be done by the timer only.
I'm thinking about this when you have more than one dependent resource and

[2022-02-02 14:18] csviri commented on #885
Well, yes that is an interesting idea, it could be optimized in this way. Not sure if in real life scenarios helps that much, so you eventually will have a custom resource in that state. And on an operator restart it would be good to poll before first sync as done now in that PR. But not against it.  Feel free to create a PR, maybe a separate issue, to handle that.

[2022-02-02 15:08] #897 closed

[2022-02-02 15:10] #885 closed

[2022-02-02 16:03] csviri opened #905 "Tweet on release!"
Automatically tweet on the standard JOSDK account on release:
https://twitter.com/javaoperatorsdk
Github action for that:
https://github.com/marketplace/actions/send-tweet-action

[2022-02-02 19:01] RishiKumarRay commented on #905
I would like to work on this, it sounds interesting

[2022-02-02 22:09] scrocquesel commented on #893
That can be an issue and I tend to use a k8s mock server implementation like https://github.com/fabric8io/kubernetes-client#mocking-kubernetes.
I'm not in favor of having to deal with a real server in a CI/CD pipeline. Your test run can be killed at any moment and you have to deal with messy things left over. If one really want to, it should use some sort of virtualization (could be a minikube or

[2022-02-02 22:34] scrocquesel commented on #886
If you clean up cache entries, I think you will be in the same state as at startup, that is being in an unknown previously observed state. It may lead to the issue of not triggering event on deleted resource. So the cache entry should be replaced with something lighter that will always trigger a reconcile or be enough smart to act as the real value regarding equals.

For eg, when the cache evict a

[2022-02-03 08:19] csviri commented on #886
@scrocquesel right, the plan is that in future the Informers will not handle the caching, just storing as you mentioned a minimal information of data to be detect if there was a change (this will be done in the fabric8 client project). This will open space for us to handle the caching specifically to our domain, thus customize it for our needs.

(There is already  a separate issues to discuss prun

[2022-02-03 08:30] csviri commented on #905
Sure, glad to hear! feel free to create a PR, maybe try to do it with a separate account, we can then setup the credentials for the official changer in the workflow.

[2022-02-03 08:33] RishiKumarRay commented on #905
@csviri  separate account of github , you mean ? I read we have to access keys first ?

[2022-02-03 08:43] csviri commented on #905
@RishiKumarRay I meant, maybe to experiment with separate twitter account first, to see how it works in you forked repo. Then we can add this as a step in the release workflow with a PR.

[2022-02-03 08:46] RishiKumarRay commented on #905
@csviri yeah sure i will do with my own account and let you know, meanwhile please assign it to me so that someone else should not claim this

[2022-02-03 16:24] jmrodri commented on #888
There is no pressing need for this feature at the moment. But this was the first time the question had arisen. We captured it as an issue for now. We can discuss more if we need it sooner than later.

[2022-02-03 19:44] scrocquesel commented on #860
I agree even if I think that it works well for small E2E test campaign. When the number of tests augment, it become longer and longer to run them all. And usually, there are not so independent as unit tests and you can't just run one test method. Also, the arrange part can be tricky, especially for very edge cases.

What I'm not sure is what should we test the framework doesn't already guarantee u

[2022-02-03 20:31] scrocquesel commented on #860
For an exemple of complexity, you can look at https://github.com/nais/naiserator/blob/master/pkg/synchronizer/synchronizer_test.go
It uses the go EnvTest which basically is just k8s api server and etcd, pretty much what fabricio mock server is offering.

[2022-02-04 09:00] csviri commented on #788
Changed the PollingEventSource to also sync on start.
The only exception is PerResourcePollingEventSource (and inbound event source, but those cannot be solved this way), it does not sync, instead reads the resource if it's not polled yet. So no syncing is required there.

Will close this issue for now.

[2022-02-04 09:00] #788 closed

[2022-02-04 09:03] csviri commented on #772
We had issues with the defaul plugin in the past. If no objection will close this issue for now, since it works like expected now.

[2022-02-04 09:03] #772 closed

[2022-02-06 15:44] scrocquesel commented on #843
It's not only about external resources. It's also the case when the target resource is not the representation of the CR spec.
For e.g., I have a `oauthclientpolicy` resource used to edit an existing `oauthclient` resource to configure part of it (say an array of allowed scope). Many `oauthclientpolicy` resources can contribute to one `oauthclient` resource.

When the `oauthclientpolicy` change, we

[2022-02-06 19:26] scrocquesel opened #911 "Infinite loop of exhausted retries on error"
## Bug Report

#### What did you do?

The operator throw an error during reconciliation. When retries are exhausted, the `updateErrorStatus` is called. As the documentation explains it, a event is trigger. But if the error is persistent, reconcile will exhausts retries, and loop.

If no retry is configured, then the loop is instantaneous and consumes lot of compute resources.

#### What did you ex

[2022-02-06 19:51] csviri commented on #843
@scrocquesel This makea sense, I'm not sure how we would generalise that, but would discuss that under a separate issues and discuss there the use cases. Like making some case study. Could create like "automatic state management" issue ? Thx

[2022-02-06 19:57] csviri commented on #911
@scrocquesel just to verify if I understand the concrete issue. In the status assume there is a field that changes on every execution? Otherwise there would no event since that would be no update, right?

Otherwise it make sense, in general after last retry or if no retry there should not be a reconciliation triggered by a status updtade if it is done by error handler. Is this how do you mean it?

[2022-02-06 20:07] scrocquesel commented on #911
Yes, I set a timestamp of when the error occured in a Condition. Seems, it's not a best practice.

Yes.

[2022-02-06 20:25] csviri commented on #911
Yes for now would just replace that variable part. See if that helps, then we can see how to handle this more nicely impelemtation wise.

[2022-02-07 08:47] RishiKumarRay commented on #905
@csviri i tried setting up and running , its working i just used this on push event that we can change it was just for testing . please check [here](https://github.com/RishiKumarRay/java-operator-sdk/runs/5090209996?check_suite_focus=true)

[2022-02-07 10:09] csviri commented on #905
@RishiKumarRay look good to me, could you create a PR pls?
Maybe we polish the text a bit but otherwise great!

[2022-02-07 10:16] RishiKumarRay commented on #905
@csviri yes ofcourse, i will be happy to make PR but before that you need to setup tweeter credentials in secrets by creating an app only after that it will work

[2022-02-07 10:23] csviri commented on #905
@RishiKumarRay sure will not merge until that is setup, but PR can be created, also this will be on release, so we can test it just on next release

[2022-02-07 10:35] RishiKumarRay commented on #905
@csviri thanks , i have added PR , after adding all secrets , just for testing you can use push event and later on we can test on release event. Thanks looking forward to it.

[2022-02-07 10:37] csviri commented on #905
Great, thx!! Will take a look asap

[2022-02-08 22:31] bearpaws opened #915 "Event sources for the same resource type in multiple namespaces"
With version 1.10.x of the SDK, event sources for the same type but different namespaces can be registered:

[code]

Using the same strategy in 2.1.1 produces an exception:

[code]

[code]

Is there an alternative way to implement this in v2?  This conversation implies it's still supported:
https://github.com/java-operator-sdk/java-operator-sdk/issues/827

**Additional context:**

The operator is

[2022-02-09 08:05] csviri commented on #915
hi @bearpaws , yes you have just to rename on of the event sources, there is a default name added, but the combination of name/type is unique. Just renaming one of the event sources should fix this.

[2022-02-09 11:58] metacosm commented on #915
More precisely, you need to override the `name` method in one of your event sources, for example by doing:
[code]

[2022-02-09 16:33] csviri opened #920 "Smart Comparing Specs To Check If Dependent Resource Needs to Applied Again"
## Problem Statement

For dependent resources we want to have a default behavior to compare k8s resource specs in order to check if the desired resource needs to be reapplied or not. For example if somebody provides a desired definition of a target resource, like a `Deployment` object , after the apply K8S fills some attributes with default values. So the actual resource on the server will be alwa

[2022-02-09 17:22] metacosm commented on #915
And it should also be exposed in the dependent resource configuration as well.

[2022-02-09 17:54] bearpaws commented on #915
Thanks @csviri and @metacosm - overriding the name fixed it.  Yes, a constructor argument for the name would help to clarify.

[2022-02-09 18:23] metacosm commented on #915
Keeping this open to add the name to constructor and associated configuration

[2022-02-10 08:21] csviri opened #922 "Extract Cleanup Interface from Reconciler"
The nice part would be that, this would server also as a switch for the finalizer. So the if the cleanup interface is implemented the finalizers are used otherwise not.
However then we should probably extract the name customization to a new annotation too. Like `@Finalizer(name = "my-custom-name")` in order to customize the finalizer name.

Original idea from @scrocquesel .

[2022-02-10 13:29] csviri opened #923 "Dependent Resource MVP Scope"
This is an umbrella issue, that defines the scope of the initial release / minimal viable product of Dependent Resources:

- [x] #978
- [x] #977
- [x] Cleanup code and add missing unit and integration tests
- [x] #939
- [x] https://github.com/java-operator-sdk/java-operator-sdk/issues/920
- [x] https://github.com/java-operator-sdk/java-operator-sdk/issues/924
- [x] #938
- [x] Check if it's possibl

[2022-02-10 13:37] csviri opened #924 "Always return the up to date resource by `getResource(primary)` after create or update in K8S Dependent Resources"

[2022-02-10 16:34] vmuzikar opened #925 ""After failed test" callback in E2E tests"
The E2E test framework should provide capability to perform actions on a failed tests. This could be use to e.g. save pod logs and YAMLs to a file.

[2022-02-12 02:23] #719 closed

[2022-02-13 20:18] csviri commented on #920
## Solution

It's quite normal that resources are altered during create and/or update, think of mutation hooks (adding side cart containers or similar is quite common too). One solution is to just compare if that desired state and actual state, if there are only additions accept that. So, this makes sure no value from desired spec is different from the actual spec (otherwise would be applied again

[2022-02-14 10:48] zuston opened #931 "Run failed when using the example of WebPage"
I just test the example of WebPage in our internal k8s cluster, and use kubectl with the admin role. Pity, it failed.

The operator of WebPage could be started, but when i apply -f "webpage.yaml", it can't accept event from k8s and then no corresponding pods created.

So i'm confused whether the test case of WebPage is valid. If OK, i have to recheck my k8s config again.

[2022-02-14 10:50] zuston commented on #931
Could you help me ? @csviri.
I'm not familiar with k8s. Thanks

[2022-02-14 11:26] csviri commented on #931
Hi @zuston , could you pls send the logs?

[2022-02-14 12:00] zuston commented on #931
What log? I can’t attach into operator docker.

[2022-02-14 12:18] csviri commented on #931
I assume you can access kubernetes. So you can get the logs from the pod with `kubectl logs <pod name>`.

[2022-02-14 12:28] metacosm commented on #931
Are you able to run the example locally, i.e. not deploying the operator on the cluster, first?

[2022-02-15 02:22] #660 closed

[2022-02-15 04:30] zuston commented on #931
I found the reason that the opeator yaml is incorrect.

[2022-02-15 07:25] #931 closed

[2022-02-15 18:24] metacosm opened #938 "Figure out whether we can avoid returning `Optional` for `DependentResource.eventSource`"

[2022-02-15 18:26] metacosm opened #939 "Need to review usage of `DependentResource.resourceType`"

[2022-02-15 18:33] metacosm opened #940 "Review how configuration is injected in DependentResource"
It's currently quite awkward to inject configuration into a dependent resource. See https://github.com/java-operator-sdk/java-operator-sdk/pull/937#discussion_r807130890_

[2022-02-16 07:54] csviri opened #942 "Sharing informers between Managed Dependent Resources"

[2022-02-16 08:06] csviri commented on #938
We should mainly consider it because of external resources, and for use cases when the reconciliation is periodically executed - not triggered by infermers.

Let's say the controller manages a set of external resources, one way to implement this is just to add periodic execution for the controller, so it checks all the resource states, and reconciles them. In this case no need for an event source.

[2022-02-16 08:08] csviri commented on #939
Could you describe this issue? Now this is moved to `KubernetesDependentResource` where it is detected automatically. But also there is a possibiilty to override it, in case of some multi level hierarchy. Not sure if this is an issue anymore.

[2022-02-16 15:38] csviri opened #948 "`KubernetesDependentResource` should preserve metadata on updates (currently replace used)"
This should be revisited, and it  should do smart "apply". Maybe support two modes, that will remove parts which are not specified by the desired state, like additional labels?

[2022-02-16 17:24] #920 closed

[2022-02-16 20:23] csviri commented on #920
Just small additional to note: after created/update and possibly default values and mutation hooks are applied. Detecting further changes on spec can be done by recording the generation after create/update in memory. This might or might be not desirable though.

[2022-02-17 07:18] asardaes opened #952 "[Request] Adding old resource to Reconciler's Context"
Hello, I have a use case in which the reconciliation logic changes slightly if a field in the resource changes from one specific value to another or viceversa. I don't think I can detect that with the current API because the old instance of the resource is not passed to the reconciler, but please correct if me if I'm wrong. I was thinking of adding a custom filter that injects custom flags into th

[2022-02-17 07:51] csviri commented on #952
Hi @asardaes, yes that is quite hacky, and especially it won't work if the operator restarts since the in memory state would be lost. If you need to store an explicit state you can put it into status, or rather a secret or config map. This is briefly touched in the state management in the docs:
https://javaoperatorsdk.io/docs/patterns-best-practices

[2022-02-17 07:56] metacosm commented on #952
Yes, what you're trying to accomplish kind of goes against the Kubernetes philosophy where you're supposed to react to state, not transitions (because due to the distributed nature of a cluster, you might miss transitions for a variety of reasons), so generally speaking, your CR should be reconcilable based on a standalone state. Your operator can sort of record transitions using your CR status, t

[2022-02-17 08:25] asardaes commented on #952
Ah, I should have mentioned that due to some limitations, the resources I'm monitoring right now are Config Maps, which don't have status unfortunately. Nevertheless, I can find alternatives, but I'll first give some thought to what you mention regarding reconciliation philosophy.

[2022-02-17 08:25] #952 closed

[2022-02-17 09:31] #905 closed

[2022-02-17 13:32] #938 closed

[2022-02-17 13:33] metacosm commented on #940
This will stay like this for now.

[2022-02-17 13:33] #940 closed

[2022-02-17 16:55] metacosm opened #955 "Make it possible to have dependents that are never created or updated"
It is very often the case that we want our operator to react to events pertaining to resources that are outside of the control scope of the operator (for example, because they need user input) and should therefore never be created, nor updated by our reconciler.

[2022-02-17 21:35] scrocquesel opened #957 "Reconciler should know when dependent resource already exist"
When the `AbstractDependentResource` already exist prior to creating the primary resource, the reconciler should know about it to be able to handle the situation and update the primary resource status accordingly.
For eg., the reconciler may set a CONFLICT status to let the user knows the observed spec conflict with an existing resource.

I have pushed a commit to demonstrate the use case on mysql

[2022-02-18 19:19] scrocquesel commented on #957
Sorry, I forgot to mention that currently there is no way to set `(EXISTING_SCHEMA, Schema.class)` in the context.

[2022-02-21 09:48] csviri commented on #948
One question is if we should replace the specs on update. Thus just replace everything with the values from desired value.
In this case default values and mutation hooks will always apply anyways on update(?).
Well on mutation hook this is not necessarily true, since it might be configured just for create.
Can we generally assume, that a correct configuration/implementation for a mutation hook is

[2022-02-21 10:02] metacosm commented on #948
The problem is that it's difficult to offer a generic solution since what needs to be preserved is quite operator- or use-case-dependent… I think we should wait and gather more feedback on this topic before implementing something.

[2022-02-21 10:49] csviri commented on #948
The problem is that the current implementation simply does not do for example optimistic locking, and does not preserve any annotations or labels added or finalizers added. It's an interesting question what to assume here on who adds the finalizers and how. But since there is API for that and it's a common case to add additional finalizers.

In general probably the easiest and simple what we can d

[2022-02-21 10:57] csviri commented on #948
Just for the record, experimented with this:

What would be a little nicer, since would preserves / overrides values from metadata not just from spec. The problem is with the move operation generated from JsonPatch.

[code]

It would be simple to do modifyng the JsonDiff (`io.fabric8.zjsonpatch`) , removing the  compactDiffs

[code]
Just we would have to copy the source code.

[2022-02-21 15:29] #948 closed

[2022-02-22 11:30] csviri opened #964 "Accessing Other Dependent Resources for a Managed Dependent Resource"
The purpose of the issue to prepare and discuss a design and implementation, regarding how Dependent Resource might access other dependent resources in managed mode.

## Problem statement

Dependent Resources are not independent of each other, it's a common usecase to use output or generally speaking data from other dependent resources. In standalone mode, when dependent resources created manually

[2022-02-22 12:10] metacosm commented on #964
Note that you can already pass information around using the `Context` object but it might be interesting to make things a little bit more structured, indeed.

[2022-02-22 12:15] csviri commented on #964
yes, would like to remove context  eventually if possible.

[2022-02-22 17:48] metacosm commented on #964
Out of curiosity: why? This provides a way for users to pass information around without the SDK having to know about it.

[2022-02-23 08:33] csviri commented on #964
I meant that, it might be eventually not needed or necessary to have. But we will see.

[2022-02-23 12:39] csviri opened #968 "Utility implementations of `DependentResource` for External Resources"
We might want to add some abstract dependent resources for external resources which are utilizing `PerResourcePollingEventSource` and `PollingEventSource`.

But more importantly those event sources might suffer from same issues as `KubernetesDependentResource`, that `getResource()`, so temporal cache should be also added there with related methods, see for details:

https://github.com/java-operato

[2022-02-23 16:53] csviri commented on #870
The linked implementation does the job, but not always, especially locally the event is sometimes arrived before the temporal cached is updated. I guess this is the best we can do ATM.

[2022-02-23 18:04] csviri commented on #870
An additional improvement could be that have this as a two phase update. Like mark that we will update resource so, no events are processed from that point. Maybe record the events coming meanwhile. And after the create/update make a second call to evaluate the situation. That will solve the concurrency issues, but will complicate the implementation.

[2022-02-24 12:00] csviri opened #969 "Filtering events after resource (marked) for deleted and related logic in Dependent Resources"
When a resources is explicitly deleted withing the reconciliation, it can trigger the reconciliation, normally if there are more finalizers, then removal of these finalizers, but the delete action itself to. We might want to achieve as similarly goals as in linked issues.  First we should discuss if this is needed in general. The reconciliation logic might actually rely on that if a resource is ac

[2022-02-24 14:29] metacosm commented on #955
This is supported with #963.

[2022-02-24 14:29] #955 closed

[2022-02-24 21:16] bearpaws opened #970 "Updating status sub-resource without an UpdateControl"
It seems the only way to update the status sub-resource via the SDK is to return an `UpdateControl` from `Reconciler.reconcile()`.

Is there a way to update the status *from* the reconcile method (without causing a resource version conflict)?

In some cases it would be useful to update the status before the method returns, especially the first time it runs for a new resource, so that users get imm

[2022-02-24 21:54] metacosm commented on #970
You could technically use the kubernetes client to update your resource's status directly.

[2022-02-24 21:59] scrocquesel opened #971 "Discussion around a Conditions api abstraction"
This is about managing primary resource conditions not the dependent one.

Like with `GenerationAware`, there could be a `ConditionsSetAwareStatus`.

[code]

The idea is to have a manager for a `ConditionType` which is basically a wrapper around the condition property. The `ConditionType` will explicit a Ready condition type and dependent conditions type. When all dependent conditions are True, th

[2022-02-25 08:26] csviri commented on #971
thx for the issue @scrocquesel .
After the release of [MVP](https://github.com/java-operator-sdk/java-operator-sdk/issues/923) the idea is indeed to go further and make next steps to automatically handle workflows. So I think managing conditions could be one of the features there. So we can revisit it that time.

[2022-02-25 10:09] #870 closed

[2022-02-25 10:09] #924 closed

[2022-02-25 18:34] bearpaws commented on #970
I had tried that and it works, however when the subsequent status change from the UpdateControl is applied, I get a resource version conflict:
[code]
I presume the SDK is not expecting the status to be modified manually.

[2022-02-25 18:57] csviri commented on #970
@bearpaws  what you can do is as a trick, to set the resource version manually to the resource you pass to UpdateControl, use the resource version returned from the manuall updated resource response. (`.metadata.resourceVersion`).
This is an optimistic locking failure.

[2022-02-25 20:26] metacosm commented on #970
I think we should use patch for status update. Also, having the resource version change on a status update seems like something that shouldn't happen so we might want to look into it.

[2022-02-25 20:33] metacosm commented on #970
Nevermind. I always confuse the generation and the resource version. 🤦
`resourceVersion` is updated on every write, while `generation` only changes when the `spec` changes.

https://stackoverflow.com/questions/47100389/what-is-the-difference-between-a-resourceversion-and-a-generation

[2022-02-25 20:35] metacosm commented on #970
Perhaps we should document this or even provide an API call for this scenario?

[2022-02-25 20:59] bearpaws commented on #970
I've confirmed that it works by passing along the new resource version.  Thank you both.

I think providing an API call is a good idea, since it's not clear that manual changes like this won't break versioning assumptions made elsewhere.  For my use case, the ideal place to use it would be from `Reconciler.reconcile()`.

[2022-02-25 21:06] scrocquesel commented on #970
I think the current API is enough. Kubernetes API is a restfull api and all fabricio methods returns the new version when successfull. As such, we should always use the returned entity for subsequent calls.

I always thought that's why the `UpdateControl.updateStatus` takes the whole resource instead of  just the Status. The documentation for `UpdateControl.updateResource` state `@param customReso

[2022-02-25 21:22] scrocquesel commented on #970
Note that this is also true for `ErrorStatusHandler.updateErrorStatus`.

[2022-02-25 21:29] csviri commented on #970
IMHO Not sure if it makes sense to provide an explicit API for this (also don't see how exactly). The whole scenario making more updates to the status in one reconciliation is rather exotic. We currently state in docs that we do optimistic locking for both status and/or resources update (as far I remember).

The patch would change the resource version too. Currently any change changes the resource

[2022-02-25 21:49] scrocquesel opened #973 "ErrorStatusHandler should have access to the reconcile context"
Now that the context can contain data regarding execution of reconcile, it may be interesting to expose that data to the error handler.

As the error handler has access only to the original resource and exception, it would add additional information so the handler can persist or compensate partial reconciliation state .

[2022-02-28 07:58] csviri opened #975 "Possibility to tell which error to retry in `ErrorStatusHandler`"
Currently all exceptions are retried. It could be a possibility to have users decided if an exception makes sense to retry, or in other words rather not to retry certain exceptions (usually which are related to the domain logic).

An another detail of this is that only runtime exceptions are supported now, it might be an idea to extend it to any `Exception`.

[2022-02-28 13:31] csviri opened #977 "Prepare WebPage sample variants with low level API and the Dependent Resources"

[2022-02-28 13:35] csviri opened #978 "Updated Docs Regarding Dependent Resources"

[2022-02-28 15:22] metacosm commented on #977
Shouldn't this be closed now?

[2022-02-28 15:39] #977 closed

[2022-02-28 23:21] asardaes opened #980 "Resync events are not passed to registered filters"
Hello, I have a reconciler that registers a `ResourceEventFilter` as well as a short-ish resync interval. Based only on the logs from my classes, I can see that the events received during resync are never processed by the filter, but they are seen by the reconciler. Is this by design?

[2022-03-01 02:34] #115 closed

[2022-03-01 07:13] csviri commented on #980
Hi @asardaes , what exactly you mean by resync interval in this case, what configuration?
`ResourceEventFilter` now applies now just on events for the custom resources. The periodic reconciliation is not implemented using resync intervals. So that is right, it will not receive the events for `reconciliationMaxInterval` from `@ControllerConfiguration` if you mean that.

[2022-03-01 10:20] asardaes commented on #980
Hi, yes, I was talking about `reconciliationMaxInterval`, I also use some informers directly with fabric8's client, that's why I thought it was related to that kind of resync. Is there more information about the reconciliation mechanism then? I think it's causing some weird race conditions because it doesn't go through the filters.

[2022-03-01 10:27] csviri commented on #980
@asardaes can you be more specific what are you seeing? Maybe some logs.

This is a relatively new feature, but basically it works that after reconciliation registers a timed event. The concurrency related logic is handled on a lower layer and it's independent from informers, that should not be an issue because of this.

Also note, that how it is mentioned in docs, this is meant to be rather a fai

[2022-03-01 13:30] asardaes commented on #980
Sorry, I guess I mixed some topics in an uninteded way. I didn't mean that my reconciler also has an informer or anything like that, I just meant that I've used informers in other projects, so when I saw the `reconciliationMaxInterval` options in this SDK, I thought it would simply pass that value to fabric8's classes to configure resync.

I think my intention is similar to #870. I have this in my

[2022-03-01 14:13] csviri commented on #878
Currently `HasMetadata.addOwnerReference` to do this manually. As @metacosm mentioned Dependent Resources will support this, that is the only layer I guess we can do this under the hood.

[2022-03-01 14:36] csviri commented on #980
Basically, as said before this is a fail-safe, if you want just to react on changes of the custom resource, you don't have to do anything that is by default. The `resourceVersion` changes are filtered out by the generation awareness (`generationAwareEventProcessing`), what is by default turned on also.

I understand this might be different from controller runtime, which contains such failsafe too

[2022-03-01 14:50] asardaes commented on #980
Right now I'm handling Config Maps, which don't have generation, so `generationAwareEventProcessing` is disabled in my case.

[2022-03-01 16:16] #980 closed

[2022-03-01 16:29] metacosm opened #986 "Consider a simpler `Matcher` interface"
Right now, the `Matcher` interface defines a single method: `public boolean match(Deployment actual, Deployment desired, Context context)`. This works quite nicely for the default implementation. However, in many cases, when people actually want to implement their own optimised version, it would be more effective and efficient to get the primary resource instead of the desired state as the desired

[2022-03-02 02:29] #699 closed

[2022-03-02 08:20] csviri commented on #986
The match is quite a generic problem. Or a problem that could be solved in a very generic way, based on desire and the actual state (what we already do in the current implementation). Hopefully most of  the users will be just use the default implementation out of the box.

I absolutely agree that some might need the primary to optimize for some special cases. On the other hand removing the desired

[2022-03-02 15:47] metacosm commented on #986
The default implementation is not neutral, though, at least for Kubernetes resources: it serialises both desired and actual resources then performs a JSON diff, which can potentially be rather intensive for large or often changing resources.

The generic implementation is only used for Kubernetes dependents where, usually, computing the desired state is less resource-intensive than the actual comp

[2022-03-03 08:31] csviri commented on #986
Yes, we should measure this part, to see the actual numbers.

Not sure I understand what you mean here. For non kubernetes like MySQL Schema, usually equals is used so, `actual.equals(desired)` this is what we do already for caching for polling event sources. So it's logical to do it also here. Otherwise we might want to re-thing the matching also in caches.

[2022-03-03 15:38] #739 closed

[2022-03-04 12:43] #986 closed

[2022-03-04 12:54] csviri opened #995 "Support for wait for a resource state condition"
## Problem statement

In a reconciler logic can happen that we need to wait  synchronously or asynchronously,  until a resource get's into a state. In other words a condition on the resource is evaluated continuously on the resource. The framework could explicitly support this, by a `wait-for` microframework, that can be the bases to implement automated workflows, desribed in issues: https://githu

[2022-03-04 13:58] metacosm commented on #995
The other alternative could also be to be able to re-schedule reconciliation for a later time very easily. It will all depend on how easy it is to define conditions and wait for them because if it makes the code complex to reason about, it might be easier and simpler to just reschedule a reconciliation at a later time. Cost vs. benefit kind of analysis.

[2022-03-04 14:47] csviri commented on #995
Yes, that is the plan to support that, like specif a condition, but the timeout is optional, if no timeout, it will just reschedule / return from reconciliation - so it is triggered by an event source event.

[2022-03-04 15:34] stefanbethke opened #996 "SunCertPathBuilderException: unable to find valid certification path to requested target when connecting to k3d"
## Bug Report

#### What did you do?

I have an operator running fine in Docker Desktop/Kubernetes. I need to make it work in Docker Desktop/k3d. Starting the operator from IntelliJ fails on startup.

#### What did you expect to see?

The operator should start and connect to the cluster.

#### What did you see instead? Under which circumstances?

[code]

#### Environment

**Kubernetes cluster type

[2022-03-04 15:36] stefanbethke commented on #996
Here's the complete stack trace:
[code]

[2022-03-04 15:57] metacosm commented on #996
The issue is that the fabric8 client cannot process certificates using elliptical curve encryption by default, which `k3d` uses. The fix is to include the following dependency to your project:
[code]

[2022-03-04 16:17] stefanbethke commented on #996
Unfortunately, that didn't help. Still getting the same error.

[2022-03-04 16:18] stefanbethke commented on #996
Here's the full commandline:
[code]

[2022-03-04 16:24] metacosm commented on #996
Sorry but I'm not too familiar with gradle but it seems you might need to tell IDEA to refresh its dependencies because the BouncyCastle dependency doesn't appear to be put in class path argument in the command line you pasted.

[2022-03-04 16:30] stefanbethke commented on #996
Duh, you are correct. Refreshing the caches did the trick, thank you! This sounds like it might be an FAQ...

[2022-03-04 16:41] metacosm commented on #996
Yes, I was thinking about the FAQ, indeed.

[2022-03-05 22:53] scrocquesel commented on #995
I think the waitFor is designed to be called in a new spawned thread from a reconcile loop. And I don't see the added value to wait synchronously when the whole architecture is based on eventing. You can register a reschedule on deadline and reconcile logic should handle this time based logic. I mean this is how it is done actually without Dependent. Why should we need another thread/timer to do i

[2022-03-07 08:19] csviri commented on #995
It's never a new Thread, pls see related PR (but it's pretty much just started ATM).

What I see now are three different scenarios:
1. (preferred) The `waitFor`, will return from reconciliation instantly if the condition is not met. The assumption is that there is an event source in place, that will trigger reconiliation if something changed.
2. it will return from reconciliation but will register

[2022-03-07 13:52] #968 closed

[2022-03-07 14:16] metacosm opened #1001 "Error when adding multiple event sources for the same type should state which controller is affected"

[2022-03-07 14:18] csviri commented on #971
FYI good article: https://maelvls.dev/kubernetes-conditions/

[2022-03-07 16:30] metacosm opened #1003 "Make `ControllerConfiguration.getDependentResources` more generic"
This would allow for better handling in stream operations.

[2022-03-07 21:36] metacosm commented on #1003
Thought that this might not have been needed after all but with more experiments it turns out that it is :)

[2022-03-07 21:39] metacosm opened #1004 "Introduce `ConfigurationServiceAware` interface"
This would allow for detyped injection of `ConfigurationService` where it's needed.

[2022-03-08 07:43] csviri commented on #1004
Where would it be used? In dependent resources?

[2022-03-08 15:20] csviri opened #1006 "Concurrency Issue with handling the updated resource after reconciliation."
(This part was reworked for 2.2.0 already, that is not effected)

[2022-03-08 22:15] scrocquesel commented on #995
I'm not sure to understand this use case. What do you mean by " since it will resource lot's of other API calls."

[2022-03-09 07:34] andreaTP commented on #458
This issue is fixed since everything got merged in `kubernetes-client` and JOSDK updated it.

[2022-03-09 08:32] andreaTP commented on #1006
The issue have been detected and reproduced in the Keycloak Operator CI.

Those are the relevant logs: [16_Build (16).txt](https://github.com/java-operator-sdk/java-operator-sdk/files/8212904/16_Build.16.txt).
And this is the code for reproducing (under the `operator` module):
https://github.com/andreaTP/keycloak/tree/check-ci-stability

The sequence of events that is triggering the issue looks as

[2022-03-09 08:36] andreaTP commented on #1006
For the records:
As a temporary workaround setting `generationAwareEventProcessing = false` in the `ControllerConfiguration` prevent the issue from rising.

[2022-03-09 10:13] metacosm commented on #458
Thanks for confirming, @andreaTP!

[2022-03-09 10:13] #458 closed

[2022-03-09 14:37] csviri commented on #995
So, this is quite a special case of operators, and up to discussion if we want to support it this way, if it would make too much confusion we can remove it:
Let's say an operator during a reconciliation calls just external API's, let's say 3 after each other, for example checks a
1. s3 bucket
2. calls github api,
3. and makes changes to an AWS RDS instance. In this order.

But not having event sou

[2022-03-09 16:09] metacosm opened #1012 "Consider moving `DefaultConfigurationService` and `AnnotationControllerConfiguration` into core module"
The initial thinking was that there were not needed in the core but not having them is actually causing more problems than having them there.

[2022-03-09 16:23] metacosm commented on #1012
Actually was a little too optimistic about it. I had forgotten about the fact that `AnnotationControllerConfiguration` requires an annotation processor to run to work properly, which shouldn't be brought into the core module, so this wouldn't be as straightforward as initially thought. We would need a "pure" runtime annotation processing version of `AnnotationControllerConfiguration` but then the